<ion-header>
  <ion-navbar color="first">
    <ion-title>业主委托书</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="bgWhite p10" *ngIf="data?.auditStatus==3">
    <font color="red">
      <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
      &nbsp;当前委托书正在审核，审核期间不允许修改</font>
  </div>
  <!-- 没有委托书 -->
  <form [formGroup]="form">
    <ion-list *ngIf="noPermission">
      <ion-item class="pl12 hdRightInfo1">
      <ion-label>上传人</ion-label><ion-label>{{agentname}}</ion-label>
        <ion-input type="text" value="{{agentname}}" class="p0" disabled>
        </ion-input>
      </ion-item>
      <ion-item class="pl12 hdRightInfo1">
      <ion-label>上传时间</ion-label>
      <ion-input type="text" value="{{agentname}}" class="p0" disabled>
      </ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="permission">
      <ion-item class="pl12 hdRightInfo1" >
        <ion-label>委托书编号</ion-label>
        <ion-input type="text"  class="p0" formControlName="delegateDocSn">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.delegateDocSn"  [control]="form.get('delegateDocSn')"  ></valid-error>
      <ion-item class="pl12">
        <ion-label>类型</ion-label>
        <ion-select okText="确定"  cancelText="关闭" [placeholder]="'请选择'" formControlName="delegateStyle">
          <ion-option value="1">截止时间</ion-option>
          <ion-option value="2">售出为止</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12">
          <ion-label>起始时间</ion-label>
          <ion-datetime displayFormat="YYYY/MM/DD" formControlName="delegateBeginTm"   doneText="确定"  cancelText="取消" (ionChange)="timeCompare()"></ion-datetime>
        </ion-item>
      <valid-error [errors]="errors.delegateBeginTm"  [control]="form.get('delegateBeginTm')"  ></valid-error>
      <ion-item class="pl12" *ngIf="this.form.value.delegateStyle == 1">
            <ion-label>截止时间</ion-label>
            <ion-datetime displayFormat="YYYY/MM/DD" formControlName="delegateEndTm" (ionChange)="timeCompare()" doneText="确定"  cancelText="取消"></ion-datetime>
          </ion-item>
      <valid-error [errors]="errors.delegateEndTm"  [control]="form.get('delegateEndTm')"  ></valid-error>
      <p *ngIf="timeCheck" class="errorTip">*起始时间不能大于结束时间</p>
      <div class="attorneyPic bgWhite">
        <span>委托书图片</span><span class="text-danger"  *ngIf="data?.auditStatus!=3&&imgJson">(*只能上传一张照片)</span>
        <upload [useDir]="useDir" [desc]="''" [position]="''" [src]="imgJson"  *ngIf="data?.auditStatus!=3&&imgJson" (successEvent)="weiTuo($event)"></upload>
        <ng-container *ngIf="data?.auditStatus==3">
          <div class="attorneyPic bgWhite" *ngFor="let item of imgJson;let i =index">
            <div class="m10">
              <img [src]="imgHeader+item.thumbnail" alt=""  [imgGallery]="{data:imgJson,index:i}"   class="img_upload">
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-grid [hidden]="data?.auditStatus==3">
      <ion-row class="p15">
          <button ion-button full color="danger" class="radius" [disabled]="form.invalid&&maxImagesCount" (click)="go()" *ngIf="sub">上传业主委托书</button>
        <button ion-button full color="danger" class="radius"  (click)="upYz()"  *ngIf="upd">修改业主委托书</button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
