page-housedetail{
  status.activated{
    background: #1ab394 !important;
  }
}
.button-ios-danger.activated{
  background: #1ab394;
}

.button-ios-danger{
  background: #1ab394;
}
.red{
  background: red !important;
  color: #fff !important;
}
//.records{
//  position: absolute;
//  right: 17px;
//  top: 13px;
//  font-size: 16px;
//  color: #fff;
//}
.redact{
    background: none;
    color: #1ab394;
    border: 1px solid #1ab394;
    width: 90%;
}
.hdRightInfo{
    position: relative;
}
.hdRightInfo span{
    position: absolute;
    top: 1.2rem;
    right: 13px;
}
.hdRightInfo input{
    text-align: right;
    padding-right: 18px
}
.hdRightInfo1 input{
    text-align: right;
}
.houseTips{
    padding: 8px 0 5px;
}
.houseTips a{
    background: #F8F8F8;
    display: inline-block;
    padding: 3px 12px;
    margin: 0 5px 3px;
}
.text-warning{
  color: #f8ac59;
}
.txt-center{
  text-align: center;
}

