<ion-header>
  <ion-navbar #navbar color="first" >
    <ion-title>房源修改</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" [hidden]="!data" >
    <div class="bgWhite p10 " *ngIf="lockStatus">
      <font color="red">
        <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
        &nbsp;房源已经锁定，无法下架、修改发布房源信息、上传或删除图片，修改或删除业主委托书，修改或删除钥匙
      </font>
    </div>
    <div class="bgWhite p10 " *ngIf="data?.unitPriceAudit">
      <font color="red">
        <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
        &nbsp;该房源目前处于价格审核阶段，不允许修改价格、面积、套内面积
      </font>
    </div>
    <ion-list>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>房源ID：{{data?.convIdReq}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item  class="pl12">
        <span>楼盘名称：</span>
        <!--<font color="#aaa" class="changes">-->
          <span class="defaults">{{form.value.estateName}}</span>
        <!--</font>-->
      </ion-item>
    </ion-list>
    <ion-list>
      <!--<div class="hdRightInfo1" [hidden]="!data?.shareShow">-->
        <!--<ion-item class="pl12">-->
          <!--<ion-label>栋号<i class="text-danger">*</i></ion-label>-->
          <!--<ion-input type="text" placeholder="请填写英文或数字" class="tr" formControlName="buildingNo"></ion-input>-->
        <!--</ion-item>-->
      <!--</div>-->
      <div class="bgWhite" [hidden]="!data?.shareShow">
        <div class="hdRightInfo">
          <label>栋号<i class="text-danger">*</i></label>
          <input type="text" formControlName="buildingNo"   placeholder="请填写英文或数字" class="upinput"/>
          <button ion-button outline item-end>栋</button>
        </div>
      </div>
      <div *ngIf="form.value.buildingNo&&form.value.buildingNo==0" class="valid-error">*不能为0</div>
      <valid-error [errors]="errors.buildingNo"  [control]="form.get('buildingNo')"  ></valid-error>
      <div class="hdRightInfo1" [hidden]="!data?.shareShow">
        <ion-item class="pl12">
          <ion-label>单元<i class="text-danger">*</i></ion-label>
          <ion-input type="text" class="tr"  formControlName="unitNo"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="form.value.unitNo&&form.value.unitNo==0" class="valid-error">*不能为0</div>
      <valid-error [errors]="errors.unitNo"  [control]="form.get('unitNo')"  ></valid-error>


      <div class="bgWhite" [hidden]="!data?.shareShow">
        <div class="hdRightInfo">
          <label>楼层<i class="text-danger">*</i></label>
          <input type="text" formControlName="floorNo" placeholder="请填写数字"
                 [ngClass]="{'form-control-danger':form.get('floorNo')&&form.get('floorNo').touched}" class="upinput"/>
          <button ion-button outline item-end>层</button>
        </div>
      </div>

      <!--<div class="hdRightInfo" [hidden]="!data?.shareShow">-->
        <!--<ion-item class="pl12">-->
          <!--<ion-label>楼层<i class="text-danger">*</i></ion-label>-->
          <!--<ion-input type="text" formControlName="floorNo" placeholder="请填写数字"-->
                     <!--[ngClass]="{'form-control-danger':form.get('floorNo')&&form.get('floorNo').touched}">-->
          <!--</ion-input>-->
        <!--</ion-item>-->
        <!--<span class="hdRightInfo">层</span>-->
      <!--</div>-->
      <div *ngIf="form.value.floorNo&&form.value.floorNo==0" class="valid-error">*不能为0</div>
      <valid-error [errors]="errors.floorNo"  [control]="form.get('floorNo')"  ></valid-error>
      <ion-item class="pl12 hdRightInfo1" [hidden]="!data?.shareShow">
        <ion-label>房间号<i class="text-danger">*</i></ion-label>
        <ion-input type="text"   placeholder="请输入房间号" formControlName="houseNo" class="p0">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.houseNo"  [control]="form.get('houseNo')"  ></valid-error>
    </ion-list>
    <ion-list class="m10">


      <!--<div class="bgWhite">-->
        <!--<div class="hdRightInfo">-->
          <!--<label>建筑面积<i class="text-danger">*</i></label>-->
          <!--<input type="text" formControlName="spaceSize"  placeholder="请填写数字" [disabled]="data?.unitPriceAudit" (ionChange)="sizes()"/>-->
          <!--<button ion-button outline item-end>平</button>-->
        <!--</div>-->
      <!--</div>-->


      <div class="relative">
        <ion-item class="pl12">
          <ion-label style="padding-right:3px;">建筑面积<i class="text-danger">*</i></ion-label>
          <ion-input type="text" formControlName="spaceSize" placeholder="请填写数字" class="padRight" [disabled]="data?.unitPriceAudit">
          </ion-input>
        </ion-item>
        <span class="rights">平</span>
      </div>
      <div class="valid-error" *ngIf="form.value.spaceSize==0&&form.value.spaceSize!=''">*不能为0</div>
      <valid-error [errors]="errors.spaceSize"  [control]="form.get('spaceSize')"  ></valid-error>
      <div *ngIf="form.value.spaceSize>1000000000" class="valid-error">
        <p>*超出长度!</p>
      </div>

      <!--<div class="bgWhite">-->
        <!--<div class="hdRightInfo">-->
          <!--<label>套内面积<i class="text-danger">*</i></label>-->
          <!--<input type="text" formControlName="innerSpaceSize"  [disabled]="data?.unitPriceAudit"/>-->
          <!--<button ion-button outline item-end>平</button>-->
        <!--</div>-->
      <!--</div>-->

      <div class="relative">
        <ion-item class="pl12">
          <ion-label>套内面积</ion-label>
          <ion-input type="text" formControlName="innerSpaceSize" class="padRight" [disabled]="data?.unitPriceAudit">
          </ion-input>
        </ion-item>
        <span class="rights">平</span>
      </div>
      <div class="valid-error" *ngIf="form.value.innerSpaceSize==0&&form.value.innerSpaceSize!=''">*不能为0</div>
      <valid-error [errors]="errors.innerSpaceSize"  [control]="form.get('innerSpaceSize')"  ></valid-error>
      <div *ngIf="form.value.innerSpaceSize>1000000000" class="valid-error">
        <p>*超出长度!</p>
      </div>
      <div *ngIf="compare(form.value.innerSpaceSize,form.value.spaceSize)" class="valid-error">*套内面积不能大于建筑面积!</div>


      <div class="bgWhite">
        <div class="hdRightInfo">
          <label>价格<i class="text-danger">*</i></label>
          <input type="text" [disabled]="data?.unitPriceAudit"  formControlName="propertyPrice" class="upinput"/>
          <button ion-button outline item-end>平</button>
        </div>
      </div>


      <!--<div class="hdRightInfo">-->
        <!--<ion-item class="pl12">-->
          <!--<ion-label>价格<i class="text-danger">*</i></ion-label>-->
          <!--<ion-input type="text" [disabled]="data?.unitPriceAudit" formControlName="propertyPrice">-->
          <!--</ion-input>-->
        <!--</ion-item>-->
        <!--<span class="hdRightInfo">万</span>-->
      <!--</div>-->
      <valid-error [errors]="errors.propertyPrice"  [control]="form.get('propertyPrice')"  ></valid-error>

      <ion-list (click)="clickHx()">
        <button ion-item class="pl12" *ngIf="HxRight">
          <font>户型<i class="text-danger">*</i></font>
        </button>
        <ion-item class="pl12" *ngIf="HxDown" >
          <font>户型<i class="text-danger">*</i></font>
          <i class="iconfont icon-xia"></i>
        </ion-item>
      </ion-list>
      <ion-list  [hidden]="!showHx">
        <ion-item class="pl12">
          <ion-label>室<i class="text-danger">*</i></ion-label>
          <ion-select #selectOne okText="确定"  cancelText="关闭"   formControlName="bedrooms" [placeholder]="'请选择'" [selectOptions]="selectTitle('室')">
            <ion-option value="1">一室</ion-option>
            <ion-option value="2">二室</ion-option>
            <ion-option value="3">三室</ion-option>
            <ion-option value="4">四室</ion-option>
            <ion-option value="5">五室</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>厅<i class="text-danger">*</i></ion-label>
          <ion-select #selectTwo okText="确定"  cancelText="关闭"  formControlName="halls"  [placeholder]="'请选择'" [selectOptions]="selectTitle('厅')">
            <ion-option value="0">无</ion-option>
            <ion-option value="1">1厅</ion-option>
            <ion-option value="2">2厅</ion-option>
            <ion-option value="3">3厅</ion-option>
            <ion-option value="4">4厅</ion-option>
            <ion-option value="5">5厅</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>卫<i class="text-danger">*</i></ion-label>
          <ion-select #selectThree okText="确定"  cancelText="关闭"  formControlName="bathrooms" [placeholder]="'请选择'" [selectOptions]="selectTitle('卫')">
            <ion-option value="0">无</ion-option>
            <ion-option value="1">1卫</ion-option>
            <ion-option value="2">2卫</ion-option>
            <ion-option value="3">3卫</ion-option>
            <ion-option value="4">4卫</ion-option>
            <ion-option value="5">5卫</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>厨<i class="text-danger">*</i></ion-label>
          <ion-select #selectFour okText="确定"  cancelText="关闭"   formControlName="kitchens"  [placeholder]="'请选择'" [selectOptions]="selectTitle('厨')">
            <ion-option value="0">无</ion-option>
            <ion-option value="1">一厨</ion-option>
            <ion-option value="2">二厨</ion-option>
            <ion-option value="3">三厨</ion-option>
            <ion-option value="4">四厨</ion-option>
            <ion-option value="5">五厨</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>阳<i class="text-danger">*</i></ion-label>
          <ion-select #selectFive okText="确定"  cancelText="关闭"  formControlName="balconies"  [placeholder]="'请选择'" [selectOptions]="selectTitle('阳')">
            <ion-option value="0">无</ion-option>
            <ion-option value="1">一阳</ion-option>
            <ion-option value="2">二阳</ion-option>
            <ion-option value="3">三阳</ion-option>
            <ion-option value="4">四阳</ion-option>
            <ion-option value="5">五阳</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item class="pl12">
        <ion-label>朝向<i class="text-danger">*</i></ion-label>
        <ion-select #selectSix okText="确定" cancelText="关闭" [placeholder]="'请选择'" formControlName="orientation" [selectOptions]="selectTitle('朝向')">
          <ion-option *ngFor="let item of localCode | arryCodeValue : 'orientation'"  value="{{item.val}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>装修<i class="text-danger">*</i></ion-label>
        <ion-select #selectSev okText="确定" cancelText="关闭" [placeholder]="'请选择'" formControlName="decoration" [selectOptions]="selectTitle('装修')">
          <ion-option *ngFor="let item of localCode | arryCodeValue : 'decoration'"  value="{{item.val}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="m10">
      <ion-item class="pl12 hdRightInfo1" [hidden]="!data?.shareShow">
        <ion-label>业主姓名<i class="text-danger">*</i></ion-label>
        <ion-input type="text" placeholder="请填写业主姓名" formControlName="contact" >
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.contact"  [control]="form.get('contact')"  ></valid-error>

      <ion-item class="pl12" [hidden]="!data?.shareShow">
        <ion-label>业主性别<i class="text-danger">*</i></ion-label>
        <ion-select #selectEng okText="确定"   cancelText="关闭" formControlName="sex" [selectOptions]="selectTitle('业主性别')">
          <ion-option value="male">男</ion-option>
          <ion-option value="female">女</ion-option>
        </ion-select>
      </ion-item>
      <valid-error [errors]="errors.sex"  [control]="form.get('sex')"  ></valid-error>
      <ion-item class="pl12 hdRightInfo1" [hidden]="!data?.shareShow">
        <ion-label>业主电话1<i class="text-danger">*</i></ion-label>
        <ion-input type="tel" placeholder="请填写业主电话"  formControlName="contactInfo" >
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.contactInfo"  [control]="form.get('contactInfo')"  ></valid-error>
      <ion-item class="pl12 hdRightInfo1" [hidden]="!data?.shareShow">
        <ion-label>业主电话2</ion-label>
        <ion-input type="tel" placeholder="可选填" formControlName="contactInfo2"  >
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.contactInfo2"  [control]="form.get('contactInfo2')"  ></valid-error>
      <ion-item class="pl12 hdRightInfo1" [hidden]="!data?.shareShow">
        <ion-label>业主电话3</ion-label>
        <ion-input type="tel" placeholder="可选填" formControlName="contactInfo3" >
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.contactInfo3"  [control]="form.get('contactInfo3')"  ></valid-error>
    </ion-list>
    <ion-list>
      <ion-item class="pl12">
        <ion-label>房屋用途<i class="text-danger">*</i></ion-label>
        <ion-select #selectNine okText="确定" [disabled]="true" formControlName="buzzType"  [placeholder]="'请选择'" cancelText="关闭" [selectOptions]="selectTitle('房屋用途')">
          <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue : 'buzz_type'">{{x.name}}</ion-option>
        </ion-select>
      </ion-item>


      <!--默认出售-->
      <div *ngIf="this.form.value.buzzType == 1 || this.form.value.buzzType == 3">
        <div class="relative">
          <ion-item class="pl12">
            <ion-label>出售价格<i class="text-danger">*</i></ion-label>
            <ion-input type="text"  formControlName="propertyPrice" class="padRight" placeholder="请填写数字" [disabled]="data?.unitPriceAudit">
            </ion-input>
          </ion-item>
          <span class="rights">万</span>
        </div>
      </div>
      <!--<div class="bgWhite" *ngIf="this.form.value.buzzType == 1 || this.form.value.buzzType == 3">-->
        <!--<div class="hdRightInfo ">-->
          <!--<label>出售价格<i class="text-danger">*</i></label>-->
          <!--<input type="text" formControlName="propertyPrice"  placeholder="请填写数字" [disabled]="data?.unitPriceAudit"/>-->
          <!--<button ion-button outline item-end>万</button>-->
        <!--</div>-->
      <!--</div>-->
      <div *ngIf="form.value.innerSpaceSize&&form.value.innerSpaceSize==0" class="valid-error">*不能为0</div>
      <valid-error [errors]="errors.propertyPrice"  [control]="form.get('propertyPrice')"  ></valid-error>
      <!--END-->

      <!--出租-->
      <div *ngIf="this.form.value.buzzType == 2 || this.form.value.buzzType == 3">
        <div class="hdRightInfo">
          <ion-item class="pl12">
            <ion-label>租赁价格<i class="text-danger">*</i></ion-label>
            <ion-input type="text" formControlName="propertyPrice" placeholder="请填写数字" >
            </ion-input>
          </ion-item>
          <span class="hdRightInfo">元/月</span>
        </div>
      </div>
      <!--<valid-error [errors]="errors.propertyPrice"  [control]="form.get('propertyPrice')"  ></valid-error>-->
      <!--END-->
      <!--租售-->
      <!--END-->
      <ion-item class="pl12">
        <ion-label>建筑类型<i class="text-danger">*</i></ion-label>
        <ion-select #selectTen okText="确定"   [placeholder]="'请选择'"  formControlName="buildingType" cancelText="关闭" [selectOptions]="selectTitle('建筑类型')">
          <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue : 'building_type'">{{x.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="pl12">
        <ion-label>配备电梯<i class="text-danger">*</i></ion-label>
        <ion-select #selectEle okText="确定"  formControlName="hasElevator"  [placeholder]="'请选择'" cancelText="关闭" [selectOptions]="selectTitle('配备电梯')">
          <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue:'has_elevator' ">{{x.name}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-list class="m10" [hidden]="!sensitiveInfo">
      <button ion-item class="pl12" tappable (click)="lookHouse()">
        房源实勘
      </button>
      <button ion-item class="pl12" tappable (click)="letterOfAttorney()">
        业主委托书
      </button>
      <button ion-item class="pl12" tappable (click)="goKey()">
        钥匙
      </button>
    </ion-list>




    <ion-list (click)="clickIntention()" style="margin-top: 10px">
      <button ion-item class="pl12" *ngIf="right">
        <font>更多</font>
      </button>
      <ion-item class="pl12" *ngIf="down" >
        <font>更多</font>
        <i class="iconfont icon-xia"></i>
      </ion-item>
    </ion-list>
    <ion-list  [hidden]="!showIntention">
      <ion-item class="pl12">
        <ion-label>房源类型</ion-label>
        <ion-select #selectTwith okText="确定"   formControlName="propertyType"  [placeholder]="'请选择'" cancelText="关闭" >
          <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue : 'property_type' | reversePipe:'val'">{{x.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>房屋年限</ion-label>
        <ion-select #selectThirty okText="确定"   formControlName="propertyLife"  [placeholder]="'请选择'" cancelText="关闭" >
          <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue : 'property_life' | reversePipe:'val' ">{{x.name}}</ion-option>
        </ion-select>
      </ion-item>

      <div class="allStyle">
        <ion-row>
          <ion-col col-4 class="p0">
            <span class="upHe">楼户比例</span>
          </ion-col>
          <ion-col col-4>
            <input type="text"  formControlName="elevators"   class="upI" />
            <span class="upPostion">梯</span>
          </ion-col>
          <ion-col col-4>
            <input type="text"  formControlName="apartments"  class="upI"/>
            <span class="upPostion">户</span>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="form.value.elevators&&form.value.elevators==0" class="valid-error">*不能为0</div>
      <div *ngIf="form.value.apartments&&form.value.apartments==0" class="valid-error">*不能为0</div>
      <valid-error [errors]="errors.elevators"  [control]="form.get('elevators')"></valid-error>
      <valid-error [errors]="errors.apartments"  [control]="form.get('apartments')"></valid-error>
      <ion-item class="pl12">
        <ion-label>挂牌时间</ion-label>
        <ion-datetime placeholder="请选择时间"  formControlName="businessTime"  displayFormat="YYYY-MM-DD" cancelText="关闭" doneText="确定"></ion-datetime>
      </ion-item>
      <ion-item class="pl12" *ngIf="this.form.value.buzzType == 1 || this.form.value.buzzType == 3">
        <ion-label>出售标签</ion-label>
        <ion-select #selectFourty okText="确定" cancelText="关闭"  formControlName="tagsStr"   multiple="true" [placeholder]="'请选择'">
          <ion-option value="{{item.val}}" *ngFor="let item of houLabel | reversePipe:'val';let i = index">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <div *ngIf="this.form.value.buzzType == 2 || this.form.value.buzzType == 3">
        <ion-item class="pl12">
          <ion-label>租赁标签</ion-label>
          <ion-select #selectSixty okText="确定"  [placeholder]="'请选择'" cancelText="关闭" >
            <ion-option value="0">拎包入住</ion-option>
            <ion-option value="1">紧邻地铁</ion-option>
            <ion-option value="2">钥匙房</ion-option>
            <ion-option value="3">独卫</ion-option>
            <ion-option value="4">家电齐全</ion-option>
          </ion-select>
        </ion-item>
      </div>


      <!--默认出售*ngIf="this.form.value.buzzType == 1 || this.form.value.buzzType == 3"-->
      <div [hidden]="this.form.value.buzzType == 2">
        <ion-item class="pl12">
          <ion-label>交易权属</ion-label>
          <ion-select #selectFivety okText="确定"  formControlName="buzzOwnerType"   [placeholder]="'请选择'" cancelText="关闭">
            <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue : 'buzz_owner_type'">{{x.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>抵押类型</ion-label>
          <ion-select #selectSevty okText="确定"  formControlName="propertyMortgage"  [placeholder]="'请选择'" cancelText="关闭" >
            <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue : 'property_mortgage'">{{x.name}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <!--END-->


      <!--出租-->
      <div *ngIf="this.form.value.buzzType == 2 || this.form.value.buzzType == 3">
        <ion-item class="pl12">
          <ion-label>出租类型</ion-label>
          <ion-select okText="确定"  [placeholder]="'请选择'" cancelText="关闭" >
            <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue : 'rent_type'">{{x.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>居住现状</ion-label>
          <ion-select okText="确定"  [placeholder]="'请选择'" cancelText="关闭" >
            <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue : 'curr_live_state'">{{x.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>付款方式</ion-label>
          <ion-select okText="确定"  [placeholder]="'请选择'" cancelText="关闭" >
            <ion-option value="{{x.val}}" *ngFor="let x of localCode | arryCodeValue : 'rent_pay_type'">{{x.name}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-list>
    <ion-list (click)="godesc()" class="m10">
      <button ion-item class="pl12">
        房源描述
      </button>
    </ion-list>
    <ion-grid>
      <ion-row [hidden]="!data?.shareShow">
        <ion-col col-12>
          <button ion-button class="status" tappable full color="danger" class="radius" (click)="save()"
                  [disabled]="form.invalid|| lockStatus  || errBtnHttp">确认修改</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>





