<ion-header>
    <ion-navbar color="first">
      <ion-title>房源实勘</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <!-- 实勘审核中不能修改 -->
    <form>
      <div class="bgWhite p10"  *ngIf="lockhoseDetail?.auditStatus!=3">
        <font color="red" *ngIf="!lockhoseDetail?.open&&!isCreater">
          <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
          24小时内仅允许房源录入人上传图片!</font>

        <font color="red" *ngIf="imgJson&&lockhoseDetail?.open || isCreater">
          <!--<ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>-->
          提示:达成实勘标准为：
          <span *ngIf="lockhoseDetail?.bedrooms>=1">卧室、</span>
          <span *ngIf="lockhoseDetail?.halls>=1">客厅、</span>
          <span *ngIf="lockhoseDetail?.bathrooms>=1">卫生间、</span>
          <span *ngIf="lockhoseDetail?.kitchens>=1">厨房、</span>
          图片各上传至少一张。
        </font>
      </div>
      <div class="bgWhite p10" *ngIf="lockhoseDetail?.auditStatus==3&&
      lockhoseDetail.submitter==localStorageProvider.get('loginInfo').user.id">
        <font color="red">
          <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
          你提交的实勘图正在审核，审核期间不允许上传或修改</font>
      </div>
      <div class="bgWhite p10" *ngIf="lockhoseDetail?.auditStatus==3&&
      lockhoseDetail.submitter!=localStorageProvider.get('loginInfo').user.id">
        <font color="red">
          <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
          提示:当前实勘图正在审核，审核期间不允许上传或修改</font>
      </div>
      <div class="bgWhite p10" *ngIf="lockhoseDetail?.lock">
        <font color="red">
          <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
          房源锁定时不允许上传图片</font>
      </div>
      <div class="bgWhite p10" *ngIf="houseData?.propertyStatus>=64&&houseData?.propertyStatus<512">
        <font color="red">
          <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
          关闭房源时不允许上传图片</font>
      </div>

      <div class="bgWhite p10" *ngIf="!houseData?.sameCompany">
        <font color="red">
          <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
          不同加盟店不允许上传图片</font>
      </div>

      <ion-list class="m10" >
          <div class="attorneyPic bgWhite" >
            <span class="lookHeadLine">门牌图:</span>
            <upload  [useDir]="useDir"   [src]="imgJson" [desc]="'门牌图'" [position]="'add1'" (successEvent)="menPai($event)" *ngIf="imgJson" [isBtn]="showBtn" [superior]="lockhoseDetail.superior" [object]="lockhoseDetail" ></upload>
          </div>
          <div class="attorneyPic bgWhite"  >
            <span class="lookHeadLine">户型图：</span>
            <upload   [useDir]="useDir" [src]="imgJson" [desc]="'户型图'" [position]="'add2'" (successEvent)="huXin($event)" *ngIf="imgJson" [isBtn]="showBtn"  [object]="lockhoseDetail"></upload>
          </div>
          <div class="attorneyPic bgWhite"  *ngIf="lockhoseDetail?.halls>=1" >
            <span class="lookHeadLine"><i class="text-danger">*</i>客厅图：</span>
            <upload   [useDir]="useDir"  [src]="imgJson" [desc]="'客厅图'" [position]="'add3'" (successEvent)="keTin($event)" *ngIf="imgJson" [isBtn]="showBtn" [object]="lockhoseDetail"></upload>
          </div>
          <div class="attorneyPic bgWhite" *ngIf="lockhoseDetail?.bedrooms>=1" >
            <span class="lookHeadLine"><i class="text-danger">*</i>卧室图：</span>
            <upload   [useDir]="useDir" [src]="imgJson" [desc]="'卧室图'" [position]="'add4'" (successEvent)="woShi($event)" *ngIf="imgJson" [isBtn]="showBtn"  [object]="lockhoseDetail"></upload>
          </div>
          <div class="attorneyPic bgWhite" *ngIf="lockhoseDetail?.kitchens>=1">
            <span class="lookHeadLine" ><i class="text-danger">*</i>厨房图：</span>
            <upload  [useDir]="useDir" [src]="imgJson" [desc]="'厨房图'" [position]="'add5'" (successEvent)="chuFang($event)" *ngIf="imgJson" [isBtn]="showBtn"  [object]="lockhoseDetail"></upload>
          </div>
          <div class="attorneyPic bgWhite"  *ngIf="lockhoseDetail?.bathrooms>=1">
            <span class="lookHeadLine"><i class="text-danger">*</i>卫生间图：</span>
            <upload [useDir]="useDir" [src]="imgJson" [desc]="'卫生间图'" [position]="'add6'" (successEvent)="woShenJian($event)"
                    *ngIf="imgJson" [isBtn]="showBtn"  [object]="lockhoseDetail"></upload>
          </div>
          <div class="attorneyPic bgWhite" >
            <span class="lookHeadLine">其他图：</span>
            <upload   [useDir]="useDir" [src]="imgJson" [desc]="'其他图'" [position]="'add7'" (successEvent)="other($event)"
                      *ngIf="imgJson" [isBtn]="showBtn"  [object]="lockhoseDetail"></upload>
          </div>
        </ion-list>
      <div>
        <div class="p15"    *ngIf="showBtn " [hidden]="lockhoseDetail?.auditStatus==3 || !showBtn" >
          <button ion-button full color="danger"     [disabled]="isDisabled"   class="radius" (click)="update()"  >上传图片</button>
        </div>
      </div>
    </form>
  </ion-content>
<!--
/**
1 正常 2 不可见 4 删除 8 待审核 16	审核中 32 已成交 64	暂不交易 128 无效房源 256 他售房源 512 锁定
*/
private Integer propertyStatus;-->
