<!--
  房源详情页面
-->
<ion-header [ngClass]="{headerCss:classFlag}">
  <ion-navbar #navbar color="first" [ngClass]="{addCss:classFlag}">
    <!--<ion-title [hidden]="!classFlag">房源详情</ion-title>-->
    <ion-buttons end>
      <button ion-button icon-only tappable >
        <!--<ion-icon name="guanzhu"></ion-icon>-->
        <!--<ion-icon name="fenxiang"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="houseData" id="contents" (ionScroll)="scrollHandler($event)">
  <!--<div class="pops"></div>-->
  <!--propertyPics-->
  <ion-slides #mySlider  style="" autoplay="3000" pager="true" loop="true" paginationType="fraction">

    <ion-slide *ngIf="!imgJson">
      <img src="assets/imgs/banner.png" width="100%">
    </ion-slide>
    <!--assets/imgs/default.jpg-->
    <ng-container *ngIf="imgJson">
      <ion-slide  *ngFor="let item of imgJson;let i = index"  pager="true">
        <img [src]="imgHeader+item.imagePath"  [imgGallery]="{data:imgJson,index:i}" width="100%">
      </ion-slide>
    </ng-container>
  </ion-slides>

  <div class="wrap bgWhite">
    <h4>
      {{houseData.estateName}}
      {{houseData.bedrooms}}室
      {{houseData.halls}}厅
    </h4>
    <ion-grid>
      <ion-row>
        <ion-col col-4 class="p0">
          <p class="default">总价</p>
          <div class="houseInfo">
            {{houseData.propertyPrice}}
            {{houseData.propertyPriceUnit==1?'万':'元'}}
           </div>
        </ion-col>
        <ion-col col-4  class="middleHouseType infoPadding p0">
          <p class="default">户型</p>
          <div class="houseInfo">
            {{houseData.bedrooms}}室
            {{houseData.halls}}厅
            {{houseData.bathrooms}}卫
            <!--{{houseData.kitchens}}厨-->
            <!--{{houseData.balconies}}阳-->
          </div>
        </ion-col>
        <ion-col col-4 class="infoPadding p0">
          <p class="default">建筑面积</p>
          <div class="houseInfo">{{houseData.spaceSize}}m²</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="m10 ">
      <!--房源标签-->
      <div class="tips">
        <!--[ngClass]="{uDis:item.tagsStr}"-->
        <div class="tips"  >
          <a *ngFor=" let x of tagPipe(houseData.tagsStr)" class="m5">{{tagName(x)}}</a>
        </div>
      </div>

      <!--房源信息-->
      <ion-grid class="p0">
        <ion-row>
          <!--<ion-col col-7>-->
            <!--户型：-->
            <!--{{houseData.bedrooms}}室-->
            <!--{{houseData.halls}}厅-->
            <!--{{houseData.bathrooms}}卫-->
            <!--{{houseData.kitchens}}厨-->
            <!--{{houseData.balconies}}阳-->
          <!--</ion-col>-->
          <ion-col col-6>
           <span class="default"> 单价：</span>
            {{unitPrice(houseData)}} 元/m²
            <!--<span>{{houseData.propertyPriceUnit==1?'万元':'元'}}/m²</span>-->
          </ion-col>
          <ion-col col-6>
            <span class="default"> 朝向：</span>{{ orentationPipe(houseData.orientation) }}
          </ion-col>
        </ion-row>
        <ion-row>

          <ion-col col-6>
            <span class="default"> 楼层：</span>{{houseData.floorNo}}
          </ion-col>

          <ion-col col-6>
           <span class="default">  装修：</span>{{ decorationPipe(houseData.decoration)}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <span class="default"> 用途：</span>{{ houseInfoPipe(houseData.buzzType,buzzTypeJson) }}
          </ion-col>
          <ion-col col-6>
            <span class="default"> 建筑类型：</span>{{ buildingTypePipe( houseData.buildingType) }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <span class="default"> 楼户比例：</span>{{houseData.elevators}}梯  {{houseData.apartments}}  <span *ngIf="houseData.apartments">户</span>
          </ion-col>
          <ion-col col-6>
            <span class="default">  建筑面积：</span>{{houseData.spaceSize}}m²
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <span class="default"> 套内面积：</span>{{houseData.innerSpaceSize}}m²
          </ion-col>
          <ion-col col-6>
            <span class="default"> 配备电梯：</span>{{houseData.hasElevator==0?'无':'有'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <span class="default"> 录入时间：</span>{{houseData.createdTime | date:'yyyy/MM/dd'}}
          </ion-col>
          <ion-col col-6>
            <span class="default"> 归属人：</span>{{houseData.realtorId}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--更多(业主信息,小区信息)-->
      <div class="p10">
        <button ion-button color="danger" full (click)="goMore()">更多信息</button>
      </div>
    </div>
  </div>
  <div class="m10 bgWhite describe">
    <div>房源描述</div>
    <div class="m10">
      {{houseData.propertyDesc}}
    </div>
  </div>
  <div class="m10 bgWhite wt" *ngIf="letteratorneyData">
    <ion-row>
      <ion-col col-8>
        <div class="m5">业主委托书</div>
        <p>编号：{{letteratorneyData.delegateDocSn}}</p>
        <p class="m5">类型：{{letteratorneyData.delegateStyle}}</p>
        <p >起始时间：{{letteratorneyData.delegateBeginTm}}</p>
      </ion-col>

      <!--<ion-col col-4>-->
        <!--<img src="" width="100%" height="80" class="m5">-->
      <!--</ion-col>-->
      <div class="attorneyPic bgWhite" *ngFor="let item of letteratorneyImgJson">
        <p>{{item.desc}}</p>
        <div class="m10">
          <img [src]="imgHeader+item.thumbnail" alt="" class="img_upload">
        </div>
      </div>

    </ion-row>
  </div>
  <div class="m10 bgWhite wt" *ngIf="keyData">
    <ion-row>
      <ion-col col-8>
        <div class="m5">钥匙</div>
        <p>钥匙编号：{{keyData.keySn}}</p>
        <p class="m5">钥匙存储地址：{{keyData.keyAddress}}</p>
      </ion-col>
      <!--<ion-col col-4>-->
        <!--<img src="" width="100%" height="80" class="m5">-->
      <!--</ion-col>-->
      <div class="attorneyPic bgWhite" *ngFor="let item of keyImgJson;let i =index">
        <div class="m10">
          <!--[imgGallery]="{data:imgJson,index:i}"-->
          <img [src]="imgHeader+item.thumbnail" alt=""  [imgGallery]="{data:keyImgJson,index:i}"   class="img_upload">
        </div>
      </div>
    </ion-row>
  </div>
  <ion-list class="m10">
    <button ion-item  style="padding: 0 16px" tappable (click)="rolepeople()">
      角色人
      <font color="#aaa" class="changes"></font>
    </button>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-row class="footers">
    <ion-col col-2 class="tc"  (click)="record()">
      <img src="assets/imgs/record.png" style="display: block;margin: 0 auto;" width="" height="">
      <!--<span>记录</span>-->
    </ion-col>
    <ion-col col-5>
      <button ion-button style="background: #fff;color: #1ab394;border: 1px solid #1ab394" tappable (click)="goFollow()">跟进</button>
    </ion-col>
    <ion-col col-5>
      <button ion-button tappable (click)="edit()">编辑</button>
    </ion-col>
  </ion-row>
  <!--<ion-row>-->
    <!--<ion-col col-4 class="p10">-->
      <!--<button ion-button (click)="goFollow()">跟进</button>-->
    <!--</ion-col>-->
    <!--<ion-col col-4 class="p10">-->
      <!--<button ion-button (click)="goFollow()">记录</button>-->
    <!--</ion-col>-->
    <!--<ion-col col-4 class="p10">-->
      <!--<button ion-button (click)="edit()" class="edit">编辑</button>-->
    <!--</ion-col>-->
  <!--</ion-row>-->
</ion-footer>
