page-housinfo {
  ion-header{
    background: none !important;
    z-index: 999;
  }
  .priAudit{
    background: #F7604B !important;
    color: #fff !important;
  }
  .abnormal{
    color: #FA5741;
    font-size: 1.5rem;
  }
  .descCSS{
    color: #AAA;
  }
  .defaults{
    font-size: 1.5rem;
  }
  .tieDefault{
    color: #666;
  }
  ion-header{
    ion-icon{
      font-size: 2.5rem !important;
      margin: 0 5px;
    }
  }
  .tips a{
    font-size: 1.4rem;
  }
  .addCss{
    background-color: #1ab394 !important;
    //transition: opacity 1s;
    -webkit-animation-name: fadeInOut;
    -webkit-animation-duration: 500ms;
  }
  .headerCss{
    background: #1ab394 !important;
    display: block;
  }

  @-webkit-keyframes fadeInOut {
    0% {
      opacity:0;
    }
    25% {
      opacity:0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity:0.75;
    }
    100%{
      opacity:1;
    }
  }

  .removeCss{
    background-color: #1ab394 !important;
    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: 500ms;
  }
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }

    50% {
      opacity: 0.5;
    }

    100%{
      opacity:0;
    }
  }

  ion-navbar{
    background-color: rgba(0,0,0,0);
  }

  ion-slides {
    width:100%;
    height: 300px;
    background: #000;
    justify-content: center;
    //border: 1px solid;
    img{
      width: inherit !important;
      height: 100% !important;
      margin: auto;
      -webkit-mask:-webkit-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0.1));
    }
  }
  .swiper-pagination-fraction{
  width: 40px;
  background: rgba(0,0,0,.5);
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  right: 12px;
  left: inherit;
  height: 18px;
  line-height: 18px;
}
  .scroll-content{
    margin-top: 1px !important;
    margin-bottom: 55px !important;
  }
  .wrap{
    padding:0 15px;
    h4{
      border-bottom: 1px solid #f3f3f3;
      padding: 15px 0;
      margin: 0;
    }
    ion-grid{
      border-bottom: 1px solid #f3f3f3;
      padding:14px 0;
    }
    button{
      background: #f8f8f8;
      color: #1ab394;
      border-radius: 50px;
      font-size: 1.5rem;
    }
  }
  .describe{
    padding:5px 15px 8px;
    .item-ios.item-block .item-inner{
      border: 0;
    }
    //文本行
    .clamp{

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 25px;
    }
    button{
      min-height: 3.6rem;
      .activated{
        background: none !important;
      }
    }

}
  .wt{
    padding: 2px 12px 8px;
    div:first-child{
      font-size: 1.6rem;
      margin-bottom: 8px;
    }
  }

  ion-footer{
    background: #fff;
    padding: 28px 0;
    border-top: 1px solid #f1f1f1;
    .footers {
      ion-col{
        padding:0 10px;
        margin:3px 0;
      }
    }
    .follows{
      background:none;
      color:#1ab394;
      border: 1px solid #1ab394;
    }
    .compile.activated{
      background: #1ab394 !important;
    }
  }
  .houseInfo{
    //border: 1px solid;
    color: #FA5741;
    margin-top: 2px;
  }

  .priceAbnormal{
    color: #FA5741 !important;
  }

  .middleHouseType{
    position: absolute;
    height: 30px;
    width: 1px;
    background: #f3f3f3;
    right: 6px;
    top:7px;

  }
  .infoPadding{
    padding-left: 8px!important;
  }
  .bannerPop{
    position: absolute;
    background: rgba(0,0,0,.2);
    top: 0;
    width: 100%;
    height: 299px;
    z-index: 1;
  }
}
.updeteHeader{
  background: #1ab394 !important;
}
