<ion-header>
  <ion-navbar>
    <ion-title>添加带看</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <form>
    <ion-grid class="p0" *ngIf="data">
      <ion-row>
        <ion-col col-6 class="p0">
          <ion-list>
            <ion-item>
              <ion-label class="pl12">房源ID：{{data.convId}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-6 class="p0">
          <ion-list>
            <ion-item>
              <ion-label>楼盘：{{data.estateName}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <ion-label class="pl12">楼盘地址：</ion-label>
              <ion-label class="updateTextaera">
                <span> {{standardAddress}}</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="pl12 bgWhite">
          <ion-item>
            <ion-label>看房时间<i class="text-danger">*</i></ion-label>
            <ion-datetime placeholder="请选择您的看房时间" [(ngModel)]="followup_time"  name="followup_time" displayFormat="YYYY/MM/DD HH:mm" doneText="确定"  cancelText="取消"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 class="followMain bgWhite">
          <div>
            看房记录：<i class="text-danger">*</i>
          </div>
          <div>
            <textarea rows="5" [(ngModel)]="content"  name="content"  placeholder="你跟进的内容..."></textarea>
          </div>
        </ion-col>
        <div class="attorneyPic bgWhite" (click)="presentActionSheet()">
          <div class="bgWrapper m10"  *ngIf="!path"></div>
          <div *ngIf="path" class="m10" >
            <img [src]="imgSrc"  class="img_upload"/>
          </div>
        </div>

        <ion-col col-12 class="bgWhite p10">
          <button ion-button full color="danger"  [disabled]="!followup_time||!content"  class="radius" (click)="save()">确定</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
