.cHead{
    padding: 21px 3px;
}
.cLeftImg{
    border-radius: 100%
}
.cRightMain{
    padding-left: 15px;
}
.setting{
    position: absolute;
    right: 12px;
    top: 10px;
}
.setting ion-icon{
    font-size: 1.6em;
}
.imgWrap{
width: 70px;
height: 70px;
overflow: hidden;
//border-radius: 100%;
}

#centerContent {
  margin-top:0px;
  padding-top: 40px;
}
.linkDownload{
  text-decoration: none;
}
