<ion-content id="centerContent" >
  <!--<div class="setting">-->
    <!--<ion-icon name="shezhi"></ion-icon>-->
  <!--</div>-->
  <ion-grid class="bgWhite cHead">
    <ion-row>
      <ion-col col-3>
        <div class="imgWrap">
          <img src="{{photo}}"  class="cLeftImg" alt="" width="100%" height="100%">
        </div>
      </ion-col>
      <ion-col col-9 class="cRightMain" style="    margin-top: 6px;">
        <div>
            <font size="4">{{name}}</font>
          <a class="followTips" *ngIf="this.custposName">{{custposName}}</a>
        </div>
        <!--<div  class="m5">-->
          <!--<font size="2" color="#aaa">武昌一店</font>-->
        <!--</div>-->
        <div class="m10">
          <font size="2" color="#aaa">工号：{{gh}}</font>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="m10">
    <button ion-item class="pl12" tappable (click)="aboutUs()">
      关于我们
    </button>
    <button ion-item class="pl12" tappable (click)="help()">
      帮助反馈
    </button>
    <!--(click)="updateVersion()"-->
    <button [hidden]="true"  ion-item class="pl12" (click)="updateVersion()" tappable >
      检测版本
      <span>(当前版本:{{versionNumber}})</span>
    </button>

    <button ion-item class="pl12">
      <a *ngIf="!showNewVersion" (tap)="tip()">检测版本</a>
      <a *ngIf="showNewVersion&&android"  class="linkDownload  pl12"
         href="https://www.pgyer.com/liveeasyApp" >
        检测版本
        <!--(发现新版本:{{aLinKDownloadVersion}})-->
      </a>
      <a *ngIf="showNewVersion&&ios"  class="linkDownload  pl12"
         href="https://www.pgyer.com/liveeasyAppIos" >
        检测版本
        <!--(发现新版本:{{aLinKDownloadVersion}})-->
      </a>
      <ion-badge item-end color="danger" *ngIf="showNewVersion">
        新版本
      </ion-badge>
      <!--<a *ngIf="showNewVersion"  class="linkDownload  pl12" href="https://www.pgyer.com/apiv2/app/install?appKey=9db9597481973c878648387bf30eaca0&_api_key=14eca046de7309cd5125d4e3bdb1afd1" >-->
        <!--检测版本(发现新版本:{{aLinKDownloadVersion}})-->
      <!--</a>-->
    </button>
  </ion-list>
  <ion-list class="m10">
    <button ion-item class="pl12" tappable (click)="updatepwd()">
      修改密码
    </button>
  </ion-list>
  <ion-list class="m10">
    <ion-item class="tc" (click)="reset()">
        退出登录
    </ion-item>
  </ion-list>
</ion-content>
