<ion-header>
  <ion-navbar #navbar color="first">
    <ion-title>消息通知</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher
    [pullMax]="480"
    [pullMin]="180"
    (ionRefresh)="doRefresh($event)" class="refresh" *ngIf="val==1&&check || adjust || close">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉推荐"
      refreshingSpinner="circles"
      refreshingText="加载数据中">
    </ion-refresher-content>
  </ion-refresher>
  <div class="tc refreshTip" *ngIf="not">暂无更新</div>
  <div class="tc refreshTip" *ngIf="haveData">已更新{{newCount}}条房源</div>


  <ion-row class="bgWhite houseMain" style="margin: 10px 15px" *ngFor=" let item of pageData; index as i;" tappable (click)="detail(item)">
    <ion-col col-12 class="bgWhite p10">
      <h6 style="margin-top: 8px">{{ msgPipe(item.operationCode)}}</h6>
      <p class="m10 ellipsis" style="padding-right: 46px">{{item.messageContent}}</p>
      <div class="defaults ">{{item.createTime | date:'yyyy年MM月dd日 HH:mm:ss'}}</div>
      <div  class="read">{{item.messageStatusInfoEntity.status==1?'已读':'未读'}}</div>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasData">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div *ngIf="all&&hasData" class="sTips">已加载全部
  </div>
</ion-content>




