page-checkhouse {
    .pl12.activated{
      background: #fff !important;
    }
    .readTips{
      position: absolute;
      right: 38px;
      color: #aaa;
      top: 15px;
    }

    .read{
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
      border-left: 1px solid #F0F0F0;
      padding: 30px 15px;
      font-size: 1.6rem;
    }
}
