<ion-header >
  <ion-navbar #navbar color="first" >
    <ion-title *ngIf="val==1">关闭房源审核</ion-title>
    <ion-title *ngIf="val==2">房源调整</ion-title>
    <ion-title *ngIf="val==3">房源下架</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>


  <ion-refresher
    [pullMax]="480"
    [pullMin]="180"
    (ionRefresh)="doRefresh($event)" class="refresh">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉推荐"
      refreshingSpinner="circles"
      refreshingText="加载数据中">
    </ion-refresher-content>
  </ion-refresher>
  <div class="tc refreshTip" *ngIf="not">暂无更新</div>
  <div class="tc refreshTip" *ngIf="haveData">已更新{{newCount}}条房源</div>
  <div>
      <ion-list  *ngIf="val==1">
        <button ion-item class="pl12" *ngFor="let item of check;" (click)="go(item)">
         {{item.messageContent}}
          <span class="readTips">未读</span>
        </button>
      </ion-list>

      <ion-list *ngIf="val==2">
        <button ion-item class="pl12"  *ngFor="let item of adjust;" (click)="go(item)" >
          {{item.messageContent}}
          <span class="readTips">未读</span>
        </button>
      </ion-list>

      <ion-list *ngIf="val==3">
        <button ion-item class="pl12" *ngFor="let item of close;" (click)="go(item)">
          {{item.messageContent}}
          <span class="readTips">未读</span>
        </button>
      </ion-list>


    <div class="content_page" style="margin-top: 20px">
      <div *ngIf="hasData&&pageData ==null" class="tc">
        <ion-spinner item-start name="ios"></ion-spinner>
        <div>加载数据中...</div>
      </div>
      <div *ngIf="!hasData"  class="tc p10">
        抱歉！没有找到数据
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasData">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载中">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="all&&hasData" class="sTips">已加载全部
    </div>
  </div>
</ion-content>


