//------------
page-housing {
  ion-spinner{
    margin-left: -2px;
  }
  .houseMenu{
    background: #fff;
  }
  .tips {
    a {
      display: inline-block;
      font-size: xx-small;
      padding: 1px 3px;
      margin-right: 6px
    }
    a:first-child {
      background: #FEEDE9;
      color: #F98369;
    }
    a:nth-child(2) {
      background: #E7F7F7;
      color: #7DD4D0;
    }
    a:nth-child(3) {
      background: #E9F6FC;
      color: #69C2EC;
    }
    a:nth-child(4) {
      background: #F6EAF5;
      color: #C373BA;
    }
    a:nth-child(5) {
      background: #E2F5ED;
      color: #3DBD89;
    }
    a:nth-child(6) {
      background: #E8F7E4;
      color: #68CA47;
    }
    a:nth-child(7) {
      background: #e3ebee;
      color: #84abba;
    }
    a:nth-child(8) {
      background: #feffcc;
      color: #fec500;
    }
    a:nth-child(9) {
      background: #ffe1e1;
      color: #e08989;
    }
    a:nth-child(10) {
      background: #f0f0da;
      color: #d3ba64;
    }
  }

  .serInput {
    width: 87%;
    display: inline-block;
    vertical-align: middle;
  }
  .toolbar-background-ios {
    background-color: #f8f8f8;
  }
  .scroll-content{
    top: 110px;
    bottom: 55px;
    margin: 0 !important;
    border-top: none !important;
  }
}

.uDis{
  height: 30px;
  overflow: hidden;
}
.p15{
  padding:0 5px 15px;
}

.updateBg {
  background: #F8F8F8;
}

.houseType{
  padding: 0 25px;
}
.item-radio-checked.item-ios ion-label {
  color: #1ab394;
}
.radio-ios .radio-checked .radio-inner {
  border-color: #DB2924;
}
.active{
  color: #1ab394;
}
.xiaoQu{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 60%;
}
.upIcon{
  top: -2px !important;
}
.sTips{
text-align: center;
color: #aaa;
padding: 5px 0 12px;
}

.refresh{
  margin: 40px 0 35px;
}

#propertyHeader {
  background-color: #F8F8F8;
}

@keyframes MyAnimation {
  from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;transform: translate3d(3000px, 0, 0);}
  60% {opacity: 1;transform: translate3d(-25px, 0, 0);}
  75% {transform: translate3d(10px, 0, 0);}
  90% {transform: translate3d(-5px, 0, 0);}
  100% {opacity: 1;transform: none;}
}

.my-animation {
  animation: MyAnimation 300ms;
}
