//------------
page-housing {

  .moreTip{
    display: inline-block;
    border: 1px solid #f2f2f2;
    color: #aaa;
    padding: 0 12px 0 10px;
    margin-right: 5px;
  }
  .addCor{
    color: #1ab394;
  }
  .clamp{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .updateLine{
    .item-ios.item-block .item-inner{
      border: 0;
    }
    .item-ios .radio-ios{
      margin: 0;
    }
  }
  .activated{
    background: none !important;
  }
  .range-ios .range-pin{
    display: none !important;
  }
  .esRow{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 40px;
    display: inline-block;
  }
  .down{
    margin-top: -8px;
  }
  .range-ios.range-has-pin{
    padding: 0;
  }
  .range-ios {
    .range-bar{
      height: 2px;
    }
    .range-bar-active{
      background: #1ab394;
    }
  }
  .bar-button-default-ios{
    color: #000;
  }
  ion-spinner{
    margin-left: -2px;
  }
  .houseMenu{
    background: #fff;
    border-bottom: 1px solid #f7f7f7;
  }
  .serInput {
    width:89%;
    display: inline-block;
    vertical-align: middle;
  }
  .toolbar-background-ios {
    background-color: #f8f8f8;
  }
  .scroll-content{
    top: 110px;
    bottom: 55px;
    margin: 0 !important;
    border-top: none !important;
  }

.fromHomeSearch{
  .scroll-content{
    bottom: 0px!important;
  }

}
}
.uDis{
  height: 25px;
  overflow: hidden;
}
.p15{
  padding:0 5px 15px;
}

.updateBg {
  background: #F8F8F8;
}

.houseType{
  padding: 0 25px;
}
.item-radio-checked.item-ios ion-label {
  color: #1ab394;
}
.radio-ios .radio-checked .radio-inner {
  border-color: #DB2924;
}
.active{
  color: #1ab394;
}
.xiaoQu{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 60%;
}
.upIcon{
  top: -2px !important;
  color: #1ab394 !important;
}
.sTips{
text-align: center;
color: #aaa;
padding: 5px 0 12px;
}

.refresh{
  margin: 40px 0 35px;
}

#propertyHeader {
  background-color: #F8F8F8;
}

@keyframes MyAnimation {
  from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;transform: translate3d(3000px, 0, 0);}
  60% {opacity: 1;transform: translate3d(-25px, 0, 0);}
  75% {transform: translate3d(10px, 0, 0);}
  90% {transform: translate3d(-5px, 0, 0);}
  100% {opacity: 1;transform: none;}
}

.my-animation {
  animation: MyAnimation 300ms;
}


.unitPrice{
  color: #FA5741!important;
}

.errorPrice{
   background-color: #1ab394;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 4px;
  text-shadow: none;
  color: white;
}
