<ion-header id="propertyHeader">

  <ion-navbar #navbar>
    <ion-searchbar  #searchBar placeholder="请输入小区或商圈名" [(ngModel)]="floorName"  class="serInput" (tap)="allSearch()" [disabled]="true"></ion-searchbar>
    <ion-icon ios="ios-add" md="md-add" class="adds" tappable (click)="addHouse()"></ion-icon>
  </ion-navbar>

  <ion-row class="houseMenu" >
    <ion-col col-3 class="tc" tappable (click)="showMenu1()" [ngClass]="{color:this.show}">
      <span [ngClass]="{color:this.searchArea,esRow:this.searchArea}" style="width: 30px;" *ngIf="searchArea&&searchArea!='不限'">
        {{ searchArea}}
      </span>
      <span *ngIf="!searchArea||searchArea=='不限'">区域</span>
      <ion-icon name="md-arrow-dropdown" *ngIf="searchArea&&searchArea!='不限'" [ngClass]="{color: this.searchArea && this.searchArea!=''  ,down:this.searchArea }"></ion-icon>
      <ion-icon name="md-arrow-dropdown" *ngIf="!searchArea||searchArea=='不限'"></ion-icon>
    </ion-col>

    <ion-col col-3 class="tc animated bounceIn" tappable (click)="showMenu2()" [ngClass]="{color:this.houseType}">
      <span *ngIf="searchFloorNum==2&&!bedroomUnlimt" [ngClass]="{color:params.bedrooms||bedroomUnlimt}"> {{bedroomUnlimt?'不限':housePipe(params.bedrooms)}}</span>
      <span  *ngIf="searchFloorNum!=2||bedroomUnlimt" > 户型</span>
      <ion-icon name="md-arrow-dropdown" [ngClass]="{color:searchFloorNum ==2&&!bedroomUnlimt}"></ion-icon>
    </ion-col>

    <ion-col col-3 class="tc animated bounceIn" tappable (click)="showMenu3()" [ngClass]="{color:this.housingEstate}">
      <span [ngClass]="{color:starts,esRow:ends}">
       <span *ngIf="starts !=0"> {{starts}}</span>{{ends}}
      </span>
      <span [hidden]="starts" >价格 </span>
      <ion-icon name="md-arrow-dropdown" [ngClass]="{color:starts,down:ends}"></ion-icon>
    </ion-col>
    <ion-col col-3 class="tc" tappable (click)="mores()" [ngClass]="{color:this.more}">
      <span [ngClass]="{color:searchMore()}">更多</span>
      <ion-icon name="md-arrow-dropdown" [ngClass]="{color:searchMore()}"></ion-icon>
    </ion-col>
  </ion-row>

</ion-header>
<ion-content no-bounce  [ngClass]="{'fromHomeSearch':comFromHomeSearch }" >

  <ion-refresher
    [pullMax]="480"
    [pullMin]="180"
    (ionRefresh)="doRefresh($event)" class="refresh" >
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉推荐"
      refreshingSpinner="circles"
      refreshingText="加载数据中">
    </ion-refresher-content>
  </ion-refresher>
  <div class="tc refreshTip" *ngIf="not">暂无更新</div>
  <div class="tc refreshTip" *ngIf="haveData">已更新{{newCount}}条房源</div>
  <ion-grid class="p0 relative" >
    <p class="bgWhite tips " style="padding: 15px 12px;overflow: scroll;white-space:nowrap;"  *ngIf="moreSearchData">
      <ng-container *ngIf="datas">

        <a style="padding: 1px 3px" *ngFor="let i of datas.tagsArry;let i =index;"   >
          {{tagName(i)}}
        </a>

        <ng-container  *ngIf="moreSearchData">
        <span class="moreTip"   *ngFor="let i of moreSearchData['orientationArry'] ">
        {{cxPipe(i)}}
        </span>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="moreSearchData['hasElevatorArry']">
        <span class="moreTip" *ngFor="let item of moreSearchData['hasElevatorList']" >
           <span *ngIf="item.active"> {{item.name}}</span>
        </span>
      </ng-container>

      <ng-container *ngIf="moreSearchData['spaceSizeArry']">
        <span class="moreTip" *ngFor="let item of moreSearchData['spaceSizeList']" >
           <span *ngIf="item.active"> {{item.name}}</span>
        </span>
      </ng-container>

      <ng-container  *ngIf="moreSearchData['decorationArry']">
        <span class="moreTip"  *ngFor="let item of moreSearchData['decorationList'] "  >
           <span *ngIf="item.active">{{item.name}}</span>
        </span>
      </ng-container>

      <ng-container  *ngIf="moreSearchData['buildTypeArry']">
        <span class="moreTip"  *ngFor="let item of moreSearchData['buildTypeList'] "  >
           <span *ngIf="item.active">{{item.name}}</span>
        </span>
      </ng-container>

      <ng-container  *ngIf="moreSearchData['positionArry']">
        <span class="moreTip"  *ngFor="let item of moreSearchData['positionList'] "  >
           <span *ngIf="item.active">{{item.name}}</span>
        </span>
      </ng-container>

    </p>

    <ion-row class="bgWhite houseMain" [@flyInOut]="'in'" *ngFor=" let item of pageData; index as i;">
      <ion-col col-12 tappable (click)="goHouseDetail(item)" >
        <ion-row>
          <ion-col col-4 style="margin-top: 2px">
            <!--懒加载图片-->
            <!--<img  [offset]="offset" [defaultImage]="'assets/imgs/default.jpg'"-->
                  <!--[lazyLoad]="imgHeader+pic(item?.propertyPics)"-->
                  <!--alt="" width="90%" height="70">-->
            <img [src]=" item?.propertyPics?imgHeader+pic(item?.propertyPics):'assets/imgs/default.jpg'" alt="" width="90%" height="70">
          </ion-col>

          <ion-col col-8>
            <div class="clamp">
              <font size="3">
                {{item.estateName}}
                {{item.bedrooms}}室
                {{item.halls}}厅
              </font>
            </div>
            <div class="tips" [ngClass]="{uDis:item.tagsStr}" style="margin-top: 2px ">
              <a *ngFor=" let x of tagPipe(item.tagsStr)" class="m5">{{tagName(x)}}</a>
            </div>
            <!--<p class="m5 ellipsis" >-->
              <!--<font size="2" color="#aaa">-->
                <!--&lt;!&ndash;ID:<span>{{item.convId}}</span>&ndash;&gt;-->
                <!--<span class="font12">{{item.standardAddress}}</span>-->
              <!--</font>-->
            <!--</p>-->

            <ion-row>
              <ion-col col-12 class="p0 ellipsis" style="font-size: 1.2rem;color: #aaa;margin: 3px 0">
                <span>{{item.bedrooms}}室{{item.halls}}厅</span>
                <span *ngIf="item.spaceSize">/&nbsp;{{item.spaceSize}}㎡</span>
                <span *ngIf="item.orientation">/&nbsp;{{cxPipe(item.orientation)}}</span>
                <span *ngIf="item.estateName">/&nbsp;{{item.estateName}}</span>
              </ion-col>

              <ion-col col-12 class="p0">
                <span class="unitPrice" *ngIf="item.propertyPrice!=0">{{item.propertyPrice}} </span>
                <span class="unitPrice" *ngIf="item.propertyPrice!=0"> {{item.propertyPriceUnit==1?'万':'元'}}</span>
                <span class="errorPrice"   *ngIf="item.propertyPrice==0">价格异常</span>
                <span style="font-size: 1.2rem;color: #aaa" *ngIf="item.propertyPrice!=0">
                  <span *ngIf="item.propertyPriceUnit==1">{{item.propertyPrice*1/item.spaceSize*10000 | toParseInt}}元/㎡</span>
                  <span *ngIf="item.propertyPriceUnit=='2'">{{item.propertyPrice*1/item.spaceSize}}</span>
                </span>
              </ion-col>
            </ion-row>


            <!--<div>-->
              <!--&lt;!&ndash;realtorName&ndash;&gt;-->
              <!--<span class="font12">{{item.createdTime | date:'yyyy/MM/dd'}}录入</span>-->
              <!--<span class="font12">归属人：{{item. realtorId }}</span>-->
            <!--</div>-->
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-12 class="houseStatus">
        <ion-row>
          <ion-col col-4 class="tc" tappable (click)="goFollow(item)" *ngIf="item.shareShow && (!ishasTag('128',item.tagsStr,item))">
            <a>跟进</a>
          </ion-col>
          <ion-col col-4 class="tc" tappable (click)="goAddLook(item)" *ngIf="item.shareShow&& (!ishasTag('128',item.tagsStr,item))">
            <a>带看</a>
          </ion-col>
          <ion-col col-4 class="tc" tappable (click)="goCloseHouse(item)" *ngIf="item.applyStatus&&item.closePropertyShow&& (!ishasTag('128',item.tagsStr,item))">
            <a>关闭</a>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!--网络错误处理-->
    <div *ngIf="badHttp">
      <img src="{{configProvider.set().errorImg}}"  class="errHttp" alt="">
    </div>

    <div class="content_page">
      <div *ngIf="hasData&&pageData ==null" class="tc">
        <ion-spinner item-start name="ios"></ion-spinner>
        <div class="m5">加载数据中</div>
      </div>
      <div *ngIf="!hasData"  class="tc" style="margin-top: 15px">
        抱歉！没有找到数据
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasData&&!badHttp">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="正在加载中...">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="all&&hasData" class="sTips">已加载全部
    </div>
  </ion-grid>
</ion-content>
<div class="popLocation">
  <!-- 区域 -->
  <ion-grid class="lists p0" [hidden]="!show" [ngClass]="{transitions:show}" style="">

    <!--<ion-row *ngIf="aeraShow">-->
      <!--<ion-col col-12 class="p0">-->
        <!--<div class="leftChange">-->
          <!--&lt;!&ndash;<a (click)="unlimited()" [ngClass]="{'active': isActive}">不限</a>&ndash;&gt;-->
          <!--<a *ngFor=" let item of area" (click)="go(item)">{{item.name}}</a>-->
        <!--</div>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--&lt;!&ndash;点击后显示&ndash;&gt;-->
    <!--<ion-row *ngIf="tradArea">-->
      <!--<ion-col col-6 class="p0">-->
        <!--<div class="leftChange">-->
          <!--<a *ngFor=" let item of area" (click)="go(item)"  [ngClass]="{'active': isActive(item)}">{{item.name}}</a>-->
        <!--</div>-->
      <!--</ion-col>-->
      <!--<ion-col col-6 class="p0">-->
        <!--<div class="leftChange updateBg">-->
          <!--<ion-list radio-group [(ngModel)]="params.area">-->
            <!--<ion-item *ngIf="this.district != unde">-->
              <!--<ion-label>不限</ion-label>-->
              <!--<ion-radio value="0" (ionSelect)="bx()"></ion-radio>-->
            <!--</ion-item>-->
            <!--<ion-item *ngFor=" let items of district;let i = index" >-->
              <!--<ion-label>{{items.name}}</ion-label>-->
              <!--<ion-radio value="{{items.id}}" (ionSelect)="selectArea(items)"></ion-radio>-->
            <!--</ion-item>-->
          <!--</ion-list>-->
          <!--<div *ngIf="hTips && selected.id!=99 ">暂无该地区！</div>-->
        <!--</div>-->
      <!--</ion-col>-->
    <!--</ion-row>-->

    <ion-row>
      <ion-col col-6 class="p0">
        <div class="leftChange">
          <a *ngFor=" let item of area"   [ngClass]="{'active': isActive(item)}" (click)="go(item)">{{item.name}}</a>
        </div>
      </ion-col>
      <ion-col col-6 class="p0">
        <div class="leftChange updateBg">
          <ion-list radio-group [(ngModel)]="params.area" >
            <ion-item *ngFor=" let items of district;let i = index" >
              <ion-label>{{items.name}}</ion-label>
              <ion-radio value="{{items.id}}"  (ionSelect)="selectArea(items)"></ion-radio>
            </ion-item>
          </ion-list>
          <div  *ngIf="district==undefined">暂无该地区！</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- 户型 -->
  <div class="lists houseType" [hidden]="!houseType" >
    <ion-list radio-group [(ngModel)]="params.bedrooms" class="scrollC">
      <ion-item *ngFor="let y of houseJSON" class="tc">
        <ion-label>{{y.name}}</ion-label>
        <ion-radio value={{y.val}} (ionSelect)="search('propQuery')"></ion-radio>
      </ion-item>
    </ion-list>

  </div>

  <!-- 价格 -->
  <div class="lists houseType" [hidden]="!housingEstate" >
    <ion-list radio-group class="scrollC updateLine"  [(ngModel)]="price" style="height: 207px">
      <ion-item *ngFor="let y of hasElevatorJson"  class="tc" >
        <ion-label *ngIf="y.name=='不限'">{{y.name}}</ion-label>
        <ion-label *ngIf="y.name!='不限'">
          <span *ngIf="y.val==1">{{y.end}}万以下</span>
          <span *ngIf="y.start!='' && y.val !=1 && y.val !=9">{{y.start}}{{-y.end}}万</span>
          <span *ngIf="y.val ==9">{{y.start}}万以上</span>
        </ion-label>
        <ion-radio value={{y.val}} (ionSelect)="selectPrice()"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-list style="height: 166px;">
      <ion-row>
        <ion-col col-12 class="middleGreen tc" style="border-top: 1px solid #f3f3f3;padding: 10px 0;margin: 0 -10px;">
          {{structure.lower}}&nbsp;—&nbsp;<span *ngIf="structure.upper != 5000">{{structure.upper}}万</span><span *ngIf="structure.upper == 5000">不限</span>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-range dualKnobs="true" pin="true" min="0" max="500" step="50"  [(ngModel)]="structure" (ionChange)="onChange($event)">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>不限</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
    <div class="btns">
      <button ion-button full color="danger" (click)="search('propQuery')">确定</button>
    </div>
  </div>
  <!-- 更多 -->
  <!--<div class="lists houseType" *ngIf="more">-->
    <!--<ion-list radio-group [(ngModel)]="params.param" class="scrollC">-->
      <!--<ion-item>-->
        <!--<ion-label>只看我的房源</ion-label>-->
        <!--<ion-radio  value="6" (ionSelect)="search()"></ion-radio>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
        <!--<ion-label>待处理申请关闭</ion-label>-->
        <!--<ion-radio value="1" (ionSelect)="search()"></ion-radio>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <!--&lt;!&ndash;<div class="p15 btns">&ndash;&gt;-->
    <!--&lt;!&ndash;<button ion-button full color="danger" (click)="search()">确定</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->

</div>
<div class="pop" *ngIf="pop" (click)="pops()"></div>



