page-person {
  ion-row{
    height: 100%;
  }
  .storeList{
    height: 100%;
    overflow: scroll;
    a{
      display: block;
      border-bottom: 1px solid #f7f7f7;
      padding: 12px 0;
    }
  }
  .storeMain{
    height: 100%;
    overflow: scroll;
    padding: 0 0 0 10px;
    .topMain{
      padding: 15px 0;
      .seaTitle{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 10px;
      }
      span{
        background: #1ab394;
        color: #fff;
        position: relative;
        padding: 4px 8px;
        padding-right: 26px;
        display: inline-block;
        font-size: 1.3rem;
        margin: 5px;
      }
      ion-icon[name=close]{
        font-size: 2.1em;
        position: absolute;
        top: 0;
        right: 8px;
        z-index: 99;
      }
    }
    table{
      border: 1px solid #f2f2f2;
      tr td{
        width: 50%;
        padding:10px 6px;
        border: 1px solid #f2f2f2;
        color: #aaa;
      }
      trtd:last-child{
        font-size: 1.8rem;
      }
    }
  }
}
