<ion-header>

  <ion-navbar color="first">
    <ion-title>记录</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="addHouse()">
        <ion-icon name="add" class="adds" tappable  style="color: #fff"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid  class="bgWhite">
    <ion-row>
      <ion-col class="tc menuPad" [ngClass]="{'active-tab':index==0}" (click)="goToSlide(0)">
        跟进记录
      </ion-col>
      <ion-col class="tc menuPad" [ngClass]="{'active-tab':index==1}" (click)="goToSlide(1)">
          空看记录
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <div class="location">
          <ion-list>
            <ion-item *ngIf="followUp == undefined" class="tc">暂无跟进记录</ion-item>
          </ion-list>
          <ion-list>
            <ion-item class="updateHegiht p10" *ngFor="let item of followUp">
                  <div>{{item.agentName}}</div>
                  <!--<a class="followTips">日常跟进</a>-->
                  <div class="m10">{{item.content}}</div>
                  <font color="#aaa" size="1">{{item.followupTimeVO}}</font>
            </ion-item>
          </ion-list>
        </div>
      </ion-slide>
      <ion-slide  style="height: 100%">
          <div class="location">
              <ion-list>
                <ion-item *ngIf="lookEmpty == undefined" class="tc">暂无空看记录</ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="updateHegiht p10" *ngFor="let items of lookEmpty">
                      <div>{{items.agentName}}</div>
                      <!--<a class="emptyTips">空看</a>-->
                      <div class="m10"> {{items.content}}</div>
                      <div><img [src]="imgHeader+pic(items.followupPics)" width="200" height="100"></div>
                      <div><font color="#aaa" size="1">{{items.followupTimeVO}}</font></div>
                </ion-item>

              </ion-list>
            </div>
      </ion-slide>
    </ion-slides>
  </div>
