page-record {
  ion-label {
    white-space: inherit;
  }
  .menuPad{
    padding: 10px 0
  }
}

.followTips,.emptyTips{
    display: inline-block;
    background: #FDEAE6;
    color: #F77254;
    padding: 2px 8px;
    margin-left: 10px
}
.active-tab{
    border-bottom: 2px solid #1ab394;
}
.emptyTips{
    background: #E5F6F6;
    color: #51C396;
}
