page-housmore {
  .xqCss{
    border-bottom: 1px solid #f8f8f8;
    padding: 10px 0 15px;
    ion-col{
      padding: 6px 0;
    }
  }
  .yzCss{
    padding: 20px 0 0;
    ion-col{
      padding: 8px 0;
    }
  }
}
