<ion-header>

  <ion-navbar color="first">
    <ion-title>房源信息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgWhite" *ngIf="data">
  <div class="xqCss">
    <h6>基础信息</h6>
    <ion-row>
      <ion-col col-12>
        <span class="defaults">区县：</span>{{data.adminDivisionName}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">商圈：</span>{{data.tradingAreaName}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">楼盘地址：</span>{{data.standardAddress}}
      </ion-col>


      <ion-col col-12>
        <span class="defaults">交易权属：</span>{{data}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">挂牌时间：</span>{{data}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">抵押类型：</span>{{data}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">房源类型：</span>{{data}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">房屋年限：</span>{{data}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">挂牌时间：</span>{{data}}
      </ion-col>


      <ion-col col-12 >
        <span class="defaults">栋号：</span>
        <span *ngIf="data.shareShow">{{sensitiveData?.buildingNo}}</span>
        <span *ngIf="!data.shareShow" class="info">敏感信息已隐藏</span>
      </ion-col>
      <ion-col col-12>
        <span class="defaults">单元：</span>
        <span *ngIf="data.shareShow">{{sensitiveData?.unitNo}}</span>
        <span *ngIf="!data.shareShow" class="info">敏感信息已隐藏</span>
      </ion-col>
      <ion-col col-12>
        <span class="defaults">楼层：</span>{{data?.floorNo}}
      </ion-col>
      <ion-col col-12 >
        <span class="defaults">房间号：</span>
        <span *ngIf="data.shareShow">  {{sensitiveData?.houseNo}}</span>
        <span *ngIf="!data.shareShow" class="info">敏感信息已隐藏</span>
      </ion-col>
      <ion-col col-12>
        <span class="defaults">楼户比例：</span>{{data.elevators}}梯  {{data.apartments}}  <span *ngIf="data.apartments">户</span>
      </ion-col>
      <ion-row *ngIf="data?.realtorInfoShow">
        <ion-col col-12 >
          <span class="defaults">归属人姓名：</span>
          <span>  {{data?.realtorId}}</span>
        </ion-col>
        <ion-col col-12 >
          <span class="defaults">归属人电话：</span>
          <a [attr.href]="'tel:' + data?.infoOwnerTel" > {{data?.infoOwnerTel}} </a>
        </ion-col>
        <ion-col col-12 >
          <span class="defaults">门店名称：</span>
          <span>  {{data?.branchName}}</span>
        </ion-col>
      </ion-row>

    </ion-row>
  </div>
  <div class="yzCss" *ngIf="sensitiveData">
    <h6>业主信息</h6>
    <ion-row>
      <ion-col col-12 >
        <span class="defaults">业主姓名：</span>
        <span *ngIf="data.shareShow"> {{contactPipe(sensitiveData?.contacts)[0]?.contact}}</span>
        <span *ngIf="!data.shareShow" class="info">敏感信息已隐藏</span>
      </ion-col>

      <ion-col col-12>
        <span class="defaults">业主性别：</span>
        <span *ngIf="data.shareShow">{{contactPipe(sensitiveData?.contacts)[0].sex=='male'?'男':'女'}}</span>
        <span *ngIf="!data.shareShow" class="info">敏感信息已隐藏</span>
      </ion-col>
      <ion-col col-12>
        <span class="defaults">业主电话1：</span>
        <span *ngIf="data.shareShow">{{contactPipe(sensitiveData?.contacts)[0].contactInfo}}</span>
        <span *ngIf="!data.shareShow" class="info">敏感信息已隐藏</span>
      </ion-col>
      <ion-col col-12>
        <span class="defaults">业主电话2：</span>
        <span *ngIf="data.shareShow">{{contactPipe(sensitiveData?.contacts)[1].contactInfo}}</span>
        <span *ngIf="!data.shareShow" class="info">敏感信息已隐藏</span>
      </ion-col>
      <ion-col col-12>
        <span class="defaults">业主电话3：</span>
        <span *ngIf="data.shareShow">{{contactPipe(sensitiveData?.contacts)[2].contactInfo}}</span>
        <span *ngIf="!data.shareShow" class="info">敏感信息已隐藏</span>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
