<ion-header>

  <ion-navbar color="first">
    <ion-title>房源信息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgWhite" *ngIf="data">
  <div class="xqCss">
    <h6>基础信息</h6>
    <ion-row>
      <ion-col col-12 *ngIf="data.shareShow">
        <span class="defaults">栋号：</span>{{data.buildingNo}}
      </ion-col>
      <ion-col col-12 *ngIf="data.shareShow">
        <span class="defaults">单元：</span>{{data.unitNo}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">楼层：</span>{{data.floorNo}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">房间号：</span>{{data.houseNo}}
      </ion-col>
      <ion-col col-12>
        <span class="defaults">楼户比例：</span>{{data.elevators}}梯  {{data.apartments}}  <span *ngIf="data.apartments">户</span>
      </ion-col>
      <ion-col col-12>
        <span class="defaults">配备电梯：</span>{{data.hasElevator==0?'无':'有'}}
      </ion-col>
    </ion-row>
  </div>
  <div class="yzCss" *ngIf="data.shareShow">
    <h6>业主信息</h6>
    <ion-row>
      <ion-col col-12 *ngIf="data.shareShow">
        <span class="defaults">业主姓名：</span>{{contactPipe(data.contacts)[0].contact}}
      </ion-col>
      <ion-col col-12 *ngIf="data.contacts.sex">
        <span class="defaults">业主性别：</span>{{contactPipe(data.contacts)[0].sex=='male'?'男':'女'}}
      </ion-col>
      <ion-col col-12 *ngIf="data.shareShow">
        <span class="defaults">业主电话1：</span>{{contactPipe(data.contacts)[0].contactInfo}}
      </ion-col>
      <ion-col col-12 *ngIf="data.shareShow">
        <span class="defaults">业主电话2：</span>{{contactPipe(data.contacts)[1].contactInfo}}
      </ion-col>
    </ion-row>

  </div>
</ion-content>
