toast {
 background: #7DD4D0;
}

.toast-success {
  > div{
    background-color:#1ab394!important;
    width: 200px;
    text-align: center;
  }

}
.toast-error {
  > div{
    background-color:#f53d3d!important;
    width: 200px;
    text-align: center;
  }
}

.toast-default{
  > div{
    background-color:#8e9093!important;
    width: 200px;
    text-align: center;
  }
}
