<!--
  Generated template for the RolepeoplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="first">
    <ion-title>角色人</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-list *ngIf="data">
    <ion-item class="updateHegiht"  *ngIf="data.initRealtorName != undefined">
      <ion-row>
        <ion-col col-5>
          首次录入人
        </ion-col>
        <ion-col col-7 class="tr">
          {{data.initRealtorName}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="updateHegiht" *ngIf="data.createdTime != undefined">
      <ion-row class="m5">
        <ion-col col-5>
          首次录入时间
        </ion-col>
        <ion-col col-7 class="tr">
          {{data.createdTime | date:'yyyy年MM月dd日'}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="updateHegiht"  *ngIf="data.initRealtorName != undefined">
      <ion-row>
        <ion-col col-5>
          录入人
        </ion-col>
        <ion-col col-7 class="tr">
          {{data.initRealtorName}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="updateHegiht"  *ngIf="data.activiateTime != undefined">
      <ion-row class="m5">
        <ion-col col-5>
          激活时间
        </ion-col>
        <ion-col col-7 class="tr">
          {{data.activiateTime | date:'yyyy年MM月dd日'}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="updateHegiht" *ngIf="data.realtorName != undefined">
      <ion-row class="m5">
        <ion-col col-5>
          归属人
        </ion-col>
        <ion-col col-7 class="tr">
          {{data.realtorName}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="updateHegiht" *ngIf="data.picstor != undefined">
      <ion-row>
        <ion-col col-5>
          实勘人
        </ion-col>
        <ion-col col-7 class="tr">
          {{data.picstor}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="updateHegiht" *ngIf="data.picstorTime != undefined">
      <ion-row class="m5">
        <ion-col col-5>
          实勘达成时间
        </ion-col>
        <ion-col col-7 class="tr">
          {{data.picstorTime | date:'yyyy年MM月dd日'}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="updateHegiht" *ngIf="data.keyAgentName != undefined">
      <ion-row>
        <ion-col col-5>
          钥匙人
        </ion-col>
        <ion-col col-7 class="tr">
          {{data.keyAgentName}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="updateHegiht" *ngIf="data.updator != undefined">
      <ion-row>
        <ion-col col-5>
          最后修改人
        </ion-col>
        <ion-col col-7 class="tr">
          {{data.updator}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="updateHegiht" *ngIf="data.updatorTime != undefined">
      <ion-row class="m5" >
        <ion-col col-5>
          最后修改时间
        </ion-col>
        <ion-col col-7 class="tr">
          {{ data.updatorTime| date:'yyyy年MM月dd日'}}
        </ion-col>
      </ion-row>
    </ion-item>
    <!--<ion-item class="updateHegiht" >-->
      <!--<ion-row  >-->
        <!--<ion-col col-5>-->
          <!--房源发布人-->
        <!--</ion-col>-->
        <!--<ion-col col-7 class="tr">-->
         <!--fff-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <!--<ion-row class="m5">-->
        <!--<ion-col col-5>-->
          <!--发布时间-->
        <!--</ion-col>-->
        <!--<ion-col col-7 class="tr">-->
          <!--gfff-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-item>-->

  </ion-list>

  <!--<ion-list class="tc p10" *ngif="hasData">-->
    <!--暂无数据！-->
  <!--</ion-list>-->
</ion-content>
