<ion-header>

  <ion-navbar>
    <ion-title>记录</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="tc" [ngClass]="{'active-tab':index==0}" (click)="goToSlide(0)">
        跟进记录
      </ion-col>
      <ion-col class="tc" [ngClass]="{'active-tab':index==1}" (click)="goToSlide(1)">
          空看记录
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <div class="location">
          <ion-list>
            <ion-item *ngIf="followUp == undefined">暂无跟进记录</ion-item>
          </ion-list>
          <ion-list>
            <ion-item class="updateHegiht" *ngFor="let item of followUp">
              <ion-row>
                <ion-col col-12>
                  {{agentName}}
                  <!--<a class="followTips">日常跟进</a>-->
                </ion-col>
                <ion-col col-12>
                  {{item.content}}
                </ion-col>
                <ion-col col-12>
                  <font color="#aaa" size="1">{{item.followupTimeVO}}</font>
                </ion-col>
              </ion-row>
            </ion-item>

          </ion-list>
        </div>
      </ion-slide>
      <ion-slide  style="height: 100%">
          <div class="location">
              <ion-list>
                <ion-item *ngIf="lookEmpty == undefined">暂无空看记录</ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="updateHegiht" *ngFor="let items of lookEmpty">
                  <ion-row>
                    <ion-col col-12>
                      刘秀
                      <a class="emptyTips">空看</a>
                    </ion-col>
                    <ion-col col-12>
                      {{items.content}}
                    </ion-col>
                    <ion-col col-12>
                        <ion-row>
                            <ion-col col-4 >
                                <img [src]="imgHeader+pic(items.followupPics)" width="200" height="100">
                            </ion-col>
                        </ion-row>
                      </ion-col>
                    <ion-col col-12>
                      <font color="#aaa" size="1">{{items.followupTimeVO}}</font>
                    </ion-col>
                  </ion-row>
                </ion-item>

              </ion-list>
            </div>
      </ion-slide>
    </ion-slides>
  </div>
