page-mypassenger {
  ion-header{
    //background: none !important;
  }
  .item.item-ios .checkbox-ios{
    position: absolute;
    top: 8px;
    right: 0;
  }
  .checkbox-ios .checkbox-checked{
    border-color: #1ab394;
    background-color: #1ab394;
  }
  .tips{
    a {
      display: inline-block;
      font-size: 12px;
      padding: 3px;
      margin-left: 8px;
    }
    a:nth-child(2) {
      background: #E7F7F7;
      color: #7DD4D0;
    }
    a:nth-child(3) {
      background: #E9F6FC;
      color: #69C2EC;
    }
    a:nth-child(4) {
      background: #FEEDE9;
      color: #F98369;
    }
  }
}


//page-mypassenger .tips a:nth-child(2) {
//    background: #E7F7F7;
//    color: #7DD4D0;
//}
//
//page-mypassenger .tips a:nth-child(3) {
//    background: #E9F6FC;
//    color: #69C2EC;
//}
//page-mypassenger .tips a:nth-child(4) {
//    background: #FEEDE9;
//    color: #F98369;
//}
.active{
  color: #1ab394;
}
.telPhone{
  display: inline-block;
  background: url(assets/imgs/phone.png) no-repeat center ;
  background-size:cover;
  width: 45px;
  height: 45px;
}
//-----------------
page-mypassenger{
  ion-navbar{
    .adds{
      color: #fff;
      font-weight: 500;
    }
    .bar-button{
      font-size: 1.5rem;
    }
  }
}
