
     <ion-header>
       <ion-navbar #navbar color="first" >
         <ion-title>我的客户
         </ion-title>
         <ion-buttons end tappable (click)="addpassenger()">
           <button ion-button icon-only>
             <ion-icon name='md-add' class="adds"></ion-icon>
           </button>
         </ion-buttons>
       </ion-navbar>
       <ion-row class="houseMenu">
         <ion-col col-4 class="tc" tappable (click)="showMenu1()" [ngClass]="{color:this.show}">
           <span [ngClass]="{color:this.searchArea,esRow:this.searchArea}" style="width: 40px;" *ngIf="searchArea&&searchArea!='不限'">
            {{ searchArea}}
          </span>
           <span *ngIf="!searchArea||searchArea=='不限'">区域</span>
           <ion-icon name="md-arrow-dropdown" *ngIf="searchArea&&searchArea!='不限'" [ngClass]="{color: this.searchArea && this.searchArea!=''  ,down:this.searchArea }"></ion-icon>
           <ion-icon name="md-arrow-dropdown" *ngIf="!searchArea||searchArea=='不限'"></ion-icon>
         </ion-col>


         <ion-col col-4 class="tc" tappable (click)="showMenu2()" [ngClass]="{color:this.houseType}">
           <span *ngIf="housePipe(params.intentionRoom)&&housePipe(params.intentionRoom)!='不限'" [ngClass]="{color:params.intentionRoom}">{{housePipe(params.intentionRoom)}}</span>
           <span  *ngIf="!housePipe(params.intentionRoom) || housePipe(params.intentionRoom)=='不限'">户型</span>
           <ion-icon name="md-arrow-dropdown" [ngClass]="{color:housePipe(params.intentionRoom)!='不限'}"></ion-icon>
         </ion-col>

         <ion-col col-4 class="tc" tappable (click)="showMenu3()" [ngClass]="{color:this.more}">
           <span [ngClass]="{color:filtrate(this.values)!='筛选'}" *ngIf="sx==2" class="ellipsis" style="display: inline-block;">{{filtrate(this.values)}}</span>
           <span [hidden]="sx==2"> 筛选</span>
           <ion-icon name="md-arrow-dropdown" [hidden]="sx==2"></ion-icon>
           <ion-icon name="md-arrow-dropdown" [ngClass]="{color:sx==2&&filtrate(this.values)!='筛选'}" *ngIf="sx==2" style="margin-top: -8px;"></ion-icon>
         </ion-col>
       </ion-row>
     </ion-header>
  <ion-content>


  <ion-refresher
    [pullMax]="480"
    [pullMin]="180"
    (ionRefresh)="doRefresh($event)" class="refresh">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉推荐"
      refreshingSpinner="circles"
      refreshingText="加载数据中">
    </ion-refresher-content>
  </ion-refresher>
    <div class="tc refreshTip" *ngIf="not">暂无更新</div>
    <div class="tc refreshTip" *ngIf="haveData">已更新{{newCount}}信息</div>



    <ion-list class="housList" style="margin-top: 2px">

      <ion-item-sliding  *ngFor=" let item of pageData; index as i;">

        <ion-item style="padding: 12px 15px 0;">

              <ion-row (click)="gopassengerDetail(item)">
                <ion-col col-9 tappable >
                  <div class="ellipsis tips">
                    <font size="3">{{item.customerName}}</font>
                    <!--急-->
                    <a *ngIf="item.followLabel">{{item.followLabel==1?'急':''}}</a>
                    <!--约-->
                    <a *ngIf="item.lookLable">{{item.lookLable==1?'约':''}}</a>
                    <!--<a>锁 isLock</a>-->
                    <a *ngIf="item['isLock']">{{item['isLock']==1?'锁':''}}</a>
                  </div>
                  <p class="m5">
                    <font size="2" color="#aaa">ID:
                      <span>{{item.customerSn}}</span>
                      <span>{{item.intentionDiviCode}}</span>
                    </font>
                  </p>
                  <p class="m5">
                    <font size="2" color="#aaa">
                      <span>{{item.createTime | date:'yyyy年MM月dd日'}}录入</span>
                      <span>归属人：{{item.agentId}}</span>
                    </font>
                  </p>
                </ion-col>
                <ion-col col-3 class="tc m15">
                  <a [attr.href]="'tel:' + item.customerPhone" class="telPhone"></a>
                </ion-col>
              </ion-row>



        </ion-item>

        <ion-item-options>
          <button ion-button color="primary" style="background: #ffba4d" tappable (click)="goFollow(item)" [hidden]="item['isLock']==1">跟进</button>
          <button ion-button color="danger"  style="background: #80adff" tappable (click)="golook(item)"  [hidden]="item['isLock']==1">约看</button>
          <button ion-button color="default" style="background: #ff756f" tappable (click)="closePrivateGuest(item)" [hidden]="item['isLock']==1">关闭</button>

        </ion-item-options>

      </ion-item-sliding>

    </ion-list>









  <!--<ion-grid class="p0" style="    margin-top: 3px;">-->
    <!--<ion-row class="bgWhite houseMain" *ngFor=" let item of pageData; index as i;">-->
        <!--<ion-col col-12 >-->
            <!--<ion-row>-->
              <!--<ion-col col-9 tappable (click)="gopassengerDetail(item)">-->
                <!--<div class="ellipsis tips">-->
                  <!--<font size="3">{{item.customerName}}</font>-->
                    <!--&lt;!&ndash;急&ndash;&gt;-->
                  <!--<a *ngIf="item.followLabel">{{item.followLabel==1?'急':''}}</a>-->
                    <!--&lt;!&ndash;约&ndash;&gt;-->
                  <!--<a *ngIf="item.lookLable">{{item.lookLable==1?'约':''}}</a>-->
                  <!--&lt;!&ndash;<a>锁 isLock</a>&ndash;&gt;-->
                  <!--<a *ngIf="item['isLock']">{{item['isLock']==1?'锁':''}}</a>-->
                <!--</div>-->
                <!--<p class="m5">-->
                  <!--<font size="2" color="#aaa">ID:-->
                    <!--<span>{{item.customerSn}}</span>-->
                    <!--<span>{{item.intentionDiviCode}}</span>-->
                  <!--</font>-->
                <!--</p>-->
                <!--<p class="m5">-->
                    <!--<font size="2" color="#aaa">-->
                      <!--<span>{{item.createTime | date:'yyyy年MM月dd日'}}录入</span>-->
                      <!--<span>归属人：{{item.agentId}}</span>-->
                    <!--</font>-->
                  <!--</p>-->
              <!--</ion-col>-->
              <!--<ion-col col-3 class="tc m15">-->
                <!--<a [attr.href]="'tel:' + item.customerPhone" class="telPhone"></a>-->
              <!--</ion-col>-->
            <!--</ion-row>-->
          <!--</ion-col>-->
      <!--<ion-col col-12 class="houseStatus">-->
            <!--<ion-row>-->
              <!--<ion-col col-4 class="tc" tappable (click)="goFollow(item)" [hidden]="item['isLock']==1">-->
                <!--<a>跟进</a>-->
              <!--</ion-col>-->
              <!--<ion-col col-4 class="tc" tappable (click)="golook(item)"  [hidden]="item['isLock']==1">-->
                <!--<a>约看</a>-->
              <!--</ion-col>-->
              <!--<ion-col col-4 class="tc" tappable (click)="closePrivateGuest(item)" [hidden]="item['isLock']==1">-->
                <!--<a>关闭</a>-->
              <!--</ion-col>-->
            <!--</ion-row>-->
          <!--</ion-col>-->
    <!--</ion-row>-->

    <div class="content_page" >
      <div *ngIf="hasData&&pageData ==null" class="tc">
        <ion-spinner item-start name="ios"></ion-spinner>
        <div>加载数据中...</div>
      </div>
      <div *ngIf="!hasData"  class="tc p10">
        抱歉！没有找到数据
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasData">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载中">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="all&&hasData" class="sTips">已加载全部
    </div>
  <!--</ion-grid>-->

  </ion-content>

<div class="popLocation">
  <!-- 区域 -->
  <ion-grid class="lists p0" *ngIf="show">
    <ion-row>
      <ion-col col-6 class="p0">
        <div class="leftChange">
          <a *ngFor=" let item of area"   [ngClass]="{'active': isActive(item)}" (click)="go(item)">{{item.name}}</a>
        </div>
      </ion-col>
      <ion-col col-6 class="p0">
        <div class="leftChange updateBg" *ngIf="district">
          <ion-list radio-group [(ngModel)]="params.intentionTradeCode" >
            <ion-item *ngFor=" let items of district;let i = index" >
              <ion-label>{{items.name}}</ion-label>
              <ion-radio value="{{items.code}}"  (ionSelect)="selectArea(items)"></ion-radio>
            </ion-item>
          </ion-list>
          <div *ngIf="district.length==0&&!choseDivision"  >暂无该地区！</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- 户型 -->
  <div class="lists houseType" *ngIf="houseType">
    <ion-list radio-group [(ngModel)]="params.intentionRoom" class="scrollC">
      <ion-item *ngFor="let y of houseJSON" class="tc">
        <ion-label>{{y.name}}</ion-label>
        <ion-radio value={{y.val}} (ionSelect)="search()"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <!-- 筛选 [(ngModel)]="checks" -->
  <div class="lists houseType" [hidden]="!more">
    <ion-list radio-group  class="scrollC" >
      <ion-item *ngFor="let i of filtrateJson;let index =index" [hidden]="index==0">
        <ion-label>{{i.name}}</ion-label>
        <ion-checkbox (ionChange)="updateCucumber(i.val,index)" [(ngModel)]="sausage[index]"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-row class="btns">
    <ion-col col-6>
      <button ion-button full color="danger" style="background: #F0F0F0;color:#6A98C8;"  class="radius" (click)="reset()">重置</button>
    </ion-col>
      <ion-col col-6>
        <button ion-button full color="danger" class="radius update" (click)="sxClick()">确定</button>
      </ion-col>
    </ion-row>
  </div>

</div>
<div class="pop" *ngIf="pop" (click)="pops()"></div>

