
     <ion-header>
       <ion-navbar #navbar color="first" >
         <ion-title>我的客户
         </ion-title>
         <ion-buttons end tappable (click)="addpassenger()">
           <button ion-button icon-only>
             <ion-icon name='md-add' class="adds"></ion-icon>
           </button>
         </ion-buttons>
       </ion-navbar>
       <ion-row class="houseMenu">
         <ion-col col-4 class="tc" tappable (click)="toggleSta(1)" [ngClass]="{color:show}">
           <span [ngClass]="{color:searchArea,esRow:searchArea}" style="width: 40px;"  *ngIf="searchArea&&searchArea!='不限'">
            {{ searchArea}}
          </span>
           <span *ngIf="!searchArea||searchArea=='不限'">区域</span>
           <ion-icon name="md-arrow-dropdown" *ngIf="searchArea&&searchArea!='不限'" [ngClass]="{color: searchArea && searchArea!=''  ,down:searchArea }"></ion-icon>
           <ion-icon name="md-arrow-dropdown" *ngIf="!searchArea||searchArea=='不限'"></ion-icon>
         </ion-col>


         <ion-col col-4 class="tc" tappable (click)="toggleSta(2)" [ngClass]="{color:houseType}">
           <span *ngIf="housePipe(params.intentionRoom)&&housePipe(params.intentionRoom)!='不限'" [ngClass]="{color:params.intentionRoom}">{{housePipe(params.intentionRoom)}}</span>
           <span  *ngIf="!housePipe(params.intentionRoom) || housePipe(params.intentionRoom)=='不限'">户型</span>
           <ion-icon name="md-arrow-dropdown" [ngClass]="{color:housePipe(params.intentionRoom)!='不限'}"></ion-icon>
         </ion-col>

         <ion-col col-4 class="tc" tappable (click)="toggleSta(3)" [ngClass]="{color:more}">
           <span [ngClass]="{color:sx==2}"*ngIf="sx==2" class="ellipsis" style="display: inline-block;">{{filtrate(params.todayNoFollow) || filtrate(params.threeDayNoFollow) ||filtrate(params.todayNoLook) || filtrate(params.threeDayNoLook)}}</span>
           <span *ngIf="sx==1"> 筛选</span>
           <ion-icon name="md-arrow-dropdown" [ngClass]="{color:sx==2,esRow:sx==2}"></ion-icon>
         </ion-col>
       </ion-row>
     </ion-header>
  <ion-content  class="housList" style="margin-top: 2px" >


  <ion-refresher
    [pullMax]="480"
    [pullMin]="180"
    (ionRefresh)="doRefresh($event)" class="refresh">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉推荐"
      refreshingSpinner="circles"
      refreshingText="加载数据中">
    </ion-refresher-content>
  </ion-refresher>
    <div class="tc refreshTip" *ngIf="not">暂无更新</div>
    <div class="tc refreshTip" *ngIf="haveData">已更新{{newCount}}信息</div>
    <ion-list class="housList" style="margin-top: 2px">
      <ion-item-sliding  *ngFor=" let item of pageData; index as i;" #slidingItem >

        <ion-item style="padding: 12px 15px 0;" >

              <ion-row >
                <ion-col col-9 tappable (click)="gopassengerDetail(item)">
                  <div class="ellipsis tips">
                    <font size="3">{{item.customerName}}</font>
                    <!--急-->
                    <a [ngClass]="{followLabel:tagList(item) =='followLabel'}" *ngIf="tagList(item) =='followLabel'">
                      {{tagList(item) =='followLabel'?'急':''}}
                    </a>
                    <!--约-->
                    <a [ngClass]="{lookLable:tagList(item) =='lookLable'}" *ngIf="tagList(item) =='lookLable'">{{tagList(item) =='lookLable'?'约':''}}</a>
                    <!--<a>锁 isLock</a>-->
                    <a *ngIf="item['isLock']" [ngClass]="{lock:item['isLock']==1}">{{item['isLock']==1?'锁':''}}</a>
                  </div>
                  <p class="m5">
                    <font size="2" color="#aaa">ID:
                      <span>{{item.customerSn}}</span>
                      <span [ngClass]="{shen:item.intentionDiviCode=='审',xiang:item.intentionDiviCode=='享',kzks:item.intentionDiviCode=='可租可售',bxg:item.intentionDiviCode=='不限购',yzjs:item.intentionDiviCode=='业主急售',myys:item.intentionDiviCode=='免营业税',mwwy:item.intentionDiviCode=='满五唯一',dhy:item.intentionDiviCode=='带花园',yao:item.intentionDiviCode=='钥',wei:item.intentionDiviCode=='委',kan:item.intentionDiviCode=='勘',tie:item.intentionDiviCode=='铁',guan:item.intentionDiviCode=='关',fa:item.intentionDiviCode=='发',suo:item.intentionDiviCode=='锁'}">
                      </span>
                      <span>{{item.intentionDiviCode | cityPipe}}</span>
                    </font>
                  </p>
                  <p class="m5">
                    <font size="2" color="#aaa">
                      <span>{{item.createTime | date:'yyyy年MM月dd日'}}录入</span>
                      <span>归属人：{{item.agentId}}</span>
                    </font>
                  </p>
                </ion-col>
                <ion-col col-3 class="tc m15">
                  <a [attr.href]="'tel:' + item.customerPhone" class="telPhone"></a>
                </ion-col>
              </ion-row>



        </ion-item>

        <ion-item-options>
          <button ion-button color="primary" style="background: #ffba4d" tappable (click)="goFollow(item,slidingItem)" [hidden]="item['isLock']==1">跟进</button>
          <button ion-button color="danger"  style="background: #80adff" tappable (click)="golook(item,slidingItem)"  [hidden]="item['isLock']==1">约看</button>
          <button ion-button color="default" style="background: #ff756f" tappable (click)="closePrivateGuest(item,slidingItem)" [hidden]="item['isLock']==1">关闭</button>

        </ion-item-options>

      </ion-item-sliding>
    </ion-list>

    <div class="content_page" >
      <div *ngIf="hasData&&!all" class="tc">
        <ion-spinner item-start name="ios"></ion-spinner>
        <div>加载数据中...</div>
      </div>
      <div *ngIf="!hasData"  class="tc p10">
        抱歉！没有找到数据
      </div>
    </div>

    <ion-infinite-scroll   (ionInfinite)="doInfinite($event)" *ngIf="hasData">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载中">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="all&&hasData" class="sTips">已加载全部
    </div>
  <!--</ion-grid>-->

  </ion-content>

<div class="popLocation">
  <!-- 区域 -->
  <ion-grid class="lists p0" [@animation]="states[1]">
    <ion-row>
      <ion-col col-6 class="p0">
        <div class="leftChange">
          <a *ngFor=" let item of area"   [ngClass]="{'active': isActive(item)}" (click)="go(item)">{{item.name}}</a>
        </div>
      </ion-col>
      <ion-col col-6 class="p0">
        <div class="leftChange updateBg" *ngIf="district">
          <ion-list radio-group [(ngModel)]="params.intentionTradeCode" >
            <ion-item *ngFor=" let items of district;let i = index" >
              <ion-label>{{items.name}}</ion-label>
              <ion-radio value="{{items.code}}"  (ionSelect)="selectArea(items)"></ion-radio>
            </ion-item>
          </ion-list>
          <div *ngIf="district.length==0&&!choseDivision&&searchArea">暂无该地区！</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- 户型 -->
  <div class="lists houseType" [@animation]="states[2]">
    <ion-list radio-group [(ngModel)]="params.intentionRoom" class="scrollC">
      <ion-item *ngFor="let y of houseJSON" class="tc">
        <ion-label>{{y.name}}</ion-label>
        <ion-radio value={{y.val}} (ionSelect)="search()"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <!-- 筛选 [(ngModel)]="checks" -->
  <div class="lists houseType" [@animation]="states[3]">
    <ion-list radio-group  class="scrollC" >
      <ion-item *ngFor="let i of filtrateJson;let index =index" [hidden]="index==0">
        <ion-label>{{i.name}}</ion-label>
        <ion-checkbox (ionChange)="updateCucumber(i.val,index)" [(ngModel)]="sausage[index]"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-row class="btns">
    <ion-col col-6>
      <button ion-button full color="danger" style="background: #F0F0F0;color:#6A98C8;"  class="radius clear" (click)="reset()">重置</button>
    </ion-col>
      <ion-col col-6>
        <button ion-button full color="danger" class="radius update" (click)="sxClick()">确定</button>
      </ion-col>
    </ion-row>
  </div>

</div>
     <div class="pop" *ngIf="pop" (click)="allClose()"></div>

