<ion-header class="homeHeader">
  <ion-navbar #navbar>
    <ion-searchbar  #searchBar placeholder="楼盘搜索" [(ngModel)]="floorName"   class="hoInput" (tap)="search()" [disabled]="true"></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>

  <ion-grid class="bgWhite">
    <ion-row>
      <ion-col col-3>
        <div tappable (click)="addhouse()">
          <img src="assets/imgs/menu1.png" alt="" width="45" height="45">
          <a>房源录入</a>
        </div>
      </ion-col>
      <ion-col col-3 tappable  (click)="addpassenger()">
        <img src="assets/imgs/menu2.png" alt="" width="45" height="45" disabled="">
        <a>客源录入</a>
      </ion-col>
      <ion-col col-3 tappable (click)="godeclara()">
        <img src="assets/imgs/menu3.png" alt="" width="45" height="45">
        <a>成功报单</a>
      </ion-col>
      <ion-col col-3>
        <img src="assets/imgs/menu4.png" alt="" width="45" height="45">
        <a>数据统计</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="bgWhite p5">
    <ion-item class="pl12">
      待办消息
    </ion-item>
    <ion-item tappable (click)="msgDetail()">
      <ion-thumbnail item-start>
        <div class="leftImg leftImgNotice">
          <ion-icon name="gonggao2" class="uFont"></ion-icon>
        </div>
      </ion-thumbnail>
      <ion-row>
        <ion-col col-6 class="plr" style="margin-top: 5px">
          <h2>房贝公告</h2>
        </ion-col>
        <!--<ion-col col-6 class="tr">-->
          <!--<font size="1" color="#aaa">04-01</font>-->
        <!--</ion-col>-->
      </ion-row>
      <div class="ellipsis newsList" *ngFor="let item of notificationNews; index as i;">
        <span class="newsTip"  *ngIf="i==0">{{item.notificationTitle}}  {{item.notificationCont}}   {{item.postPersonId}}</span>
      </div>
    </ion-item>
    <ion-item tappable >
      <!--(click)="checkhouse()"-->
      <ion-thumbnail item-start>
        <div class="leftImg">
          <ion-icon name="tixing" class="uFont"></ion-icon>
        </div>
      </ion-thumbnail>
      <ion-row>
        <ion-col col-6 class="plr">
          <h2>关闭房源审核</h2>
        </ion-col>
        <!--<ion-col col-6 class="tr">-->
          <!--<font size="1" color="#aaa">04-01</font>-->
        <!--</ion-col>-->
      </ion-row>
      <!--<p class="ellipsis">有一条关闭房源申请待处理</p>-->
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <div class="leftImg leftImgAdjust">
          <ion-icon name="notice1" class="uFont"></ion-icon>
        </div>
      </ion-thumbnail>
      <ion-row>
        <ion-col col-6 class="plr">
          <h2>房源调整</h2>
        </ion-col>
        <!--<ion-col col-6 class="tr">-->
          <!--<font size="1" color="#aaa">04-01</font>-->
        <!--</ion-col>-->
      </ion-row>
      <p class="ellipsis">sddddddddddddsddddddddddddsddddddddddddsdddddddddddd</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <div class="leftImg">
          <ion-icon name="tixing" class="uFont"></ion-icon>
        </div>
      </ion-thumbnail>
      <ion-row>
        <ion-col col-6 class="plr">
          <h2>下架房源</h2>
        </ion-col>
        <!--<ion-col col-6 class="tr">-->
          <!--<font size="1" color="#aaa">04-01</font>-->
        <!--</ion-col>-->
      </ion-row>
      <p class="ellipsis">sddddddddddddsddddddddddddsddddddddddddsdddddddddddd</p>
    </ion-item>
  </ion-list>
</ion-content>
