//page-home .toolbar-background-ios,
//page-housing .toolbar-background-ios{
//  background: #e8e8e8 !important;
//}
page-home .toolbar .searchbar-ios .searchbar-input,
page-housing .toolbar .searchbar-ios .searchbar-input{
  background: #fff !important;
}
page-home .searchbar-ios,
page-housing .searchbar-ios{
    min-height: 100%;
}
.searchs{
  position: absolute;
  width: 100%;
  margin-top: -10px;
  top: 38px;
}
.hoInput{
  width: 95%;
  margin: 5px auto;
}
.newsList:last-child{
  margin: 3px 0 8px;
}
page-home ion-list{
    margin-top: 10px !important;
}
page-home ion-list h2{
    font-size: 1.5rem !important;
}
.leftImg{
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: #F1B11E;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px
}
.leftImg i{
    color: #fff;
    font-size: 25px
}
.leftImgNotice {
    background: #63beed;
}
.leftImgAdjust{
    background: #FC524F;
}
page-home ion-grid ion-col{
    text-align: center
}
page-home ion-grid ion-col a{
    display: block;
    margin-top: 3px
}
page-home {
  .item-ios ion-thumbnail[item-start]{
    margin: 8px 16px 8px 9px;
  }
  //.toolbar-background-ios{
  //  background-color: #f8f8f8;
  //}
}
.disabledText{
  color: #8e9093;
}
.newsTip{
  color: #777777!important;
}
