<ion-header>
  <ion-navbar color="first">
    <ion-title>添加空看</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <form *ngIf="result?.shareShow">
    <ion-grid class="p0" *ngIf="result">
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <ion-label class="pl12">房源ID：{{convId}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <ion-label class="pl12">楼盘：{{estateName}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <ion-label class="pl12">楼盘地址：</ion-label>
              <ion-label class="updateTextaera">
                <span> {{standardAddress}}</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="pl12 bgWhite">
          <ion-item>
            <ion-label>看房时间<i class="text-danger">*</i></ion-label>
            <ion-datetime placeholder="请选择您的看房时间" [(ngModel)]="followup_time"  name="followup_time" displayFormat="YYYY/MM/DD HH:mm" doneText="确定"  cancelText="取消"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 class="followMain bgWhite">
          <div>
            看房记录：<i class="text-danger">*</i>
          </div>
          <div>
            <ion-textarea rows="5" [(ngModel)]="content"  name="content"  placeholder="你跟进的内容..."></ion-textarea>
          </div>
        </ion-col>

        <div class="attorneyPic bgWhite">
          <span>上传图片：</span>
          <span class="text-danger" *ngIf="data?.auditStatus!=3">(只能上传一张照片)</span>
          <upload  [useDir]="useDir"  [src]="imgJson" [desc]="''" [position]="''"
                  (successEvent)="addPic($event)"></upload>
        </div>

        <ion-col col-12 class="bgWhite p10">
          <button ion-button full color="danger"  [disabled]="!followup_time||!content"  class="radius" (click)="save()">确定</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div class="bgWhite p10"  *ngIf="!result?.shareShow">
    <font color="red" >
      <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
      暂时不支持空看</font>
  </div>
</ion-content>
