<ion-header>
  <ion-navbar color="first">
    <ion-title>报单列表</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="p0">
    <!--筛选-->
    <!--<ion-row class="houseMenu">-->
      <!--<ion-col col-12 class="tc" (click)="showMenu2()">-->
        <!--<span *ngIf="searchFloorNum==2">{{housePipe(params.orderStatus)}}</span>-->
        <!--<span [hidden]="searchFloorNum==2"> 报单状态</span>-->
        <!--<ion-icon name="md-arrow-dropdown"></ion-icon>-->
      <!--</ion-col>-->
      <!--&lt;!&ndash;<ion-col col-6 class="tc" (click)="showMenu3()">&ndash;&gt;-->
        <!--&lt;!&ndash;<span *ngIf="sx==2">{{filtrate(params.sxShow)}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span [hidden]="sx==2"> 筛选</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-icon name="md-arrow-dropdown"></ion-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
    <!--</ion-row>-->

    <ion-list>
      <ion-item class="updateHegiht p10" *ngFor="let item of pageData">
        <ion-row tappable (click)="declarationDetail(item)" >
          <ion-col col-12 class="tip">
            {{item.orderNo}}
            <a [ngClass]="{dqrCss:item.orderStatus==0,dshCss:item.orderStatus==1,shbtgCss:item.orderStatus==2,shtgCss:item.orderStatus==3,fkshCss:item.orderStatus==4,bdFinish:item.orderStatus==5,bdzfCss:item.orderStatus==6,bdCancel:item.orderStatus==7}">{{housePipe(item.orderStatus)}}</a>
          </ion-col>
          <ion-col col-12>
            <div><font size="2">客户：<span>{{item.customerName}}</span></font></div>
            <div><font size="2">报单人：<span>{{item.agentName }}</span></font></div>
            <div><font size="2">报单时间：<span>{{item.createTime | date:'yyyy年MM月dd日 HH:mm:ss'}}</span></font></div>
            <div><font size="2">最后审核时间：<span>{{item.lastUpdateTm | date:'yyyy年MM月dd日 HH:mm:ss'}}</span></font></div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <div class="content_page" style="margin-top: 10px">
      <div *ngIf="hasData&&pageData ==null" class="tc">
        <ion-spinner item-start name="ios"></ion-spinner>
        <div>加载数据中</div>
      </div>
      <div *ngIf="!hasData"  class="tc">
        暂无数据！
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载中...">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="all&&hasData" class="sTips">已加载全部
    </div>
  </ion-grid>

</ion-content>
<div class="popLocation">
 <!-- 状态 -->
  <div class="lists houseType" *ngIf="houseType">
    <ion-list radio-group [(ngModel)]="params.orderStatus" class="scrollC">
      <ion-item *ngFor="let y of stateJSON">
        <ion-label>{{y.name}}</ion-label>
        <ion-radio value={{y.val}} (ionSelect)="search()"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <!-- 时间 -->
  <!--<div class="lists houseType" *ngIf="more">-->
    <!--<ion-list radio-group [(ngModel)]="params.sxShow" class="scrollC">-->
      <!--<ion-item *ngFor="let i of timerJson;">-->
        <!--<ion-label>{{i.name}}</ion-label>-->
        <!--<ion-radio value="{{i.val}}" (ionSelect)="sxClick()"></ion-radio>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <!--&lt;!&ndash;<div class="p5 btns">&ndash;&gt;-->
    <!--&lt;!&ndash;<button ion-button full color="danger">确定</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
</div>
<div class="pop" *ngIf="pop" (click)="pops()"></div>









