page-publicpassenger {
  .houseMain ion-col[col-12]:first-child{
    padding-left: 18px;
  }
  .houseMenu{
    background: #fff;
  }
  .item.item-ios .checkbox-ios{
    position: absolute;
    top: 8px;
    right: 0;
  }
  .checkbox-ios .checkbox-checked{
    border-color: #1ab394;
    background-color: #1ab394;
  }
  .toolbar .searchbar-ios .searchbar-input{
    background: #fff;
    height: 2.6rem;
  }
  .houseMenu{
    top: initial;
  }
  .toolbar-ios{
    padding: 0;
  }
  .hoInput{
    margin: 0 auto;
  }
}
.telPhone{
  display: inline-block;
  background: url(../assets/imgs/phone.png) no-repeat center ;
  background-size:cover;
  width: 45px;
  height: 45px;
}
