<ion-header>
  <ion-navbar  #navbar color="first">
    <ion-title>公客列表</ion-title>
  </ion-navbar>
  <ion-row class="houseMenu">
    <ion-col col-4 class="tc" tappable (click)="showMenu1()" [ngClass]="{color:this.show}">
      <span [ngClass]="{color:this.searchArea,esRow:this.searchArea}" style="width: 40px;" *ngIf="searchArea&&searchArea!='不限'">
        {{ searchArea}}
      </span>
      <span *ngIf="!searchArea||searchArea=='不限'">区域</span>
      <ion-icon name="md-arrow-dropdown" *ngIf="searchArea&&searchArea!='不限'" [ngClass]="{color: this.searchArea && this.searchArea!=''  ,down:this.searchArea }"></ion-icon>
      <ion-icon name="md-arrow-dropdown" *ngIf="!searchArea||searchArea=='不限'"></ion-icon>
    </ion-col>


    <ion-col col-4 class="tc" tappable (click)="showMenu2()" [ngClass]="{color:this.houseType}">
      <span *ngIf="housePipe(params.intentionRoom)&&housePipe(params.intentionRoom)!='不限'" [ngClass]="{color:params.intentionRoom}">{{housePipe(params.intentionRoom)}}</span>
      <span  *ngIf="!housePipe(params.intentionRoom) || housePipe(params.intentionRoom)=='不限'">户型</span>
      <ion-icon name="md-arrow-dropdown" [ngClass]="{color:housePipe(params.intentionRoom) && housePipe(params.intentionRoom)!='' && housePipe(params.intentionRoom)!='不限' }"></ion-icon>
    </ion-col>

    <ion-col col-4 class="tc" tappable (click)="showMenu3()" [ngClass]="{color:this.more}">
      <span *ngIf="sx==2 && params.customerType!=0" [ngClass]="{color:params.customerType}">{{filtrate(params.customerType)}}</span>
      <span [hidden]="sx==2||params.customerType==0" > 筛选</span>
      <span *ngIf="params.customerType==0">筛选</span>
      <ion-icon name="md-arrow-dropdown" [ngClass]="{color:sx==2&&params.customerType!=0}"></ion-icon>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content>
  <ion-refresher
    [pullMax]="480"
    [pullMin]="180"
    (ionRefresh)="doRefresh($event)" class="refresh">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉推荐"
      refreshingSpinner="circles"
      refreshingText="加载数据中">
    </ion-refresher-content>
  </ion-refresher>
  <div class="tc refreshTip" *ngIf="not">暂无更新</div>
  <div class="tc refreshTip" *ngIf="haveData">已更新{{newCount}}条信息</div>
  <ion-grid class="p0" style="margin-top: 1px">
    <ion-row class="bgWhite houseMain" *ngFor=" let item of pageData; index as i;">
      <ion-col col-12 >
        <ion-row>
          <ion-col col-9 tappable (click)="gopassengerDetail(item)">
            <div class="ellipsis tips">
              <font size="3">{{item.customerName}}</font>
              <!--急-->
              <a *ngIf="item.followLabel==1">{{item.followLabel==1?'急':''}}</a>
              <!--约-->
              <a *ngIf="item.lookLable==1">{{item.lookLable==1?'约':''}}</a>
              <!--<a>锁 isLock</a>-->
              <a *ngIf="item['isLock']">{{item['isLock']==1?'锁':''}}</a>
            </div>
            <p class="m5">
              <font size="2" color="#aaa">ID:
                <span>{{item.customerSn}}</span>
                <span>{{item.intentionDiviName}}</span>
                <!--<span>{{item.intentionTradeName}}</span>-->
              </font>
            </p>
            <p class="m5">
              <font size="2" color="#aaa">
                <span>{{item.createTime | date:'yyyy年MM月dd日'}}录入</span>
                <!--<span>归属人：{{item.agentId}}</span>-->
              </font>
            </p>
          </ion-col>
          <ion-col col-3 class="tc m15">
            <a [attr.href]="'tel:' + item.customerPhone" class="telPhone"></a>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!--<div *ngIf="pageData==null" class="tc">-->
    <!--抱歉，找不到数据-->
    <!--</div>-->
    <div class="content_page" style="margin-top: 20px">
      <div *ngIf="hasData&&!all" class="tc">
        <ion-spinner item-start name="ios"></ion-spinner>
        <div>加载数据中...</div>
      </div>
      <div *ngIf="!hasData"  class="tc p10">
        抱歉！没有找到数据
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasData">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载中">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="all&&hasData" class="sTips">已加载全部
    </div>
    <!--<div *ngIf="all&&hasData" class="sTips">已加载全部-->
    <!--</div>-->
  </ion-grid>

</ion-content>
<div class="popLocation" style="top: 113px;">
  <!-- 区域 -->
  <ion-grid class="lists p0" *ngIf="show">
    <ion-row>
      <ion-col col-6 class="p0">
        <div class="leftChange">
          <a *ngFor=" let item of area"   [ngClass]="{'active': isActive(item)}" (click)="go(item)">{{item.name}}</a>
        </div>
      </ion-col>
      <ion-col col-6 class="p0">
        <div class="leftChange updateBg">
          <ion-list radio-group [(ngModel)]="params.intentionTradeCode" >
            <ion-item *ngFor=" let items of district;let i = index" >
              <ion-label>{{items.name}}</ion-label>
              <ion-radio value="{{items.code}}"  (ionSelect)="selectArea(items)"></ion-radio>
            </ion-item>
          </ion-list>
          <div *ngIf="district ==false && selected?.id!=99&&searchArea">暂无该地区！</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- 价格 -->
  <div class="lists houseType" *ngIf="houseType">
    <ion-list radio-group [(ngModel)]="params.intentionRoom" class="scrollC">
      <ion-item *ngFor="let y of houseJSON" class="tc">
        <ion-label>{{y.name}}</ion-label>
        <ion-radio value={{y.val}} (ionSelect)="search()"></ion-radio>
      </ion-item>
    </ion-list>
  </div>

  <!-- 筛选 -->
  <div class="lists houseType" [hidden]="!more">
    <ion-list radio-group class="scrollC">
      <ion-item *ngFor="let i of filtrateJson;let index =index">
        <ion-label>{{i.name}}</ion-label>
        <ion-radio (click)="sxClick(i.val)"></ion-radio>
      </ion-item>
    </ion-list>

  </div>

</div>
<div class="pops" *ngIf="pop" (click)="pops()"></div>
