<ion-header  class="white-header">
  <ion-navbar>
    <ion-title>我的关注</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list class="housList">

    <ion-item-sliding  *ngFor=" let item of pageData; index as i;" #slidingItem>


      <ion-item style="padding: 5px 10px 0;">
        <ion-row tappable (click)="goHouseDetail(item)">
          <ion-col col-4 style="margin-top: 2px">
            <img src="assets/imgs/default.jpg" alt="" width="90%" height="70">
          </ion-col>

          <ion-col col-8>
            <div class="clamp">
              <font size="3">
                1室 1厅
              </font>
            </div>
            <div class="tips">
              <a class="m5">ss</a>
            </div>
            <ion-row>
              <ion-col col-12 class="p0 ellipsis" style="font-size: 1.2rem;color: #aaa;margin: 3px 0">
                <span>1室1厅</span>
                <span>sss</span>
                <span>ss</span>
                <span>人</span>
              </ion-col>
              <ion-col col-12 class="p0 ellipsis" style="font-size: 1.2rem;color: #aaa;margin: 3px 0">
                <span>收藏时间</span>
                <span>{{item.createTime | date:'yyyy/MM/dd HH:MM:SS' }}</span>
              </ion-col>

              <!--<ion-col col-12 class="p0">-->
                <!--收藏时间：-->
              <!--</ion-col>-->
            </ion-row>

          </ion-col>
        </ion-row>

      </ion-item>




      <!--<ion-item style="padding: 8px 15px 0;">-->
        <!--<ion-row tappable (click)="goHouseDetail(item)">-->
          <!--<ion-col col-4 style="margin-top: 2px">-->
              <!--房源id：{{item.propertyId}} <br>-->

            <!--&lt;!&ndash;<img [src]=" item?.propAvatar?imgHeader+pic(item?.propAvatar):'assets/imgs/default.jpg'" alt="" width="90%" height="70">&ndash;&gt;-->
          <!--</ion-col>-->
        <!--</ion-row>-->

      <!--</ion-item>-->
      <!--*ngIf="item.shareShow && (!ishasTag('128',item.tagsStr,item))"-->
      <ion-item-options>
        <button ion-button color="default" style="background:#1ab394;padding: 1em;" tappable (click)="cancelFavo(item.propertyId)"
        >
          <div>取</div>
          <div class="mt5">消</div>
          <div class="mt5">关</div>
          <div class="mt5">注</div>
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载中...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
