upload {

}
.camer-div,#uploadDiv,.tip_camer{
  display: inline-block;
}
.bgWrapper{
  display: inline-block;
  vertical-align: middle;
}
.img_upload{
  display: inline-block;
  vertical-align: middle;
}
