<div>
  <!--上传图片div-->
  <div id="uploadDiv" >
    <div class='upload_div' *ngFor="let item of imgData;let i = index; ">
      <span [hidden]="item.position=='add1'&&item.uploader!=localStorageProvider.get('loginInfo').user.id">
         <img src={{imgHeader+item.imagePath+smSign}}  [imgGallery]="{data:imgData,index:i}" class='img_upload'>
         <span class='close_upload deleteSty' name='cha' (tap)='delete(i,item)' *ngIf="isBtn&&isDel">x</span>
      </span>

      <span *ngIf="item.position=='add1'&&item.uploader!=localStorageProvider.get('loginInfo').user.id">
        已上传. <span *ngIf="item.uploadName">上传人：{{item.uploadName}}</span>
      </span>
    </div>

  </div>
  <div class="bgWrapper m10" id="tip_camer" (tap)="presentActionSheet()" *ngIf="isBtn">
  </div>
</div>

