page-allsearch {
  .bar-button-default-ios{
    color: #000;
  }
  .bar-button-ios{
    font-size: 1.5rem;
  }
}
.clearFloor{
  padding-left: 15px;
}
#searchContent {
  padding-top: 20px;
}
.searchFloorHeader{
  padding-top: 0px!important;
  background-color: white!important;
}
