<ion-header>

  <ion-navbar color="first">
    <ion-title>报单详情</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <div class="location" *ngIf="this.allOrder">
      <ion-list>
        <ion-item class="updateHegiht">
          <div class="p10">
            <div>报单编号：
              <span>{{this.orderDetail.orderNo}}</span>
            </div>
            <div class="m5">报单时间：
              <span>{{this.orderDetail.createTime | date:'yyyy年MM月dd日 HH:mm:ss'}}</span>
            </div>
            <div class="m5">当前环节：
              <span><font color="red">{{stapipe(orderStatus)}}</font></span>
            </div>
            <div class="m5">
              <font>报单人：
                <span>{{this.users.name}}</span>
              </font>
            </div>
            <div class="m5">
              <font>报单人部门：
                <span>{{this.users.office.name}}</span>
              </font>
            </div>
            <div class="m5">
              <font>报单人电话：
                <span>{{this.users.mobile}}</span>
              </font>
            </div>
          </div>
          <!--<div class="p10">-->
            <!--&lt;!&ndash;<div>&ndash;&gt;-->
              <!--&lt;!&ndash;不通过原因&ndash;&gt;-->
              <!--&lt;!&ndash;<font>客户身份证号与纸质合同不一致</font>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
        </ion-item>
        <button ion-item class="pl12 m10" *ngFor="let item of numJOSN"  tappable (click)="goInfo(item.val)">
          {{item.name}}
        </button>

      </ion-list>
    </div>
</ion-content>
