<ion-header>
  <ion-navbar color="first">
    <ion-title>钥匙</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="bgWhite p10" *ngIf="data?.auditStatus==3">
    <font color="red">
      <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
      &nbsp;当前钥匙正在审核，审核期间不允许修改</font>
  </div>
  <div class="bgWhite p10" *ngIf="data?.auditStatus==2">
    <font color="red">
      <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
      审核   {{data.auditStatusStr}}</font>
  </div>
  <div class="bgWhite p10" *ngIf="data?.auditStatus==1">
    <font color="red">
      <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
      审核{{data.auditStatusStr}}</font>
  </div>
  <div class="bgWhite p10" *ngIf="data?.hasPermissions=='0'">
    <font color="red">
      <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
      没有查看权限、请联系上传人或者上传人上级</font>
  </div>

  <ion-list>
    <ion-item class="pl12 hdRightInfo1" *ngIf="data?.submitterName">
      <ion-label>
        钥匙人:{{data?.submitterName }}
      </ion-label>
    </ion-item>
    <ion-item class="pl12 hdRightInfo1" *ngIf="data?.submitTime">
      <ion-label>
        上传时间:{{data?.submitTime |  date:'yyyy-MM-dd HH:mm:ss'}}
      </ion-label>
    </ion-item>
  </ion-list>

  <form [formGroup]="form"  [hidden]="data?.hasPermissions=='0'">
    <ion-list>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>钥匙编号</ion-label>
        <ion-input type="text"  class="p0" formControlName="keySn">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.keySn"  [control]="form.get('keySn')"  ></valid-error>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>钥匙存储地址</ion-label>
        <ion-input type="text"  class="p0" formControlName="keyAddress">
        </ion-input>
      </ion-item>
      <div class="attorneyPic bgWhite" >
        <span>钥匙委托协议</span> <span class="text-danger" *ngIf="data?.auditStatus!=3">(*只能上传一张照片)</span>
        <upload *ngIf="data?.auditStatus!=3&&imgJson" [useDir]="useDir"  [src]="imgJson" [desc]="'钥匙图片'" [position]="''"
                 (successEvent)="yaoChi($event)" [isBtn]="true"></upload>
        <ng-container *ngIf="data?.auditStatus==3">
          <div class="attorneyPic bgWhite" *ngFor="let item of imgJson;let i =index">
            <div class="m10">
              <img [src]="imgHeader+item.thumbnail" alt=""  [imgGallery]="{data:imgJson,index:i}"   class="img_upload">
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <img-list [imgJson]="form.value.keyDlgtFilePics"></img-list>
    <ion-grid [hidden]="data?.auditStatus==3">
      <ion-row class="p15">
        <button ion-button full color="danger" class="radius" [disabled]="form.invalid||maxImagesCount||isDisabled" (click)="goYc()"  *ngIf="!res?.success|| data?.auditStatus==2 ">上传钥匙信息</button>
        <button ion-button full color="danger" class="radius" [disabled]="form.invalid||imgData.length!=1 || isDisabled" (click)="updateYc()"  [hidden]="data?.auditStatus==2||!res?.success ">修改钥匙</button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
