 page-follow {
   .activated{
     background: #1ab394 !important;
   }
   button.activated{
     background: none !important;
   }
 }
.pl12{
    padding-left: 12px !important;
}
.updateTextaera textarea{
    width: 100%;
    padding: 5px 0;
    border: 0;
    margin-top: 4px;
    height: 28px;
    resize: none;
  //text-align: right;
}
.updateTextaera{
    margin:0 0 0 -48% !important;
}

.action-sheet-ios .action-sheet-button{
    min-height: 3rem;
    font-size: 1.5rem
}
.followMain{
    padding: 10px 21px 0 12px;
    // margin: 5px 0;
}
.followMain textarea{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #F0F0F0;
    border-radius: 5px
}

.testss.item-block .item-inner, .list-ios > .item-block:last-child .item-inner{
border: 0
}
.radius{
    border-radius: 5px;
}
.changes{
    position: absolute;
    right: 39px;
}
