// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.enable-hover a:hover{
  opacity: 1;
}
.img_upload{
  height: 96px;
  width: 120px;
}
.uFont{
  color: #fff;
  font-size: 1.8em;
  line-height: 45px;
}
.bar-button-default-ios:hover:not(.disable-hover){
  color: #fff;
}
//search-input

.searchbar-ios {
  .searchbar-input{
    height: 3rem;
  }
  .searchbar-search-icon{
    background-size: 1.4rem;
    top:.8rem;
    left:.9rem;
  }
}
.searchbar-ios.searchbar-left-aligned .searchbar-input{
  padding-left: 3rem;
  border-radius: 4px;
}

.footers{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3px;
  z-index: 99;

  ion-col{
    padding: 0;
  }
  button{
    width: 100%;
    background: #1ab394;
    border: 0;
  }
  .button-ios.activated{
    background:#1ab394 ;
  }
}
.red{
  background: red;
}


.platform-android {
  .ion-page {
    ion-header {
      padding-top: $cordova-ios-statusbar-padding;
      background-color: color($colors, first);
      .houseMenu {
        background-color: color($colors, white);
      }
    }
    .white-header {
      background-color: color($colors, white);
    }
  }
}
.platform-ios {
  .ion-page {
    ion-header {
      background-color: color($colors, first);
    }
    .white-header {
      background-color: color($colors, white);
    }
  }
  ion-footer{
    bottom: 4px;
  }
}
//房源
.houseMenu {

  ion-col{
    padding: 13px 0;
    color: #555;
    ion-icon{
      vertical-align: middle;
    }
  }
}

.adds {
  color: #1ab394;
  font-size: 3rem;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 10px;
}

.houseStatus {
  border-top: 1px solid #F5F5F5;
  padding: 6px 0;
  a {
    color: #339999;
    display: block;
    border-right: 1px solid #f2f2f2;
  }
}
.houseMain {
  margin-bottom: 10px
}
.lists {
  position: fixed; // top: 10%;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999; // color: #000
  margin-top: -13px;
  overflow:auto;
  top: 122px;
  button {
    border-radius: 5px;
    margin-top: 13px;
  }
}

.leftChange {
  height: 368px;
  overflow: scroll;

  // background: #aaa;
  //border-bottom: 1px solid #F4F4F4;
  a{
    border-bottom: 1px solid #F5F5F5;
    display: block;
    padding: 13px 10px 13px 25px;

  }
  .item-block{
    min-height:46px;
  }
}
.scrollC{
  overflow: scroll;
  height: 368px;
}
.popLocation{
  position: relative
}
.pop ,.pops{
  position: absolute;
  left: 0;
  top: 109px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index:100;
}
.btns{
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 84%;
}
.tips {
  a {
    display: inline-block;
    //font-size: xx-small;
    //font-weight: bolder;
    font-size: 1.3rem;
    padding: 0 3px;
    margin-right: 6px
  }
  a:first-child {
    background: #FEEDE9;
    color: #F98369;
  }
  a:nth-child(2) {
    background: #E7F7F7;
    color: #7DD4D0;
  }
  a:nth-child(3) {
    background: #E9F6FC;
    color: #69C2EC;
  }
  a:nth-child(4) {
    background: #F6EAF5;
    color: #C373BA;
  }
  a:nth-child(5) {
    background: #E2F5ED;
    color: #3DBD89;
  }
  a:nth-child(6) {
    background: #E8F7E4;
    color: #68CA47;
  }
  a:nth-child(7) {
    background: #e3ebee;
    color: #84abba;
  }
  a:nth-child(8) {
    background: #feffcc;
    color: #fec500;
  }
  a:nth-child(9) {
    background: #ffe1e1;
    color: #e08989;
  }
  a:nth-child(10) {
    background: #f0f0da;
    color: #d3ba64;
  }

}
//筛选选中样式
.color{
  color: #1ab394 !important;
  ion-icon{
    color: #1ab394;
  }
}
textarea{
  //-webkit-tap-highlight-color:;
  outline: none;
}
.activated{
  background: none !important;
}
//error
.errHttp{
  margin-top: -115px;
}
//font color
.defaults{
  color: #666;
}
.clear.activated{
  background: none !important;
}
