// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.enable-hover a:hover{
  opacity: 1;
}
.img_upload{
  height: 96px;
  width: 120px;
}
.uFont{
  color: #fff;
  font-size: 1.8em;
  line-height: 45px;
}
.bar-button-default-ios:hover:not(.disable-hover){
  color: #fff;
}
//search-input

.searchbar-ios {
  .searchbar-input{
    height: 3rem;
  }
  .searchbar-search-icon{
    background-size: 1.4rem;
    top:.8rem;
    left:.9rem;
  }
}
.searchbar-ios.searchbar-left-aligned .searchbar-input{
  padding-left: 3rem;
  border-radius: 4px;
}
//更多
.mores{
  div{
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0;
  }
  h4{
    font-size: 1.4rem;
  }
  a{
    display: inline-block;
    border: 1px solid #eee;
    padding: 5px 12px;
    margin: 10px 6px 0 0;
    color: #aaa;
    //font-size:1rem;
  }
}
.footer{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3px;
  z-index: 99;

  ion-col{
    padding: 0;
  }
  button{
    width: 100%;
    background: #1ab394;
    border: 0;
  }
}
.red{
  background: red;
}


.platform-android {
  .ion-page {
    ion-header {
      padding-top: 10px;
      //padding-bottom: 10px;
      background-color: color($colors, first);
    }
    ion-content{
      //margin-top: 20px;
    }
    .white-header {
      background-color: color($colors, white);
    }
  }
}

