// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//修改public——CSS
textarea{
  resize: none;
}
.alert-ios .alert-head{
  color: #222;
  .alert-radio-label{
    color: #666;
  }
}

.enable-hover a:hover{
  opacity: 1;
}
.img_upload{
  height: 96px;
  width: 120px;
}
.uFont{
  color: #fff;
  font-size: 1.8em;
  line-height: 45px;
}
.bar-button-default-ios:hover:not(.disable-hover){
  color: #fff;
}
//search-input

.searchbar-ios {
  .searchbar-input{
    height: 3rem;
  }
  .searchbar-search-icon{
    background-size: 1.4rem;
    top:.8rem;
    left:.9rem;
  }
}
.searchbar-ios.searchbar-left-aligned .searchbar-input{
  padding-left: 3rem;
  border-radius: 4px;
}

.footers{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3px;
  z-index: 99;

  ion-col{
    padding: 0;
  }
  button{
    width: 100%;
    background: #1ab394;
    border: 0;
  }
  .button-ios.activated{
    background:#1ab394 ;
  }
}
.red{
  background: red;
}


.platform-android {
  .ion-page {
    ion-header {
      padding-top: $cordova-ios-statusbar-padding;
      background-color: color($colors, first);
      .houseMenu {
        background-color: color($colors, white);
      }
    }
    .white-header {
      background-color: color($colors, white);
    }
  }
}
.platform-ios {
  .ion-page {
    ion-header {
      background-color: color($colors, first);
    }
    .white-header {
      background-color: color($colors, white);
    }
  }
  ion-footer{
    bottom: 4px;
  }
  page-housing .down{
    margin-top: 3px;
  }
}
//房源
.houseMenu {

  ion-col{
    padding: 13px 0;
    color: #555;
    ion-icon{
      vertical-align: middle;
    }
  }
}

.adds {
  color: #1ab394;
  font-size: 3rem;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 10px;
}

.houseStatus {
  border-top: 1px solid #F5F5F5;
  padding: 6px 0;
  a {
    color: #339999;
    display: block;
    border-right: 1px solid #f2f2f2;
  }
}
.houseMain {
  margin-bottom: 10px
}
.lists {
  position: fixed; // top: 10%;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999; // color: #000
  margin-top: -13px;
  overflow:auto;
  top: 124px;
  button {
    border-radius: 5px;
    margin-top: 13px;
  }
}

.leftChange {
  height: 368px;
  overflow: scroll;
  a{
    border-bottom: 1px solid #F5F5F5;
    display: block;
    padding: 13px 10px 13px 25px;

  }
  .item-block{
    min-height:46px;
  }
}
.scrollC{
  overflow: scroll;
  height: 368px;
}
.popLocation{
  position: relative
}
.pop ,.pops{
  position: absolute;
  left: 0;
  top: 118px;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.3);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index:100;
}
.pops{
  top: 0px;
  z-index: 99;
}
.btns{
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 84%;
}
.tips {
  a {
    display: inline-block;
    //font-size: xx-small;
    //font-weight: bolder;
    font-size: 1.3rem;
    padding: 0 3px;
    margin-right: 6px;
    color: #fff;
    background: #1ab394;
  }
  .shen{
    background-color: #ed5565;
    &.activated{
      background-color: #ed5565 !important;
    }
  }
  .tie{
    background-color: #f8ac59;
    &.activated{
      background-color: #f8ac59 !important;
    }
  }
  .kzks{
    background-color: #66ccff;
    &.activated{
      background-color: #66ccff !important;
    }
  }
  .bxg{
    background-color: #f6b37f;
    &.activated{
      background-color: #f6b37f !important;
    }
  }
  .yzjs{
    background-color: #f19ec2;
    &.activated{
      background-color: #f19ec2 !important;
    }
  }
  .myys{
    background-color: #9999cc;
    &.activated{
      background-color: #9999cc !important;
    }

  }
  .mwwy{
    background-color: #FF8888;
    &.activated{
      background-color: #FF8888 !important;
    }

  }
  .dhy{
    background-color: #c490bf;
    &.activated{
      background-color: #c490bf !important;
    }
  }
  .yao{
    background-color: #cfa972;
    &.activated{
      background-color: #cfa972 !important;
    }

  }
  .wei{
    background-color: #1ab394;
    &.activated{
      background-color: #1ab394 !important;
    }
  }
  .kan{
    background-color: #1c84c6;
    &.activated{
      background-color: #1c84c6 !important;
    }
  }
  .guan{
    background-color: #b2c326;
    &.activated{
      background-color: #b2c326 !important;
    }
    color: #fff;
  }
  .fa{
    background-color: #dda458;
    &.activated{
      background-color: #dda458 !important;
    }
  }
  .xiang{
    background-color: #f29b76;
    &.activated{
      background-color: #f29b76;
    }
  }
  .suo{
    background-color: #a6937c;
    &.activated{
      background-color: #a6937c;
    }
  }
}
//筛选选中样式
.color{
  color: #1ab394 !important;
  ion-icon{
    color: #1ab394;
  }
}
textarea{
  //-webkit-tap-highlight-color:;
  outline: none;
}
.activated{
  background: none !important;
}
.bar-button-default-ios.activated{
  background: none !important;
}
//error
.errHttp{
  margin-top: -115px;
}
//font color
.defaults{
  color: #666;
}
.clear.activated{
  background: none !important;
}
//refresher
.refresher-pulling-icon, .refresher-refreshing-icon{
  font-size: 25px;
}
.refresher-pulling-text, .refresher-refreshing-text{
  font-size: 14px;
}
//
.refreshTip{
  padding: 10px;
  background: #FFEAE5;
  color: #EF8473;
}
//房源详情—更多信息/价格审核
.xqCss{
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 0 15px;
  ion-col{
    padding: 6px 0;
  }
}
.yzCss{
  padding: 20px 0 0;
  ion-col{
    padding: 8px 0;
  }
}
.hdRightInfo{
  padding: 16px 0 6px;
  background: #fff;
  border-bottom: 0.55px solid #f5f5f5;
  margin-left: 12px;
  input{
    width: 75%;
    text-align: right;
    border: 0;
    font-size: 1.5rem;
  }
  button{
    border: 0;
    color: #333;
    font-size: 1.4rem;
    padding: 0;
    margin:-10px 0 0 0;
  }
  .upinput{
    width:83% !important;
  }


}
//修改activted
.update.activated{
  background: #1ab394 !important;
}
.padRight{
  padding-right: 20px;
  input{
    text-align: right;
  }
}
.rights{
  position: absolute;
  right: 16px;
  top: 16px;
}
.updateEnd{
  border-bottom: 1px solid #F5F5F5;
  padding: 5px 0;
  margin-left: 12px;
  ion-col{
    //border: 1px solid;
    padding: 0;
  }
  ion-col[col-2],
  ion-col[col-3]{
    margin-top: 12px;
  }
  ion-col[col-1]{
    text-align: right;
    margin-top: 12px;
    padding: 0 8px 0 0;

  }


  //.item-ios [item-end]{
  //  margin: 0;
  //}
  //.item-ios .item-button{
  //  padding: 0;
  //}
  //.button-outline-ios{
  //  color: #000;
  //  border: 0;
  //
  //}
  //.button-ios{
  //  background-color:#fff;
  //  color: #000;
  //}
  //.button-outline-ios.activated{
  //  color: #000 !important;
  //}
  input{
    //border: 1px solid red;
    width: 100%;
    text-align: right;
    margin: 0;
    height: 42px;
    //border: 1px solid;
    //width: 85% !important;
  }
}
ion-infinite-scroll-content{
  min-height: 15px;
}



.fab-ios-white{
  position: absolute;
  bottom: 113px;
  right: 18px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  ion-icon{
    font-size: 2.6rem;
    color: #1ab394;
  }

}
.ion-fab-list{
  position: absolute;
  top: 115px !important;
  min-width: 86%;
  left: 7%;
  right: 7%;
  background: #fff;
  min-height: 380px;
  overflow: scroll;
  z-index: 100;
  border-radius: 38px;
  h5{
    //background:#EDEDED;
    font-size: 1.5rem;
    color: #666;
    padding: 10px;
    margin:0;
    text-align: center;
  }
  h4{
    background: #f0f0f0;
    color: #7e7e7e;
    font-size: 1.3rem;
    margin: 0 0 10px 0;
    padding:8px 10px;
  }
  ion-row{
  }
  ion-col{
    text-align: center;
    margin-bottom: 10px;
  }
  img{
    border-radius: 100%;
  }
}

@media screen and(max-width: 320px) {
  .hdRightInfo{
    .upinput{
      width:78% !important;
    }
    input{
      width:70% !important;
    }
  }
  .fab-ios-white{
    bottom: 13px;

  }
}
