page-help{
  ion-textarea{
    background: #fff;
    padding: 8px 15px;
    margin-bottom: 15px;
  }
  .activated{
    background: #1ab394 !important;
  }
  .activated{
    background: #fff;
  }
}
.ustyle{
    border: 0;
    width: 100%;
    padding: 10px;
}
