page-addpassenger {

}
.separateIon{
  margin: 0 22px;
  padding: 0 10px;
}
.centers{
position: absolute;
  right:12.4rem
}
.pf{
  position: absolute;
  right: 11px;
  font-size: 1.4rem
}
.icon-xia{
    position: absolute;
    right: 1px;
    top: 12px;
    font-size: 25px !important;
}
