page-addpassenger input{
text-align: right;
}

.centers{
  position: absolute;
  height: 100%;
  width: 72%;
  top: 0;
  right: 0;
  padding-top:8px;
  .separateIon{
    width: 80%;
    margin-right: 3px;
    border: 0;
    padding: 0 10px;
  }
  .suffixs{
    position: absolute;
    right: 5px;
    font-size: 1.3rem;
    top: 7px;
  }
}

.icon-xia{
    position: absolute;
    right: 1px;
    top: 12px;
    font-size: 25px !important;
}
