page-addpassenger {
  input{
    text-align: right;
  }
  .p15{
    color: red;
    padding: 5px;
  }
}

.centers{
border-bottom: 1px solid #f5f5f5;
  ion-col[col-2]{
    font-size: 1.5rem;
    margin-top: 14px;
    padding: 0;
  }
  .separateIon{
    input{
      margin: 0;
      text-align: right;
      padding: 10px 0;
    }
    width: 100%;
    margin:0px;
    //border: 0;
    padding: 0 10px;
  }
 ion-col[col-1]{
   //border: 1px solid;
   margin-top: 10px;
 }

}

.icon-xia{
    position: absolute;
    right: 1px;
    top: 12px;
    font-size: 25px !important;
}


@media screen and(max-width: 320px)  {
  .centers{
    ion-col[col-2]{
      width: 20%;
      max-width: 20%;
      flex: 0 0 20%;
    }
    ion-col[col-4]{
      width: 32%;
      max-width: 32%;
      flex: 0 0 32%;
     }
  }
}
