<ion-header>

  <ion-navbar color="first">
    <ion-title>录入客户</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <form [formGroup]="form" >
    <ion-list>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>客户姓名<i class="text-danger">*</i></ion-label>
        <ion-input type="text" placeholder="请输入" formControlName="customerName">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.customerName"  [control]="form.get('customerName')"  ></valid-error>
      <ion-item class="pl12">
        <ion-label>客户性别<i class="text-danger">*</i></ion-label>
        <ion-select okText="确定" cancelText="关闭" [placeholder]="'请选择'" formControlName="customerGender">
          <ion-option value="1">男</ion-option>
          <ion-option value="2">女</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>客户手机<i class="text-danger">*</i></ion-label>
        <ion-input type="text" placeholder="请输入手机号" formControlName="customerPhone">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.customerPhone"  [control]="form.get('customerPhone')"  ></valid-error>

      <ion-item class="pl12">
        <ion-label>客户来源<i class="text-danger">*</i></ion-label>
          <ion-select okText="确定"    [placeholder]="'请选择'" cancelText="关闭" formControlName="customerSrc">
            <ion-option [value]="item.value"  *ngFor="let item of customerSrcList  "> {{item.label}}</ion-option>
          </ion-select>
      </ion-item>
      <valid-error [errors]="errors.customerSrc"  [control]="form.get('customerSrc')"  ></valid-error>

      <ion-item class="pl12">
        <ion-label>客户归属<i class="text-danger">*</i></ion-label>
        <ion-select okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="agentId">
          <ion-option [value]="item.id" *ngFor="let item of agentList  ">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <valid-error [errors]="errors.agentId"  [control]="form.get('agentId')"  ></valid-error>

      <ion-item class="pl12">
        <ion-label>客户等级</ion-label>
        <ion-select  okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="customerGrade">
          <ion-option [value]="item.value" *ngFor="let item of customeroGrageInfoList  ">{{item.label}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list style="margin-top: 10px" (click)="clickIntention()">
      <button ion-item class="pl12" *ngIf="right">
        <font color="#5A8FC5">客户意向</font>
      </button>
      <ion-item class="pl12" *ngIf="down" >
          <font color="#5A8FC5">客户意向</font>
          <i class="iconfont icon-xia"></i>
        </ion-item>
    </ion-list>
    <ion-list  *ngIf="showIntention">
        <ion-item class="pl12">
            <ion-label>意向区域</ion-label>
            <ion-select okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="intentionDiviCode" (ionChange)="areaChange($event)">
              <ion-option [value]="item.code" *ngFor="let item of area  ">{{item.name}}</ion-option>
            </ion-select>
          </ion-item>

        <ion-item class="pl12" >
          <ion-label>意向商圈</ion-label>
          <ion-select okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="intentionTradeCode">
            <ion-option [value]="item.code" *ngFor="let item of tradingArea  ">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item (click)="goserach()">
          <button ion-item class="pl12">
            选择楼盘
            <font color="#aaa" class="changes">
              <span >{{estateName}}</span>
            </font>
          </button>
        </ion-item>
            <ion-item class="pl12">
              <ion-label>面积要求</ion-label>
              <ion-label class="centers">
                <ion-row>
                  <ion-col col-6>
                    <input type="number" class="separateIon" formControlName="minSpaceSize" placeholder="请填写数字">
                    <span>至</span>
                  </ion-col>
                  <ion-col col-6>
                    <input type="number" class="separateIon" formControlName="maxSpaceSize" placeholder="请填写数字">
                    <span class="suffixs">㎡</span>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
            <ion-item class="pl12">
              <ion-label>价格要求</ion-label>
              <ion-label class="centers">
                <ion-row>
                  <ion-col col-6>
                    <input type="number" class="separateIon" placeholder="请填写数字">
                    <span>至</span>
                  </ion-col>
                  <ion-col col-6>
                    <input type="number" class="separateIon" placeholder="请填写数字">
                    <span class="suffixs">万元</span>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>

          <ion-item class="pl12">
            <ion-label>楼层要求</ion-label>
            <ion-label class="centers">
              <ion-row>
                <ion-col col-6>
                  <input type="number" class="separateIon" placeholder="请填写数字" formControlName="minFloor">
                  <span>至</span>
                </ion-col>
                <ion-col col-6>
                  <input type="number" class="separateIon" placeholder="请填写数字" formControlName="maxFloor">
                  <span>层</span>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <ion-item class="pl12">
            <ion-label>居室要求</ion-label>
            <ion-label class="centers">
              <ion-row>
                <ion-col col-6>
                  <input type="number" class="separateIon" formControlName="minBedroom" placeholder="请填写">
                  <span>至</span>
                </ion-col>
                <ion-col col-6>
                  <input type="number" class="separateIon" formControlName="maxBedroom" placeholder="请填写">
                  <span>室</span>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <ion-item class="pl12">
            <ion-label>客厅要求</ion-label>
            <ion-label class="centers">
              <ion-row>
                <ion-col col-6>
                  <input type="text" class="separateIon" formControlName="minHall" placeholder="请填写">
                  <span>至</span>
                </ion-col>
                <ion-col col-6>
                  <input type="text" class="separateIon" formControlName="maxHall" placeholder="请填写">
                  <span>厅</span>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <ion-item class="pl12">
            <ion-label>装修要求</ion-label>
            <ion-select okText="确定"   [placeholder]="'请选择'"  multiple="true" cancelText="关闭" formControlName="decorations">
              <ion-option value="1">毛坯</ion-option>
              <ion-option value="2">简装</ion-option>
              <ion-option value="4">中等装修</ion-option>
              <ion-option value="8">精装</ion-option>
              <ion-option value="16">豪装</ion-option>
            </ion-select>
          </ion-item>
    </ion-list>
    <ion-list style="margin-top: 10px" (click)="rests()">
      <button ion-item class="pl12" *ngIf="restRight">
        <span>其他</span>
      </button>
      <ion-item class="pl12" *ngIf="restDown" >
        <span>其他</span>
        <i class="iconfont icon-xia"></i>
      </ion-item>
    </ion-list>
    <ion-list [hidden]="!rest">
      <ion-item class="pl12">
        <ion-label>核心需求点</ion-label>
        <ion-input type="text"  placeholder="" formControlName="requiredDemands">
        </ion-input>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>核心抵触点</ion-label>
        <ion-input type="text" placeholder="" formControlName="againstDemands">
        </ion-input>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>免打扰时段开始时间</ion-label>
        <ion-datetime placeholder="请选择开始时间" formControlName="contactFreeTm1" (ionChange)="getcontactFreeTm1($event)" displayFormat="HH:mm" doneText="确定"  cancelText="取消"></ion-datetime>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>免打扰时段结束时间</ion-label>
        <ion-datetime placeholder="请选择结束时间" formControlName="contactFreeTm2" (ionChange)="getcontactFreeTm2($event)" displayFormat="HH:mm" doneText="确定"  cancelText="取消"></ion-datetime>
      </ion-item>

      <ion-item class="pl12">
        <ion-label>备注</ion-label>
        <ion-input type="text" placeholder="" formControlName="comments">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row class="p10">
        <button ion-button full color="danger"  [disabled]="form.invalid" type="button" (click)="save()" class="radius">提交</button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
