<ion-header>

  <ion-navbar color="first">
    <ion-title>录入客户</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <form [formGroup]="form" >
    <ion-list>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>客户姓名<i class="text-danger">*</i></ion-label>
        <ion-input type="text" placeholder="请输入" pattern="^[\u4e00-\u9fa5_a-zA-Z]+$" formControlName="customerName">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.customerName"  [control]="form.get('customerName')"  ></valid-error>
      <ion-item class="pl12">
        <ion-label>客户性别<i class="text-danger">*</i></ion-label>
        <ion-select #selectOne okText="确定" cancelText="关闭" [placeholder]="'请选择'" formControlName="customerGender" [selectOptions]="selectTitle('客户性别')">
          <ion-option value="1">男</ion-option>
          <ion-option value="2">女</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>客户手机<i class="text-danger">*</i></ion-label>
        <ion-input type="number" placeholder="请输入手机号" formControlName="customerPhone">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.customerPhone"  [control]="form.get('customerPhone')"  ></valid-error>

      <ion-item class="pl12">
        <ion-label>客户来源<i class="text-danger">*</i></ion-label>
          <ion-select #selectTwo okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="customerSrc" [selectOptions]="selectTitle('客户来源')">
            <ion-option [value]="item.val"  *ngFor="let item of customerSrcList | reversePipe:'val' "> {{item.name}}</ion-option>
          </ion-select>
      </ion-item>
      <valid-error [errors]="errors.customerSrc"  [control]="form.get('customerSrc')"  ></valid-error>

      <ion-item class="pl12">
        <ion-label>客户归属<i class="text-danger">*</i></ion-label>
        <ion-select #selectThree okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="agentId" [selectOptions]="selectTitle('客户归属')">
          <ion-option [value]="item.id" *ngFor="let item of agentList  ">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <valid-error [errors]="errors.agentId"  [control]="form.get('agentId')"  ></valid-error>

      <ion-item class="pl12">
        <ion-label>客户等级</ion-label>
        <ion-select #selectFour okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="customerGrade">
          <ion-option [value]="item.val" *ngFor="let item of customeroGrageInfoList | reversePipe:'val' ">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list style="margin-top: 10px" (click)="clickIntention()">
      <button ion-item class="pl12" *ngIf="right">
        <font color="#5A8FC5">客户意向</font>
      </button>
      <ion-item class="pl12" *ngIf="down" >
          <font color="#5A8FC5">客户意向</font>
          <i class="iconfont icon-xia"></i>
        </ion-item>
    </ion-list>
    <ion-list  *ngIf="showIntention">
        <ion-item class="pl12">
            <ion-label>意向区域</ion-label>
            <ion-select #selectFive okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="intentionDiviCode" >
              <ion-option [value]="item.code" *ngFor="let item of area  " (ionSelect)="areaChange(item)">{{item.name}}</ion-option>
            </ion-select>
          </ion-item>

        <ion-item class="pl12" >
          <ion-label>意向商圈</ion-label>
          <ion-select #selectSix okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="intentionTradeCode">
            <ion-option [value]="item.code" *ngFor="let item of tradingArea  ">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item (click)="goserach()">
          <button ion-item class="pl12">
            意向楼盘
            <font color="#aaa" class="changes">
              <span >{{estateName}}</span>
            </font>
          </button>
        </ion-item>
            <ion-item class="pl12">
              <ion-label>面积要求</ion-label>
              <ion-label class="centers">
                <ion-row>
                  <ion-col col-6>
                    <input type="text" class="separateIon" pattern="[0-9]*" formControlName="minSpaceSize" placeholder="请填写数字" (change)="areas()">
                    <span>至</span>
                  </ion-col>
                  <ion-col col-6>
                    <input type="text" class="separateIon" pattern="[0-9]*" formControlName="maxSpaceSize" placeholder="请填写数字" (change)="areas()">
                    <span class="suffixs">㎡</span>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
      <div *ngIf="areaTips" class="p15">*请填写数字</div>
            <div *ngIf="areaCheck" class="p15">*结束面积不能小于开始面积</div>
            <ion-item class="pl12">
              <ion-label>价格要求</ion-label>
              <ion-label class="centers">
                <ion-row>
                  <ion-col col-6>
                    <input type="text" class="separateIon" formControlName="minPrice" pattern="^[1-9]\d*\,\d*|[1-9]\d*$" placeholder="请填写数字" (change)="prices()">
                    <span>至</span>
                  </ion-col>
                  <ion-col col-6>
                    <input type="text" class="separateIon" formControlName="maxPrice" pattern="^[1-9]\d*\,\d*|[1-9]\d*$" placeholder="请填写数字" (change)="prices()">
                    <span class="suffixs">万元</span>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
      <div *ngIf="priceTips" class="p15">*请填写数字</div>
        <div *ngIf="priceCheck" class="p15">*最高价格不能小于最低价格</div>
          <ion-item class="pl12">
            <ion-label>楼层要求</ion-label>
            <ion-label class="centers">
              <ion-row>
                <ion-col col-6>
                  <input type="text" class="separateIon" pattern="[0-9]*" placeholder="请填写数字" formControlName="minFloor" (change)="floors()">
                  <span>至</span>
                </ion-col>
                <ion-col col-6>
                  <input type="text" class="separateIon" pattern="[0-9]*" placeholder="请填写数字" formControlName="maxFloor" (change)="floors()">
                  <span>层</span>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
      <div *ngIf="floorTips" class="p15">*请填写数字</div>
        <div *ngIf="floorCheck" class="p15">*最高楼不能小于最低楼层</div>
          <ion-item class="pl12">
            <ion-label>居室要求</ion-label>
            <ion-label class="centers">
              <ion-row>
                <ion-col col-6>
                  <input type="text" class="separateIon" pattern="[0-9]*" formControlName="minBedroom" placeholder="请填写" (change)="rooms()">
                  <span>至</span>
                </ion-col>
                <ion-col col-6>
                  <input type="text" class="separateIon" pattern="[0-9]*" formControlName="maxBedroom" placeholder="请填写" (change)="rooms()">
                  <span>室</span>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <div *ngIf="roomTipOne" class="p15">*请填写数字</div>
          <div *ngIf="roomTipTwo" class="p15">*居室必须填写大于0的数字或不填</div>
          <div *ngIf="roomCheck" class="p15">*最多居室不能小于最少居室</div>
          <ion-item class="pl12">
            <ion-label>客厅要求</ion-label>
            <ion-label class="centers">
              <ion-row>
                <ion-col col-6>
                  <input type="text" class="separateIon" pattern="[1-9]*" formControlName="minHall" placeholder="请填写" (change)="halls()">
                  <span>至</span>
                </ion-col>
                <ion-col col-6>
                  <input type="text" class="separateIon" pattern="[1-9]*" formControlName="maxHall" placeholder="请填写" (change)="halls()">
                  <span>厅</span>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <div *ngIf="hallTips" class="p15">*请填写数字</div>
          <div *ngIf="hallCheck" class="p15">*最多厅不能小于最少厅</div>
          <ion-item class="pl12">
            <ion-label>装修要求</ion-label>
            <ion-select #selectSev okText="确定"   [placeholder]="'请选择'"  multiple="true" cancelText="关闭" formControlName="decorationArray">
              <ion-option value="1">毛坯</ion-option>
              <ion-option value="2">简装</ion-option>
              <ion-option value="4">中等装修</ion-option>
              <ion-option value="8">精装</ion-option>
              <ion-option value="16">豪装</ion-option>
            </ion-select>
          </ion-item>
    </ion-list>
    <ion-list style="margin-top: 10px" (click)="rests()">
      <button ion-item class="pl12" *ngIf="restRight">
        <span>其他</span>
      </button>
      <ion-item class="pl12" *ngIf="restDown" >
        <span>其他</span>
        <i class="iconfont icon-xia"></i>
      </ion-item>
    </ion-list>
    <ion-list [hidden]="!rest">
      <button ion-item class="pl12" (click)="desc(1)">
        <span>核心需求点</span>
      </button>
      <button ion-item class="pl12" (click)="desc(2)">
        <span>核心抵触点</span>
      </button>
      <ion-item class="pl12">
        <ion-label>免打扰时段开始时间</ion-label>
        <ion-datetime placeholder="请选择开始时间" formControlName="contactFreeTm1" (ionChange)="getcontactFreeTm1($event)" displayFormat="HH:mm" doneText="确定"  cancelText="取消"></ion-datetime>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>免打扰时段结束时间</ion-label>
        <ion-datetime placeholder="请选择结束时间" formControlName="contactFreeTm2" (ionChange)="getcontactFreeTm2($event)" displayFormat="HH:mm" doneText="确定"  cancelText="取消"></ion-datetime>
      </ion-item>
      <button ion-item class="pl12" (click)="desc(3)">
        <span>备注</span>
      </button>
    </ion-list>

    <ion-grid>
      <ion-row class="p10">
        <button ion-button full color="danger" [disabled]="form.invalid" type="button" (click)="save()" class="radius update">提交</button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
