<ion-header>

  <ion-navbar color="first">
    <ion-title>录入客户</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <form [formGroup]="form" >
    <ion-list>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>客户姓名<i class="text-danger">*</i></ion-label>
        <ion-input type="text" placeholder="请输入" formControlName="customerName" >
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.customerName"  [control]="form.get('customerName')"  ></valid-error>
      <ion-item class="pl12">
        <ion-label>客户性别<i class="text-danger">*</i></ion-label>
        <ion-select #selectOne okText="确定" cancelText="关闭" [placeholder]="'请选择'" formControlName="customerGender" [selectOptions]="selectTitle('客户性别')">
          <ion-option value="1">男</ion-option>
          <ion-option value="2">女</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>客户手机<i class="text-danger">*</i></ion-label>
        <ion-input type="tel" placeholder="请输入手机号" formControlName="customerPhone">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.customerPhone"  [control]="form.get('customerPhone')"  ></valid-error>

      <ion-item class="pl12">
        <ion-label>客户来源<i class="text-danger">*</i></ion-label>
          <ion-select #selectTwo okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="customerSrc" [selectOptions]="selectTitle('客户来源')">
            <ion-option [value]="item.val"  *ngFor="let item of customerSrcList | reversePipe:'val' "> {{item.name}}</ion-option>
          </ion-select>
      </ion-item>
      <valid-error [errors]="errors.customerSrc"  [control]="form.get('customerSrc')"  ></valid-error>

      <ion-item class="pl12">
        <ion-label>客户归属<i class="text-danger">*</i></ion-label>
        <ion-select #selectThree okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="agentId" [selectOptions]="selectTitle('客户归属')" [disabled]="agentList.length==1">
          <ion-option [value]="item.id" *ngFor="let item of agentList  ">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <valid-error [errors]="errors.agentId"  [control]="form.get('agentId')"  ></valid-error>

      <ion-item class="pl12">
        <ion-label>客户等级</ion-label>
        <ion-select #selectFour okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="customerGrade">
          <ion-option [value]="item.val" *ngFor="let item of customeroGrageInfoList | reversePipe:'val' ">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list style="margin-top: 10px" (click)="clickIntention()">
      <button ion-item class="pl12" *ngIf="right">
        <font color="#5A8FC5">客户意向</font>
      </button>
      <ion-item class="pl12" *ngIf="down" >
          <font color="#5A8FC5">客户意向</font>
          <i class="iconfont icon-xia"></i>
        </ion-item>
    </ion-list>
    <ion-list  *ngIf="showIntention">
        <ion-item class="pl12">
            <ion-label>意向区域</ion-label>
            <ion-select #selectFive okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="intentionDiviCode"  (ionChange)="onAreaChange($event)">
              <ion-option [value]="item.code" *ngFor="let item of area  " (ionSelect)="areaChange(item)">{{item.name}}</ion-option>
            </ion-select>
          </ion-item>

        <ion-item class="pl12" >
          <ion-label>意向商圈</ion-label>
          <ion-select #selectSix okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="intentionTradeCode">
            <ion-option [value]="0" >无</ion-option>
            <ion-option [value]="item.code" *ngFor="let item of tradingArea  ">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item (click)="goserach()">
          <button ion-item class="pl12">
            意向楼盘
            <font color="#aaa" class="changes">
              <span >{{estateName}}</span>
            </font>
          </button>
        </ion-item>





            <!--<ion-item class="pl12">-->
              <!--<ion-label>面积要求</ion-label>-->
              <!--<ion-label class="centers">-->
                <!--<ion-row>-->
                  <!--<ion-col col-5>-->
                    <!--<ion-input type="text" class="separateIon"  formControlName="minSpaceSize" placeholder="请填写数字"></ion-input>-->
                  <!--</ion-col>-->
                  <!--<ion-col col-1>-->
                    <!--<span>至</span>-->
                  <!--</ion-col>-->
                  <!--<ion-col col-5>-->
                    <!--<ion-input type="text" class="separateIon"   formControlName="maxSpaceSize" placeholder="请填写数字"></ion-input>-->
                    <!--&lt;!&ndash;<span class="suffixs">㎡</span>&ndash;&gt;-->
                  <!--</ion-col>-->
                  <!--<ion-col col-1>-->
                    <!--<span>㎡</span>-->
                  <!--</ion-col>-->
                <!--</ion-row>-->
              <!--</ion-label>-->
            <!--</ion-item>-->


      <div class="bgWhite  centers">
        <ion-row class="pl12">
          <ion-col col-2>
            面积要求
          </ion-col>
          <ion-col col-4>
            <ion-input type="text" class="separateIon"  formControlName="minSpaceSize" placeholder="请填写数字" ></ion-input>
          </ion-col>
          <ion-col col-1>
            <span>至</span>
          </ion-col>
          <ion-col col-4>
            <ion-input type="text" class="separateIon"  formControlName="maxSpaceSize" placeholder="请填写数字" ></ion-input>
          </ion-col>
          <ion-col col-1>
            <span>㎡</span>
          </ion-col>
        </ion-row>
      </div>


      <valid-error [errors]="errors.minSpaceSize"  [control]="form.get('minSpaceSize')"></valid-error>
      <valid-error [errors]="errors.maxSpaceSize"  [control]="form.get('maxSpaceSize')"  ></valid-error>
            <!--<div *ngIf="areaCheck" class="p15">*结束面积不能小于开始面积</div>-->
      <div *ngIf="compare(form.value.minSpaceSize,form.value.maxSpaceSize)"  class="valid-error">*结束面积不能小于开始面积</div>
        <div class="bgWhite  centers">
            <ion-row class="pl12">
              <ion-col col-2>
                价格要求
              </ion-col>
              <ion-col col-4>
                <ion-input type="text" class="separateIon"  formControlName="minPrice" placeholder="请填写数字" ></ion-input>
              </ion-col>
              <ion-col col-1>
                <span>至</span>
              </ion-col>
              <ion-col col-4>
                <ion-input type="text" class="separateIon"  formControlName="maxPrice" placeholder="请填写数字" ></ion-input>
              </ion-col>
              <ion-col col-1>
                <span>万</span>
              </ion-col>
            </ion-row>
        </div>
      <valid-error [errors]="errors.minPrice"  [control]="form.get('minPrice')"  ></valid-error>
      <valid-error [errors]="errors.maxPrice"  [control]="form.get('maxPrice')"  ></valid-error>
        <!--<div *ngIf="priceCheck" class="p15">*最高价格不能小于最低价格</div>-->
      <div *ngIf="compare(form.value.minPrice,form.value.maxPrice)" class="valid-error">*最高价格不能小于最低价格</div>
          <!--<ion-item class="pl12">-->
            <!--<ion-label>楼层要求</ion-label>-->
            <!--<ion-label class="centers">-->
              <!--<ion-row>-->
                <!--<ion-col col-5>-->
                  <!--<ion-input type="text" class="separateIon"  placeholder="请填写数字" formControlName="minFloor"></ion-input>-->
                <!--</ion-col>-->
                <!--<ion-col col-1>-->
                  <!--<span>至</span>-->
                <!--</ion-col>-->
                <!--<ion-col col-5>-->
                  <!--<ion-input type="text" class="separateIon"  placeholder="请填写数字" formControlName="maxFloor"></ion-input>-->
                <!--</ion-col>-->
                <!--<ion-col col-1>-->
                  <!--<span>层</span>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-label>-->
          <!--</ion-item>-->

      <div class="bgWhite  centers">
        <ion-row class="pl12">
          <ion-col col-2>
            楼层要求
          </ion-col>
          <ion-col col-4>
            <ion-input type="text" class="separateIon"  formControlName="minFloor" placeholder="请填写数字" ></ion-input>
          </ion-col>
          <ion-col col-1>
            <span>至</span>
          </ion-col>
          <ion-col col-4>
            <ion-input type="text" class="separateIon"  formControlName="maxFloor" placeholder="请填写数字" ></ion-input>
          </ion-col>
          <ion-col col-1>
            <span>层</span>
          </ion-col>
        </ion-row>
      </div>


      <valid-error [errors]="errors.minFloor"  [control]="form.get('minFloor')"  ></valid-error>
      <valid-error [errors]="errors.maxFloor"  [control]="form.get('maxFloor')"  ></valid-error>
        <!--<div *ngIf="floorCheck" class="p15">*最高楼不能小于最低楼层</div>-->
      <div *ngIf="compare(form.value.minFloor,form.value.maxFloor)" class="valid-error">*最高楼不能小于最低楼层</div>
          <!--<ion-item class="pl12">-->
            <!--<ion-label>居室要求</ion-label>-->
            <!--<ion-label class="centers">-->
              <!--<ion-row>-->
                <!--<ion-col col-5>-->
                  <!--<ion-input type="text" class="separateIon"  formControlName="minBedroom" placeholder="请填写"></ion-input>-->
                <!--</ion-col>-->
                <!--<ion-col col-1>-->
                  <!--<span>至</span>-->
                <!--</ion-col>-->
                <!--<ion-col col-5>-->
                  <!--<ion-input type="text" class="separateIon"  formControlName="maxBedroom" placeholder="请填写"></ion-input>-->
                <!--</ion-col>-->
                <!--<ion-col col-1>-->
                  <!--<span>室</span>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-label>-->
          <!--</ion-item>-->

          <div class="bgWhite  centers">
            <ion-row class="pl12">
              <ion-col col-2>
                居室要求
              </ion-col>
              <ion-col col-4>
                <ion-input type="text" class="separateIon"  formControlName="minBedroom" placeholder="请填写数字" ></ion-input>
              </ion-col>
              <ion-col col-1>
                <span>至</span>
              </ion-col>
              <ion-col col-4>
                <ion-input type="text" class="separateIon"  formControlName="maxBedroom" placeholder="请填写数字" ></ion-input>
              </ion-col>
              <ion-col col-1>
                <span>室</span>
              </ion-col>
            </ion-row>
          </div>


          <div class="p15" *ngIf="(form.value.minBedroom == 0 && form.value.minBedroom!='') || (form.value.maxBedroom == 0 && form.value.maxBedroom!='')">* 不能为0</div>
          <valid-error [errors]="errors.minBedroom"  [control]="form.get('minBedroom')"  ></valid-error>
          <valid-error [errors]="errors.maxBedroom"  [control]="form.get('maxBedroom')"  ></valid-error>
          <div *ngIf="compare(form.value.minBedroom,form.value.maxBedroom)" class="valid-error">*最多居室不能小于最少居室</div>

          <!--<ion-item class="pl12">-->
            <!--<ion-label>客厅要求</ion-label>-->
            <!--<ion-label class="centers">-->
              <!--<ion-row>-->
                <!--<ion-col col-5>-->
                  <!--<ion-input type="text" class="separateIon"   formControlName="minHall" placeholder="请填写" ></ion-input>-->
                <!--</ion-col>-->
                <!--<ion-col col-1>-->
                  <!--<span>至</span>-->
                <!--</ion-col>-->
                <!--<ion-col col-5>-->
                  <!--<ion-input type="text" class="separateIon"   formControlName="maxHall" placeholder="请填写"></ion-input>-->
                <!--</ion-col>-->
                <!--<ion-col col-1>-->
                  <!--<span>厅</span>-->
                <!--</ion-col>-->
              <!--</ion-row>-->
            <!--</ion-label>-->
          <!--</ion-item>-->
      <div class="bgWhite  centers">
        <ion-row class="pl12">
          <ion-col col-2>
            客厅要求
          </ion-col>
          <ion-col col-4>
            <ion-input type="text" class="separateIon"  formControlName="minHall" placeholder="请填写数字" ></ion-input>
          </ion-col>
          <ion-col col-1>
            <span>至</span>
          </ion-col>
          <ion-col col-4>
            <ion-input type="text" class="separateIon"  formControlName="maxHall" placeholder="请填写数字" ></ion-input>
          </ion-col>
          <ion-col col-1>
            <span>厅</span>
          </ion-col>
        </ion-row>
      </div>

      <valid-error [errors]="errors.minHall"  [control]="form.get('minHall')"  ></valid-error>
      <valid-error [errors]="errors.maxHall"  [control]="form.get('maxHall')"  ></valid-error>
          <!--<div *ngIf="hallCheck" class="p15">*最多厅不能小于最少厅</div>-->
      <div *ngIf="compare(form.value.minHall,form.value.maxHall)" class="valid-error">*最多厅不能小于最少厅</div>
          <ion-item class="pl12">
            <ion-label>装修要求</ion-label>
            <ion-select #selectSev okText="确定"   [placeholder]="'请选择'"  multiple="true" cancelText="关闭" formControlName="decorationArray">
              <ion-option value="1">毛坯</ion-option>
              <ion-option value="2">简装</ion-option>
              <ion-option value="4">中等装修</ion-option>
              <ion-option value="8">精装</ion-option>
              <ion-option value="16">豪装</ion-option>
            </ion-select>
          </ion-item>
    </ion-list>
    <ion-list style="margin-top: 10px" (click)="rests()">
      <button ion-item class="pl12" *ngIf="restRight">
        <span>其他</span>
      </button>
      <ion-item class="pl12" *ngIf="restDown" >
        <span>其他</span>
        <i class="iconfont icon-xia"></i>
      </ion-item>
    </ion-list>
    <ion-list [hidden]="!rest">
      <button ion-item class="pl12" (click)="desc(1)">
        <span>核心需求点</span>
      </button>
      <button ion-item class="pl12" (click)="desc(2)">
        <span>核心抵触点</span>
      </button>
      <ion-item class="pl12">
        <ion-label>免打扰时段开始时间</ion-label>
        <ion-datetime placeholder="请选择开始时间" formControlName="contactFreeTm1" (ionChange)="getcontactFreeTm1($event)" displayFormat="HH:mm" doneText="确定"  cancelText="取消"></ion-datetime>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>免打扰时段结束时间</ion-label>
        <ion-datetime placeholder="请选择结束时间" formControlName="contactFreeTm2" (ionChange)="getcontactFreeTm2($event)" displayFormat="HH:mm" doneText="确定"  cancelText="取消"></ion-datetime>
      </ion-item>
      <button ion-item class="pl12" (click)="desc(3)">
        <span>备注</span>
      </button>
    </ion-list>

    <ion-grid>
      <ion-row class="p10">
        <button ion-button full color="danger"
                [disabled]="form.invalid ||
                 compare(form.value.minSpaceSize,form.value.maxSpaceSize) ||
                 compare(form.value.minPrice,form.value.maxPrice) ||
                 compare(form.value.minFloor,form.value.maxFloor) ||
                 compare(form.value.minBedroom,form.value.maxBedroom)||
                 compare(form.value.minHall,form.value.maxHall)||errBtnHttp" type="button" (click)="save()" class="radius update">提交</button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
