<ion-header class="first">

  <ion-navbar #navbar color="first">
    <ion-title>数据统计</ion-title>
  </ion-navbar>
  <ion-row class="houseMenu bgWhite">
    <ion-col col-4 class="tc" tappable (click)="toggleSta(1)" [ngClass]="{'color':show}">
      <span *ngIf="staff==2" [ngClass]="{'color':personName,'upWid':personName.length>6}">
        <span *ngIf="personName!='不限'">{{personName}}</span>
         <span *ngIf="personName=='不限'">{{name}}</span>
      </span>
      <span *ngIf="staff==1">部门员工</span>
      <ion-icon name="md-arrow-dropdown" [ngClass]="{'color':personName}"></ion-icon>
    </ion-col>
    <ion-col col-4 class="tc animated bounceIn" tappable (click)="toggleSta(2)" [ngClass]="{'color':time}">
      <span *ngIf="tm1 && tm2 && times == 3" class="menuWid ellipsis" [ngClass]="{'color':tm1 && tm2}">{{tm1}}-{{tm2}}</span>
      <span *ngIf="times == 2" [ngClass]="{'color':timeName}">{{timeName}}</span>
      <span *ngIf="times == 1">时间查询</span>
      <ion-icon name="md-arrow-dropdown" [ngClass]="{'menuDown':  times == 3,'color':times!=1}"></ion-icon>
    </ion-col>
    <ion-col col-4 class="tc animated bounceIn" tappable (click)="toggleSta(3)" [ngClass]="{'color':fastSearch}">
      <span *ngIf="fast==2" [ngClass]="{'color':fastName}">{{fastName}}</span>
      <span *ngIf="fast==1">快速查询</span>
      <ion-icon name="md-arrow-dropdown" [ngClass]="{'color':fastName}"></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>
  <table width="100%" class="bgWhite m10" [hidden]="errStatus">
    <tr class="tc" *ngFor="let i of tableJSON">
      <td>{{i.name}}</td>
      <td>{{i.result}}</td>
    </tr>
  </table>
</ion-content>
<div class="popLocation">
  <!-- 员工 -->
  <ion-grid class="lists p0" [@animation]="states[1]">

    <div *ngIf="department==''" style="text-align: center;padding: 15px 0 0">暂无数据</div>
    <ion-row *ngIf="all">
      <ion-col col-12>
        <div class="leftChange">
          <a *ngFor=" let item of department" (click)="go(item)"  [ngClass]="{'active': isActive(item)}">
            <span *ngIf="item.storeName">{{item.storeName}}</span>
            <span *ngIf="!item.storeName">{{item.deptName}}</span>
          </a>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="full">
      <ion-col col-7 class="p0" [ngClass]="{'col-12': person}">
        <div class="leftChange">
          <a *ngFor=" let item of department" (click)="go(item)"  [ngClass]="{'active': isActive(item)}">
            <span *ngIf="item.storeName">{{item.storeName}}</span>
            <span *ngIf="!item.storeName">{{item.deptName}}</span>
          </a>
        </div>
      </ion-col>
      <ion-col col-5 class="p0">
        <div class="leftChange updateBg" [ngClass]="{'bgWhite':person==''}">
          <ion-list radio-group>
            <ion-item *ngFor="let item of person" class="tc">
              <ion-label>{{item.personName}}</ion-label>
              <ion-radio value="{{item.personId}}" (ionSelect)="searchs(item)"></ion-radio>
            </ion-item>
          </ion-list>
          <div *ngIf="!person">暂无</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- 时间查询 -->
  <div class="lists houseType" [@animation]="states[2]" >
    <ion-list radio-group class="scrollC" [(ngModel)]="sausage[index]">
      <ion-item *ngFor="let item of titleJSON;let index =index" class="tc">
        <ion-label>{{item.name}}</ion-label>
        <ion-radio (ionSelect)="timer(item)"></ion-radio>
      </ion-item>
    </ion-list>
    <form [formGroup]="form">
      <ion-row class="tc">
        <ion-col col-5>
          <ion-datetime placeholder="请选择时间" formControlName="startTime"  (ionChange)="getcontactFreeTm1($event)"  displayFormat="YYYY/MM/DD" cancelText="关闭" doneText="确定"></ion-datetime>
        </ion-col>
        <ion-col col-2>
          至
        </ion-col>
        <ion-col col-5>
          <ion-datetime placeholder="请选择时间" formControlName="endTime" (ionChange)="getcontactFreeTm2($event)" [max]="endDate"  displayFormat="YYYY/MM/DD" cancelText="关闭" doneText="确定"></ion-datetime>
        </ion-col>
      </ion-row>
    </form>
    <ion-row class="fotBtn">
      <ion-col col-5>
        <button ion-button full color="danger" class="reset" (click)="reset()">重置</button>
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-5>
        <button ion-button full color="danger" class="sure" (click)="goTime()">确定</button>
      </ion-col>
    </ion-row>
  </div>

  <!-- 快速查询 -->
  <div class="lists houseType" [@animation]="states[3]" >
    <ion-list radio-group class="updateLine scrollFast">
      <ion-item *ngFor="let item of fastJSON"  class="tc" >
        <ion-label>{{item.name}}</ion-label>
        <ion-radio value={{item.val}} (ionSelect)="fasttips(item)"></ion-radio>
      </ion-item>
    </ion-list>
  </div>

</div>
<div class="pop" *ngIf="pop" (click)="allClose()"></div>

