page-statistics {
  .cleas{
    color: #555 !important;
  }
  .active{
    color: #1ab394;
  }
  table{
    tr td{
      width: 50%;
      padding:13px 6px;
      border-right: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
      color: #aaa;
    }
    tr td:last-child{
      font-size: 1.6rem;
      border-right: 0 solid #f2f2f2;
    }
  }
.width{
  width: 100%;
}
  .reset{
    background: none;
    border: 1px solid #1ab394;
    color: #1ab394;
  }
  form{
    margin-top: 10px;
    ion-datetime{
      border: 1px solid #F6F6F6;
    }
    ion-col[col-2]{
      margin: 10px 0;
    }
  }
  .scrollC{
    height: 225px;
  }
  .fotBtn{
    margin-bottom: 10px;
  }
  .scrollFast{
    height: 368px;
  }
  .sure.activated{
    background: #1ab394 !important;
  }
  .menuWid{
    width:85%;
    display: inline-block;
  }
  .menuDown{
    margin-top: -8px;
  }
}
