<ion-header>

  <ion-navbar #navbar color="first">
    <ion-title>数据统计</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col col-3 class="bgWhite storeList p0">
      <a class="tc" *ngFor="let i of storeJSON" (click)="go(i)"  [ngClass]="{'active':isActive(i)}">{{i.name}}</a>
    </ion-col>
    <ion-col col-9 class="storeMain">
        <div class="bgWhite topMain">
          <div class="tc seaTitle">当前搜索条件</div>
          <div class="tc">
            <span *ngIf="selected">{{name}}
              <ion-icon name="close"></ion-icon>
            </span>
          </div>
        </div>
      <div class="bgWhite contents">
        <div class="tc">
          <!--<ion-datetime placeholder="请选择时间" name="one1" displayFormat="YYYY/MM/DD" cancelText="关闭" doneText="确定"></ion-datetime>-->
        </div>
        <div class="defaults tc">—</div>
        <div class="tc">
          <!--<ion-datetime placeholder="请选择时间" name="one" displayFormat="YYYY/MM/DD" cancelText="关闭" doneText="确定"></ion-datetime>-->
        </div>

      </div>

      <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="pet" class="bgWhite">
          <ion-segment-button value="house">
            房源
          </ion-segment-button>
          <ion-segment-button value="passenger">
            客户
          </ion-segment-button>
          <ion-segment-button value="login">
            登录
          </ion-segment-button>
          <ion-segment-button value="bd">
            报单
          </ion-segment-button>
          <ion-segment-button value="kpi">
            KPI
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

      <div [ngSwitch]="pet" class="bgWhite tableList" style="">
          <table width="100%" *ngSwitchCase="'house'">
            <tr class="tc">
              <td >新增房源</td>
              <td>8</td>
            </tr>
          </table>
        <table width="100%" *ngSwitchCase="'passenger'">
          <tr class="tc">
            <td >新增房源</td>
            <td>8</td>
          </tr>
        </table>

        <table width="100%" *ngSwitchCase="'login'">
          <tr class="tc">
            <td >新增房源</td>
            <td>8</td>
          </tr>
        </table>
        <table width="100%" *ngSwitchCase="'bd'">
          <tr class="tc">
            <td >新增房源</td>
            <td>8</td>
          </tr>
        </table>
        <table width="100%" *ngSwitchCase="'kpi'">
          <tr class="tc">
            <td >新增房源</td>
            <td>8</td>
          </tr>
        </table>

      </div>

    </ion-col>
  </ion-row>
</ion-content>
