<ion-header>

  <ion-navbar #navbar color="first">
    <ion-title>数据统计</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col col-3 class="bgWhite storeList p0">
      <a class="tc ellipsis" *ngFor="let i of department" (click)="go(i)" [ngClass]="{'active':isActive(i)}">
        <span *ngIf="i.storeName">{{i.storeName}}</span>
        <span *ngIf="!i.storeName">{{i.deptName}}</span>
      </a>
    </ion-col>
    <ion-col col-9 class="storeMain">
        <div class="bgWhite topMain">
          <div class="tc seaTitle">当前搜索条件</div>
          <div class="tc">
            <span *ngIf="selected">{{name}}
              <ion-icon name="close"></ion-icon>
            </span>
          </div>
        </div>
      <div class="bgWhite contents">
        <form [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-datetime placeholder="请选择时间" formControlName="startTime"  (ionChange)="getcontactFreeTm1($event)" displayFormat="YYYY/MM/DD" cancelText="关闭" doneText="确定"></ion-datetime>
            </ion-item>
            <ion-item class="defaults">—</ion-item>
            <ion-item>
              <ion-datetime placeholder="请选择时间" formControlName="endTime" (ionChange)="getcontactFreeTm2($event)" displayFormat="YYYY/MM/DD" cancelText="关闭" doneText="确定"></ion-datetime>
            </ion-item>
          </ion-list>
        </form>

      </div>

      <ion-list>
        <button ion-item class="testCss" (click)="persons()">
          查看员工
        </button>
      </ion-list>
      <!--<div class="p15">-->
        <!--<a *ngFor="let item of titleJSON" (click)="searchs(item)">{{tipipe(item.val)}}</a>-->

      <!--</div>-->

      <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="pet" class="bgWhite">
          <ion-segment-button *ngFor="let item of titleJSON" (click)="searchs(item)">
            {{tipipe(item.val)}}
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>



      <!--<ion-toolbar no-border-top>-->
        <!--<ion-segment [(ngModel)]="pet" class="bgWhite">-->
          <!--<ion-segment-button value="house">-->
            <!--房源-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="passenger">-->
            <!--客户-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="login">-->
            <!--登录-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="bd">-->
            <!--报单-->
          <!--</ion-segment-button>-->
          <!--<ion-segment-button value="kpi">-->
            <!--KPI-->
          <!--</ion-segment-button>-->
        <!--</ion-segment>-->
      <!--</ion-toolbar>-->

      <div [ngSwitch]="pet" class="bgWhite tableList">
          <table width="100%" *ngSwitchCase="'house'" >
            <tr class="tc">
              <td>新增房源</td>
              <td >{{xzNum}}</td>
            </tr>
            <tr class="tc">
              <td>实勘房源</td>
              <td >{{skNum}}</td>
            </tr>
            <tr class="tc">
              <td>空看次数</td>
              <td >{{kkNum}}</td>
            </tr>
            <tr class="tc">
              <td>房源跟进次数</td>
              <td >{{flNum}}</td>
            </tr>
            <tr class="tc">
              <td>激活房源</td>
              <td >{{jhNum}}</td>
            </tr>

          </table>
        <table width="100%" *ngSwitchCase="'passenger'">
          <tr class="tc">
            <td >新增房源</td>
            <td>8</td>
          </tr>
        </table>

        <table width="100%" *ngSwitchCase="'login'">
          <tr class="tc">
            <td >新增房源</td>
            <td>8</td>
          </tr>
        </table>
        <table width="100%" *ngSwitchCase="'bd'">
          <tr class="tc">
            <td >新增房源</td>
            <td>8</td>
          </tr>
        </table>
        <table width="100%" *ngSwitchCase="'kpi'">
          <tr class="tc">
            <td >新增房源</td>
            <td>8</td>
          </tr>
        </table>

      </div>

    </ion-col>
  </ion-row>
</ion-content>
