page-aboutus{
  .foInfo{
    position: absolute;
    bottom: 60px;
    left: 0;
    margin: 0 30px;
    padding: 20px 0px 18px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    line-height: 24px;
    font-weight: 600;
    font-size: 15px;
  }
}
.heInfo{
  margin: 50px 0 0;
}
.heInfo h5{
  font-size: 17px;
}
.lines{
  position: absolute;
  width: 55px;
  border-bottom: 3px solid #db2624;
  bottom: 30px;
  margin-left: -66px;
}
.version{
  position: absolute;
  bottom: 18px;
  width: 100%;
  left: 0;
}
.inside-content{
  padding: 0px !important;
}
