page-startup .skipStyle{
    position: absolute;
    top: 5%;
    right: 4%;
    background: #AFA69E;
    padding: 5px 16px;
    color: #fff;
    border-radius: 5px;
}
.skipStyle a{
    color: #fff
}
