
.allStyle{
  background: #fff;
  font-size: 1.5rem;
}
.allStyle ion-row{
  border-bottom: 1px solid #f4f4f4;
  margin-left: 12px;
  height: 4.4rem;
}
.allStyle ion-row ion-col span:first-child{
  margin:15px 0 0 0;
  display: block;
}

.upI{
  height: 35px;
  line-height: 35px;
  text-align: right;
  width: 76%;
  margin: 3px 0 0 0px;
  border: 0;
}
.upPostion{
  position: absolute;
  height: 40px;
  right: 10px;
  color: #aaa;
  top: 15px;
  z-index: 1;
}
.text-danger{
  color: #ed5565;
}
