<ion-header>

  <ion-navbar color="first">
    <ion-title>录入房源</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <!--(ngSubmit)="save()"-->
  <form [formGroup]="form" >
    <ion-list (click)="goserach()" >
      <button ion-item class="pl12">
        选择楼盘<i class="text-danger">*</i>
        <font color="#aaa" class="changes">
          <span >{{form.value.estateName}}</span>
        </font>
      </button>
    </ion-list>
    <ion-list>
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>栋号<i class="text-danger">*</i></ion-label>
          <ion-input type="number" formControlName="buildingNo">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">栋</span>
      </div>
      <valid-error [errors]="errors.buildingNo"  [control]="form.get('buildingNo')"></valid-error>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>单元<i class="text-danger">*</i></ion-label>
        <ion-input type="number" pattern="[0-9]*" formControlName="unitNo" placeholder="请填写您的单元(请填写数字)"></ion-input>
      </ion-item>
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label >楼层<i class="text-danger">*</i></ion-label>
          <ion-input type="number" pattern="[0-9]*" formControlName="floorNo" placeholder="请填写数字" [ngClass]="{'form-control-danger':form.get('floorNo')&&form.get('floorNo').touched}">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">层</span>
      </div>
      <valid-error [errors]="errors.floorNo"  [control]="form.get('floorNo')"  ></valid-error>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>房间号<i class="text-danger">*</i></ion-label>
        <ion-input type="number" placeholder="请输入房间号" formControlName="houseNo" class="p0">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="m10">
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>建筑面积<i class="text-danger">*</i></ion-label>
          <ion-input type="number" formControlName="spaceSize" placeholder="请填写数字">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">平</span>
      </div>
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>套内面积</ion-label>
          <ion-input type="number" formControlName="innerSpaceSize" placeholder="请填写数字">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">平</span>
      </div>
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>价格<i class="text-danger">*</i></ion-label>
          <ion-input type="number" formControlName="propertyPrice" placeholder="请填写数字">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">万</span>
      </div>
      <ion-list (click)="clickHx()">
        <button ion-item class="pl12" *ngIf="HxRight">
          <font>户型</font>
        </button>
        <ion-item class="pl12" *ngIf="HxDown" >
          <font>户型</font>
          <i class="iconfont icon-xia"></i>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="showHx">
        <ion-item class="pl12">
          <ion-label>室</ion-label>
          <ion-select okText="确定"  cancelText="关闭"   formControlName="bedrooms" [placeholder]="'请选择'">
            <ion-option value="1">一室</ion-option>
            <ion-option value="2">二室</ion-option>
            <ion-option value="3">三室</ion-option>
            <ion-option value="4">四室</ion-option>
            <ion-option value="5">五室</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>厅</ion-label>
          <ion-select okText="确定"  cancelText="关闭"  formControlName="halls"  [placeholder]="'请选择'">
            <ion-option value="0">无</ion-option>
            <ion-option value="1">1厅</ion-option>
            <ion-option value="2">2厅</ion-option>
            <ion-option value="3">3厅</ion-option>
            <ion-option value="4">4厅</ion-option>
            <ion-option value="5">5厅</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>卫</ion-label>
          <ion-select okText="确定"  cancelText="关闭"  formControlName="bathrooms" [placeholder]="'请选择'">
            <ion-option value="0">无</ion-option>
            <ion-option value="1">1卫</ion-option>
            <ion-option value="2">2卫</ion-option>
            <ion-option value="3">3卫</ion-option>
            <ion-option value="4">4卫</ion-option>
            <ion-option value="5">5卫</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>厨</ion-label>
          <ion-select okText="确定"  cancelText="关闭"    [placeholder]="'请选择'">
            <ion-option value="0">无</ion-option>
            <ion-option value="1">一厨</ion-option>
            <ion-option value="2">二厨</ion-option>
            <ion-option value="3">三厨</ion-option>
            <ion-option value="4">四厨</ion-option>
            <ion-option value="5">五厨</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>阳</ion-label>
          <ion-select okText="确定"  cancelText="关闭"   [placeholder]="'请选择'">
            <ion-option value="0">无</ion-option>
            <ion-option value="1">一阳</ion-option>
            <ion-option value="2">二阳</ion-option>
            <ion-option value="3">三阳</ion-option>
            <ion-option value="4">四阳</ion-option>
            <ion-option value="5">五阳</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item class="pl12">
        <ion-label>朝向<i class="text-danger">*</i></ion-label>
        <ion-select okText="确定"  cancelText="关闭" [placeholder]="'请选择'" formControlName="orientation">
          <ion-option value="1">东</ion-option>
          <ion-option value="2">东南</ion-option>
          <ion-option value="3">南</ion-option>
          <ion-option value="4">西南</ion-option>
          <ion-option value="5">西</ion-option>
          <ion-option value="6">西北</ion-option>
          <ion-option value="7">北</ion-option>
          <ion-option value="8">东北</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>装修<i class="text-danger">*</i></ion-label>
        <ion-select okText="确定"  cancelText="关闭" [placeholder]="'请选择'" formControlName="decoration">
          <ion-option value="1">毛坯</ion-option>
          <ion-option value="2">清水</ion-option>
          <ion-option value="3">精装</ion-option>
          <ion-option value="4">豪装</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="m10">
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>业主姓名<i class="text-danger">*</i></ion-label>
        <ion-input type="text" placeholder="请填写业主姓名" formControlName="contact">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.contact"  [control]="form.get('contact')"  ></valid-error>
      <ion-item class="pl12">
        <ion-label>业主性别</ion-label>
        <ion-select okText="确定"  cancelText="关闭" formControlName="sex" >
          <ion-option value="male">男</ion-option>
          <ion-option value="female">女</ion-option>
        </ion-select>
      </ion-item>
      <valid-error [errors]="errors.sex"  [control]="form.get('sex')"  ></valid-error>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>业主电话1<i class="text-danger">*</i></ion-label>
        <ion-input type="number" placeholder="请填写业主电话"  formControlName="contactInfo">
        </ion-input>
      </ion-item>
      <valid-error [errors]="errors.contactInfo"  [control]="form.get('contactInfo')"  ></valid-error>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>业主电话2</ion-label>
        <ion-input type="number" placeholder="可选填" formControlName="contactInfo2" >
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list (click)="clickIntention()">
      <button ion-item class="pl12" *ngIf="right">
        <font>更多<i class="text-danger">*</i></font>
      </button>
      <ion-item class="pl12" *ngIf="down" >
        <font>更多<i class="text-danger">*</i></font>
        <i class="iconfont icon-xia"></i>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="showIntention">
      <ion-item class="pl12">
        <ion-label>建筑类型<i class="text-danger">*</i></ion-label>
        <ion-select okText="确定"   [placeholder]="'请选择'"  formControlName="buildingType" cancelText="关闭">
          <ion-option value="0">未知</ion-option>
          <ion-option value="1" >塔楼</ion-option>
          <ion-option value="2">板楼</ion-option>
          <ion-option value="3">板塔结合</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="pl12">
        <ion-label>配备电梯<i class="text-danger">*</i></ion-label>
        <ion-select okText="确定"  formControlName="hasElevator"  [placeholder]="'请选择'" cancelText="关闭">
          <ion-option value="0">无</ion-option>
          <ion-option value="1">有</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>房屋用途<i class="text-danger">*</i></ion-label>
        <ion-select okText="确定"  formControlName="buzzType"  [placeholder]="'请选择'" cancelText="关闭">
          <ion-option value="{{x.val}}" *ngFor="let x of buzzTypeJson">{{x.name}}</ion-option>
        </ion-select>
      </ion-item>

      <div class="allStyle">
        <ion-row>
          <ion-col col-4 class="p0">
            <span class="upHe">楼户比例</span>
          </ion-col>
          <ion-col col-4>
            <input type="number"  formControlName="elevators"  class="upI" />
            <span class="upPostion">梯</span>
          </ion-col>
          <ion-col col-4>
            <input type="number"  formControlName="apartments" class="upI"/>
            <span class="upPostion">户</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>

    <ion-list class="m10">
      <ion-item class="pl12">
        <!--(ionChange)="tagsSelect($event)"-->
        <ion-label>房源标签</ion-label>
        <ion-select okText="确定" cancelText="关闭"  formControlName="tags"   multiple="true" [placeholder]="'请选择'">
          <ion-option value="{{item.tagCode}}" *ngFor="let item of houLabel;let i = index">{{item.tagDesc}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list (click)="godesc()" class="m10">
      <button ion-item class="pl12">
        房源描述
      </button>
    </ion-list>
    <ion-grid>
      <ion-row>
        <button type="button" (click)="save()"   [disabled]="form.invalid" ion-button full color="danger"  class="radius">提交</button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
