<ion-header>

  <ion-navbar>
    <ion-title>房源详情</ion-title>
    <span class="records" (click)="record()">记录</span>
  </ion-navbar>

</ion-header>


<ion-content>

  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list>

      <ion-item class="pl12 hdRightInfo1">
        <ion-label>房间ID:{{data.convId}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list (click)="goserach()">
      <button ion-item class="pl12">
        选择楼盘
        <font color="#aaa" class="changes">碧桂园生态城</font>
      </button>
    </ion-list>
    <ion-list>
      <div class="hdRightInfo1">
        <ion-item class="pl12">
          <ion-label>栋号</ion-label>
          <ion-input type="text"  class="tr" formControlName="buildingNo" ></ion-input>
        </ion-item>
      </div>
      <div class="hdRightInfo1">
        <ion-item class="pl12">
          <ion-label>单元</ion-label>
          <ion-input type="number" pattern="[0-9]*"  class="tr" formControlName="unitNo" ></ion-input>
        </ion-item>
      </div>

      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>楼层</ion-label>
          <ion-input type="number" pattern="[0-9]*" formControlName="floorNo" [ngClass]="{'form-control-danger':form.get('floorNo')&&form.get('floorNo').touched}">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">层</span>
      </div>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>房间号</ion-label>
        <ion-input type="text" placeholder="请输入房间号" formControlName="houseNo" class="p0">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="m10">
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>建筑面积</ion-label>
          <ion-input type="number" formControlName="spaceSize">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">平</span>
      </div>
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>套内面积</ion-label>
          <ion-input type="number" formControlName="innerSpaceSize">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">平</span>
      </div>
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>价格</ion-label>
          <ion-input type="number" formControlName="propertyPrice">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">万</span>
      </div>
      <ion-item class="pl12">
        <ion-label>户型</ion-label>
        <ion-select okText="确定"  cancelText="关闭" [placeholder]="'请选择'">
          <ion-option value="1">一室一厅一厨一卫一阳台</ion-option>
          <ion-option value="1">一室一厅一厨一卫一阳台</ion-option>
          <ion-option value="1">一室一厅一厨一卫一阳台</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>朝向</ion-label>
        <ion-select okText="确定"  cancelText="关闭" [placeholder]="'请选择'" formControlName="orientation">
          <ion-option value="1">东</ion-option>
          <ion-option value="2">东南</ion-option>
          <ion-option value="3">南</ion-option>
          <ion-option value="4">西南</ion-option>
          <ion-option value="5">西</ion-option>
          <ion-option value="6">西北</ion-option>
          <ion-option value="7">北</ion-option>
          <ion-option value="8">东北</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>装修</ion-label>
        <ion-select okText="确定"  cancelText="关闭" [placeholder]="'请选择'" formControlName="decoration">
          <ion-option [value]="1">毛坯</ion-option>
          <ion-option [value]="2">清水</ion-option>
          <ion-option [value]="3">精装</ion-option>
          <ion-option [value]="4">豪装</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="m10">
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>业主姓名</ion-label>
        <ion-input type="text" value="张三">
        </ion-input>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>业主性别</ion-label>
        <ion-select>
          <ion-option value="change" selected>男</ion-option>
          <ion-option value="nes">男</ion-option>
          <ion-option value="n64">女</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>业主电话1</ion-label>
        <ion-input type="text" value="1555555555">
        </ion-input>
      </ion-item>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>业主电话2</ion-label>
        <ion-input type="text" value="1555555555">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list (click)="presentActionSheet()" class="m10">
      <button ion-item class="pl12">
        更多
        <font color="#aaa" class="changes">请选择</font>
      </button>
    </ion-list>
    <ion-row class="bgWhite houseTips">
      <ion-col col-4 class="pl12">
        房源标签
      </ion-col>
      <ion-col col-8>
        <a [ngClass]="{'red': !classFlag}" (click)="changeClass()">ddd</a>
        <a>ddd</a>
        <a>ddd</a>
        <a>ddd</a>
        <a>ddd</a>
        <a>ddd</a>
      </ion-col>
    </ion-row>
    <ion-list (click)="presentActionSheet()" class="m10">
      <button ion-item class="pl12">
        房源标签
      </button>
    </ion-list>
    <ion-list class="m10">
      <button ion-item class="pl12" (click)="lookHouse()">
        房源实勘
        <font color="#aaa" class="changes">无</font>
      </button>
      <button ion-item class="pl12" (click)="letterOfAttorney()">
        业主委托书
        <font color="#aaa" class="changes">有</font>
      </button>
      <button ion-item class="pl12" (click)="presentActionSheet()">
        钥匙
        <font color="#aaa" class="changes">有</font>
      </button>
      <button ion-item class="pl12" (click)="rolepeople()">
        角色人
        <font color="#aaa" class="changes">请选择</font>
      </button>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button full color="danger" *ngIf="showInfos" (click)="showInfo()" class="radius">调取敏感信息</button>
          <button ion-button full color="danger" *ngIf="follow" class="radius">跟进</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="redact" color="light">确认修改</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- 当房源被锁定时 -->
  <!-- <form>
    <div class="bgWhite p10">
      <font color="red">房源即将成交已经锁定，无法下架，修改房源信息，上传或删除图片，修改或删除住委托书，修改或删除钥匙。</font>
    </div>

    <ion-list class="m10">
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>房间ID</ion-label>
        <ion-input type="text" value="12163" class="p0">
        </ion-input>

      </ion-item>
      <button ion-item class="pl12" (click)="goserach()">
        选择楼盘
        <font color="#aaa" class="changes">碧桂园生态城</font>
      </button>
      <ion-item class="pl12" *ngIf="sensitiveInfo">
        <ion-label>栋号</ion-label>
        <ion-select>
          <ion-option value="change" selected>2栋</ion-option>
          <ion-option value="nes">1栋</ion-option>
          <ion-option value="n64">2栋</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12" *ngIf="sensitiveInfo">
        <ion-label>单元</ion-label>
        <ion-select>
          <ion-option value="change" selected>2单元</ion-option>
          <ion-option value="nes">1单元</ion-option>
          <ion-option value="n64">2单元</ion-option>
        </ion-select>
      </ion-item>
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>楼层</ion-label>
          <ion-input type="text" value="11">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">层</span>
      </div>
      <ion-item class="pl12 hdRightInfo1" *ngIf="sensitiveInfo">
        <ion-label>房间号</ion-label>
        <ion-input type="text" value="202" class="p0">
        </ion-input>
      </ion-item>
      <ion-item class="pl12 hdRightInfo1" *ngIf="sensitiveInfo">
        <ion-label>业主姓名</ion-label>
        <ion-input type="text" value="张三">
        </ion-input>
      </ion-item>
      <ion-item class="pl12 hdRightInfo1" *ngIf="sensitiveInfo">
        <ion-label>业主电话1</ion-label>
        <ion-input type="text" value="1555555555">
        </ion-input>
      </ion-item>
      <button ion-item class="pl12" (click)="presentActionSheet()">
        角色人
        <font color="#aaa" class="changes">请选择</font>
      </button>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button ion-button full  color="danger" *ngIf="showInfos"  (click)="showInfo()" class="radius">调取敏感信息</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full  color="danger" *ngIf="showInfos"  (click)="showInfo()" class="radius">调取敏感信息</button>
          <button ion-button full  color="danger" *ngIf="follow"  class="radius">跟进</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="redact" color="light">确认修改</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form> -->


  <!-- 修改价格审核中 -->
  <!-- <form>
    <ion-list>
      <ion-item class="pl12 hdRightInfo1">
        <ion-label>房间ID</ion-label>
        <ion-input type="text" value="12163" class="p0">
        </ion-input>

      </ion-item>
      <button ion-item class="pl12" (click)="goserach()">
        选择楼盘
        <font color="#aaa" class="changes">碧桂园生态城</font>
      </button>
      <ion-item class="pl12" *ngIf="sensitiveInfo">
        <ion-label>栋号</ion-label>
        <ion-select>
          <ion-option value="change" selected>2栋</ion-option>
          <ion-option value="nes">1栋</ion-option>
          <ion-option value="n64">2栋</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="pl12" *ngIf="sensitiveInfo">
        <ion-label>单元</ion-label>
        <ion-select>
          <ion-option value="change" selected>2单元</ion-option>
          <ion-option value="nes">1单元</ion-option>
          <ion-option value="n64">2单元</ion-option>
        </ion-select>
      </ion-item>
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>楼层</ion-label>
          <ion-input type="text" value="11">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">层</span>
      </div>
      <ion-item class="pl12 hdRightInfo1" *ngIf="sensitiveInfo">
        <ion-label>房间号</ion-label>
        <ion-input type="text" value="202" class="p0">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="m10">
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>建筑面积</ion-label>
          <ion-input type="text" value="97">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">平</span>
      </div>
      <div class="hdRightInfo">
        <ion-item class="pl12">
          <ion-label>套内面积</ion-label>
          <ion-input type="text" value="97">
          </ion-input>
        </ion-item>
        <span class="hdRightInfo">平</span>
      </div>
      <div class="hdRightInfo2">
        <ion-item class="pl12">
          <ion-label>价格</ion-label>
        </ion-item>
        <span>
          <font size="1">680万（22888元/m2）</font>
          <br/>
          <font color="red" size="1">修改后的价格为680万(22888元/m2)</font>
        </span>
      </div>
      <ion-item class="pl12">
        <ion-label>户型</ion-label>
        <ion-select>
          <ion-option value="change" selected>1栋</ion-option>
          <ion-option value="nes">1栋</ion-option>
          <ion-option value="n64">2栋</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button full  color="danger" *ngIf="showInfos"  (click)="showInfo()" class="radius">调取敏感信息</button>
          <button ion-button full  color="danger" *ngIf="follow"  class="radius">跟进</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="redact" color="light">确认修改</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form> -->

</ion-content>

