page-plookrecord {
  .houseMain {
    margin-top: 0 !important;
    margin-bottom: 10px;
  }
  .menuPad{
    padding: 10px 0
  }
  .alert-ios .alert-button{
    font-size: .5rem !important;
  }
  .noRecords{
    font-size: 14px !important;
  }

}
