
<ion-header>
  <ion-navbar color="first">
    <ion-title>更多</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bgWhite mores">
    <div class="outer">
      <h4>房源标签(可多选)</h4>
      <a *ngFor="let bq of tagsList;let i = index"
         [ngClass]="{'active': bq.active||initTags(bq)||isActive1(bq) }" tappable (click)="choseTag(bq,i)" >{{bq.tagDesc}}</a>
    </div>
    <div class="outer">
    <h4>朝向</h4>
    <a *ngFor="let i of cxJSON;let index =index" [ngClass]="{'active': isActive(i)}" tappable (click)="choseDirect(i)" [hidden]="index==0" >{{i.name}}</a>
    </div>
    <!--<div class="outer">-->
    <!--<h4>其他</h4>-->
    <!--<a *ngFor="let item of qtJSON" [ngClass]="{'active': isActive2(item)}" tappable (click)="choseOther(item)">{{item.name}}</a>-->
    <!--</div>-->
    <div class="outer">
      <h4>电梯</h4>
      <a *ngFor="let item of dtJson;let index =index" [ngClass]="{'active': isActive3(item)}" tappable (click)="choseDt(item)" [hidden]="index==0">{{item.name}}</a>
    </div>
    <div class="outer">
      <h4>建筑面积</h4>
      <a *ngFor="let i of spaceSizeJson;let index =index" [ngClass]="{'active': isActive7(i)}" tappable (click)="choseSpaceSize(i)"  [hidden]="index==0" >{{i.name}}</a>

    </div>
    <div class="outer">
        <h4>装修</h4>
        <a *ngFor="let i of decorationJson;let index =index" [ngClass]="{'active': isActive4(i)}" tappable (click)="chosedecoration(i)" [hidden]="index==0" >{{i.name}}</a>
    </div>

    <div class="outer">
      <h4>建筑类型</h4>
      <a *ngFor="let i of buildingTypeJson;let index =index" [ngClass]="{'active': isActive5(i)}" tappable (click)="chosebuildingType(i)" [hidden]="index==0" >{{i.name}}</a>
    </div>
    <div class="outer">
      <h4>房屋用途</h4>
      <a *ngFor="let i of buzzTypeJson;let index =index" [ngClass]="{'active': isActive6(i)}" tappable (click)="chosebuzzType(i)" [hidden]="index==0"  >{{i.name}}</a>
    </div>
  <!--<div class="outer">-->
    <!--<h4>楼层</h4>-->
    <!--<a *ngFor="let i of floorJson;let index =index" [ngClass]="{'active': isActive8(i)}" tappable (click)="chosedecoration(i)" [hidden]="index==0" >{{i.name}}</a>-->
  <!--</div>-->
</ion-content>
<ion-footer>
  <ion-row class="footers">
    <ion-col col-6>
      <button ion-button class="clear" style="background: #fff;color: #aaa" tappable (click)="reset()">清除</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button tappable (click)="confirm()">确定</button>
    </ion-col>
  </ion-row>
</ion-footer>
