
<ion-header>
  <ion-navbar color="first" #navbar>
    <ion-title>更多</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bgWhite mores">
  <div class="outer">
    <h4>房源标签</h4>
    <!-- initTags(item,'tagCode','tagsArry')  ||isActiveBase(item,'val','tags',selected)-->
    <a *ngFor="let item of tagsList | reversePipe:'val' ;let index = index  ;"
       [ngClass]="{'active': item.active||initTags(item,'val','tagsArry')}"
       tappable (click)="choseMultIple(item,'tags','tagsArry','tagsList')" >{{item.name}}</a>
  </div>
  <div class="outer">
    <h4>朝向</h4>
    <a *ngFor="let item of cxJSON;let index =index"
       [ngClass]="{'active': item.active||initTags(item,'val','orientationArry')}"
       tappable (click)="choseMultIple(item,'orientation','orientationArry','orientationList')" [hidden]="index==0" >{{item.name}}</a>
  </div>
  <div class="outer">
    <h4>电梯</h4>
    <a *ngFor="let item of dtJson;let index =index"
       [ngClass]="{'active': item.active||initTags(item,'val','hasElevatorArry')}"
       tappable (click)="choseMultIple(item,'hasElevator','hasElevatorArry','hasElevatorList')" [hidden]="index==0">{{item.name}}</a>
  </div>
  <div class="outer">
    <h4>建筑面积</h4>
    <!--||isActiveBase(item,'val','spaceSize',selected3)-->
    <a *ngFor="let item of spaceSizeJson;let index =index"
       [ngClass]="{'active': item.active||initTags(item,'val','spaceSizeArry')}"
       tappable (click)="choseMultIple(item,'spaceSize','spaceSizeArry','spaceSizeList')"  [hidden]="index==0" >{{item.name}}</a>
  </div>
  <div class="outer">
    <h4>装修</h4>
    <a *ngFor="let item of decorationJson;let index =index"
       [ngClass]="{'active': item.active||initTags(item,'val','decorationArry')}"
       tappable (click)="choseMultIple(item,'decoration','decorationArry','decorationList')" [hidden]="index==0" >{{item.name}}</a>
  </div>

  <div class="outer">
    <h4>建筑类型</h4>
    <a *ngFor="let item of buildTypeJson;let index =index"
       [ngClass]="{'active': item.active||initTags(item,'val','buildTypeArry')}"
       tappable (click)="choseMultIple(item,'buildType','buildTypeArry','buildTypeList')" [hidden]="index==0" >{{item.name}}</a>
  </div>
  <div class="outer">
    <h4>楼层位置</h4>
    <a *ngFor="let item of floorJson;let index =index"
       [ngClass]="{'active': item.active||initTags(item,'val','positionArry')}"
       tappable (click)="choseMultIple(item,'position','positionArry','positionList')" [hidden]="index==0" >{{item.name}}</a>
  </div>
</ion-content>
<ion-footer>
  <ion-row class="footers">
    <ion-col col-6>
      <button ion-button class="clear" style="background: #fff;color: #aaa" tappable (click)="reset()">清除</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button tappable (click)="confirm()">确定</button>
    </ion-col>
  </ion-row>
</ion-footer>
