<ion-header >


  <ion-navbar color="first" *ngIf="nums == 0">
    <ion-title>报单客户</ion-title>
  </ion-navbar>
  <ion-navbar color="first" *ngIf="nums == 1">
    <ion-title>报单房源</ion-title>
  </ion-navbar>
  <ion-navbar color="first" *ngIf="nums == 2">
    <ion-title>业主信息</ion-title>
  </ion-navbar>
  <ion-navbar color="first" *ngIf="nums == 3">
    <ion-title>合同信息</ion-title>
  </ion-navbar>
  <ion-navbar color="first" *ngIf="nums == 4">
  <ion-title>收款信息</ion-title>
</ion-navbar>
  <ion-navbar color="first" *ngIf="nums == 5">
    <ion-title>业绩类型</ion-title>
  </ion-navbar>
  <ion-navbar color="first" *ngIf="nums == 6">
    <ion-title>补充协议</ion-title>
  </ion-navbar>



</ion-header>

<ion-content>
  <!--报单客户-->
  <div *ngIf="customer && nums == 0">
    <ion-grid class="p0 m10">
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>客户ID：</span>
                <span>{{customer.customerSn}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>客户姓名：</span>
                <span>{{customer.customerName}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>客户性别：</span>
                <span>{{customer.customerGender=='1'?'男':'女'}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>客户电话：</span>
                <span>{{customer.customerPhone}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>身份证：</span>
                <span>{{orders.customerIdId}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>户籍所在地：</span>
                <span>{{censuspipe(orders.cstmRegCode)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <ion-label class="pl12">
                <span>通讯地址：</span>
                <span>{{orders.cstmAddrInfo}}</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--<div *ngIf="!customer" class="tc p10">暂无数据</div>-->
  <!--报单房源-->
  <div *ngIf="propertyinfo && nums == 1">
    <ion-grid class="p0 m10">
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>房源ID：</span>
                <span>{{propertyinfo.convId.slice(6)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>区县：</span>
                <span>{{propertyinfo.adminDivisionName}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>商圈：</span>
                <span>{{propertyinfo.tradingAreaName}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>楼盘名称：</span>
                <span>{{propertyinfo.estateName}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>所属楼层：</span>
                <span>{{propertyinfo.floorNo}}层</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>户型：</span>
                <span>{{propertyinfo.bedrooms}}室{{propertyinfo.halls}}厅</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>朝向：</span>
                <span>{{orpipe(propertyinfo.orientation)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>建筑年代：</span>
                <span>{{propertyinfo.buildYear}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>建筑面积：</span>
                <span>{{propertyinfo.spaceSize}}㎡</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>室内面积：</span>
                <span>{{propertyinfo.innerSpaceSize}}㎡</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>是否有车位：</span>
                <span>{{orders.hasCarport=='1'?'有':'无'}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>车位产权证号：</span>
                <span>{{orders.carportPropId}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>产权性质：</span>
                <span>{{buzzpipe(propertyinfo.buzzOwnerType)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
       <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>车位地址：</span>
                <span>{{orders.carportAddrInfo}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>丘权号：</span>
                <span>{{orders.fieldPermitId}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>房产登记时间：</span>
                <span>{{orders.permitRegTime | date:'yyyy年MM月dd日 HH:mm:ss' }}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>房屋所有权证号：</span>
                <span>{{orders.premPermitId}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>是否有土地证：</span>
                <span>{{orders.hasLandPermit =='1'?'有':'无'}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>土地证号：</span>
                <span>{{orders.landPermitId}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>抵押情况：</span>
                <span>{{pmpipe(propertyinfo.propertyMortgage)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--<div *ngIf="!propertyinfo" class="tc p10">暂无数据</div>-->
  <!--业主信息-->
  <div *ngIf="ownerinfo && nums == 2">
    <ion-grid class="p0 m10" *ngFor="let item of ownerinfo">
      <ion-row>
        <ion-col col-12 class="p0" >
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>业主姓名：</span>
                <span>{{item.ownerName}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>性别：</span>
                <span>{{item.gender =='1'?'男':'女'}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>联系方式：</span>
                <span>{{item.phone}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>身份证：</span>
                <span>{{item.identifierId}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <ion-label class="pl12">
                <span>户籍所在地：</span>
                <span>{{censuspipe(item.identifierRegCode)}}</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <ion-label class="pl12">
                <span>通讯所在地：</span>
                <span>{{item.contactAddr}}</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!ownerinfo" class="tc p10">暂无数据</div>
  <!--合同信息-->
  <div *ngIf="uers && nums == 3">
    <ion-grid class="p0 m10">
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>成交人：</span>
                <span>{{uers.name}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>联系方式：</span>
                <span>{{uers.mobile}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>签约日期：</span>
                <span>{{orders.contractSignTm | date:'yyyy年MM月dd日' }}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>成交总价：</span>
                <span>{{orders.dealCompletePrice.toFixed(2)}}万元</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>网签总价：</span>
                <span>{{orders.onlineSignPrice.toFixed(2)}}万元</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>定金：</span>
                <span>{{orders.deposit.toFixed(2)}}万元</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>首付款：</span>
                <span>{{orders.downPayment.toFixed(2)}}万元</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>尾款：</span>
                <span>{{orders.retainagePayment.toFixed(2)}}万元</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>贷款类型：</span>
                <span>{{loanspipe(orders.loanType)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>贷款：</span>
                <span>{{orders.loanPrice.toFixed(2)}}万元</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>贷款年限：</span>
                <span>{{orders.loanYears}}年</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>资金交接方式：</span>
                <span>{{deliverpipe(orders.mnyDeliverType)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>按揭人：</span>
                <span>{{orders.accommodatorNm}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>按揭人联系方式：</span>
                <span>{{orders.accommodatorPn}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>权证：</span>
                <span>{{orders.staffName}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>权证联系方式：</span>
                <span>{{orders.staffPhone}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <ion-label class="pl12">
                <span>其他：</span>
                <span>{{orders.mortgageComment}}</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!uers && nums == 3" class="tc p10">暂无数据</div>
  <!--收款信息-->
  <div *ngIf="feelist && nums == 4">
    <ion-grid class="p0 m10" *ngFor="let i of feelist">
      <ion-row>
        <ion-col col-6 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>费用类型：</span>
                <span>{{statpipe(i.srvcFeeType)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-6 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>应收金额：</span>
                <span>{{i.receivableAmount.toFixed(2)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>预计收款时间：</span>
                <span *ngIf="i.expectSrvcTime!=0">{{i.expectSrvcTime | date:'yyyy-MM-dd'}}</span>
                <span *ngIf="i.expectSrvcTime==0"></span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>预计收款节点：</span>
                <span *ngIf="i.expectSrvcNode!=0">{{i.expectSrvcNode | date:'yyyy-MM-dd'}}</span>
                <span *ngIf="i.expectSrvcNode==0"></span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>付款方：</span>
                <span>{{paypipe(i.payPerson)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!feelist" class="tc p10">暂无数据</div>
  <!--业绩类型-->
  <div *ngIf="asslist && nums == 5">
    <ion-grid class="p0 m10" *ngFor="let item of asslist">
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>分成角色：</span>
                <span>{{rolePipe(item.roleInOrder)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>业绩比例：</span>
                <span>{{item.assignRatio}}%</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>计提业绩金额	：</span>
                <span>{{item.assignedPrice.toFixed(2)}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>分成人：</span>
                <span>{{item.user.name}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>分成人联系方式：</span>
                <span>{{item.user.mobile}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 class="p0">
          <ion-list>
            <ion-item>
              <div class="pl12">
                <span>分成人部门：</span>
                <span>{{item.user.office.name}}</span>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!asslist && nums ==5" class="tc p10">暂无数据</div>
</ion-content>
