<ion-header>

  <ion-navbar>
    <ion-title>我的客户</ion-title>
    <ion-icon ios="ios-add" md="md-add" class="adds" (click)="addpassenger()"></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid class="p0" style="position: relative;">
    <div style="position: relative;">
      <ion-row class="houseMenu">
        <ion-col col-4 class="tc" (click)="showMenu1()">
          区域
          <ion-icon name="md-arrow-dropdown"></ion-icon>
        </ion-col>
        <ion-col col-4 class="tc" (click)="showMenu2()">
          户型
          <ion-icon name="md-arrow-dropdown"></ion-icon>
        </ion-col>
        <ion-col col-4 class="tc" (click)="showMenu3()">
          更多
          <ion-icon name="md-arrow-dropdown"></ion-icon>
        </ion-col>
      </ion-row>

      <!-- 区域 -->
      <ion-grid class="lists p0" *ngIf="show">
        <ion-row>
          <ion-col col-6 class="p0">
            <div class="leftChange">
              <a>不限</a>
              <a>武昌区</a>
              <a>不限</a>
              <a>不限</a>
              <a>武昌区</a>
              <a>不限</a>
              <a>不限</a>
              <a>武昌区</a>
              <a>不限</a>
              <a>不限</a>
              <a>武昌区</a>
              <a>不限</a>
            </div>
            <div class="p5 ">
              <button ion-button full color="light">重置</button>
            </div>
          </ion-col>
          <ion-col col-6 class="p0">
            <div class="leftChange updateBg">
              <ion-list radio-group>
                <ion-item>
                  <ion-label>不限</ion-label>
                  <ion-radio checked="true" value="go"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>武昌区</ion-label>
                  <ion-radio value="rust"></ion-radio>
                </ion-item>
              </ion-list>
            </div>
            <div class="p5 ">
              <button ion-button full color="danger">确定</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- 户型 -->
      <div class="lists houseType" *ngIf="houseType">
        <ion-list radio-group>
          <ion-item>
            <ion-label>不限</ion-label>
            <ion-radio checked="true" value="go"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>一室</ion-label>
            <ion-radio value="rust"></ion-radio>
          </ion-item>
        </ion-list>
        <div class="p5 btns">
          <button ion-button full color="danger">确定</button>
        </div>
      </div>


      <!-- 跟进 -->
      <div class="lists houseType" *ngIf="more">
        <ion-list radio-group>
          <ion-item>
            <ion-label>只看我的房源</ion-label>
            <ion-radio checked="true" value="go"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>待处理申请关闭</ion-label>
            <ion-radio value="rust"></ion-radio>
          </ion-item>
        </ion-list>
        <div class="p5 btns">
          <button ion-button full color="danger">确定</button>
        </div>
      </div>
    </div>
    <ion-row class="bgWhite houseMain" *ngFor=" let item of pageData; index as i;">
        <ion-col col-12 (click)="gopassengerDetail()">
            <ion-row>
              <ion-col col-9>
                <div class="ellipsis tips">
                  <font size="3">{{item.customerName}}</font>
                  <a>锁</a>
                  <a>急</a>
                  <a>约</a>
                </div>
                <p class="m5">
                  <font size="2" color="#aaa">ID:
                    <span>{{item.customerSn}}</span>
                    <span>{{item.intentionDiviCode}}</span>
                  </font>
                </p>
                <p class="m5">
                    <font size="2" color="#aaa">
                      <span>{{item.createTime | date:'yyyy年MM月dd日'}}录入</span>
                      <span>归属人：{{item.agentId}}</span>
                    </font>
                  </p>
              </ion-col>
              <ion-col col-3 class="tc m15">
                <img src="assets/imgs/phone.png" alt="" width="45" height="45">
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-12 class="houseStatus">
            <ion-row>
              <ion-col col-4 class="tc" (click)="goFollow()">
                <a>跟进</a>
              </ion-col>
              <ion-col col-4 class="tc" (click)="golook()">
                <a>约看</a>
              </ion-col>
              <ion-col col-4 class="tc" (click)="closePrivateGuest()">
                <a>关闭</a>
              </ion-col>
            </ion-row>
          </ion-col>
    </ion-row>

  </ion-grid>
  <div class="pops" *ngIf="pop" (click)="pops()"></div>
</ion-content>
