<ion-header>
  <ion-navbar #navbar color="first" >
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <ion-row class="houseMenu">
    <ion-col col-6 class="tc" tappable (click)="toggleSta(1)" >
      <span *ngIf="!base.codeFilter(params.customerSrc,customerSrcList)||base.codeFilter(params.customerSrc,customerSrcList)=='不限'">客户来源</span>
       <span *ngIf="base.codeFilter(params.customerSrc,customerSrcList)&&base.codeFilter(params.customerSrc,customerSrcList)!='不限'">{{base.codeFilter(params.customerSrc,customerSrcList)}}</span>
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </ion-col>
    <ion-col col-6 class="tc" tappable (click)="toggleSta(2)" >
      <span *ngIf="!base.codeFilter(params.orderBy,sortJson)||base.codeFilter(params.orderBy,sortJson)=='不限'">排序</span>
      <span *ngIf="base.codeFilter(params.orderBy,sortJson)&&base.codeFilter(params.orderBy,sortJson)!='不限'">{{base.codeFilter(params.orderBy,sortJson)}}</span>
      <!--*ngIf="base.codeFilter(params.orderBy,sortJson)&&base.codeFilter(params.orderBy,sortJson)!='不限'"-->
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content  class="housList" style="margin-top: 2px" >
  <ion-refresher
    [pullMax]="480"
    [pullMin]="180"
    (ionRefresh)="doRefresh($event)" class="refresh">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉推荐"
      refreshingSpinner="circles"
      refreshingText="加载数据中">
    </ion-refresher-content>
  </ion-refresher>
  <div class="tc refreshTip" *ngIf="not">暂无更新</div>
  <div class="tc refreshTip" *ngIf="haveData">已更新{{newCount}}信息</div>
  <ion-list class="housList" style="margin-top: 2px">
    <ion-item-sliding   #slidingItem >
      <ion-item style="padding: 10px 15px;"   *ngFor=" let item of pageData; index as i;">
        <ion-row  (tap)="gopassengerDetail(item)">
          <ion-col col-12 tappable>
            <div class="ellipsis tips">
              <font size="3">{{item.customerName}}</font>
            </div>
            <p class="m5">
              <font size="2" color="#aaa">
                ID:<span>{{item.customerSn}}</span>
              </font>
            </p>
            <p class="m5">
              <font size="2" color="#aaa">
                <span>{{item.createTime | date:'yyyy年MM月dd日 HH:mm:ss'}} 录入</span>
                <span>客户来源：{{item.customerSrcName}}</span>
              </font>
            </p>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-item-sliding>
  </ion-list>

  <div class="content_page" >
    <div *ngIf="hasData&&!all" class="tc">
      <ion-spinner item-start name="ios"></ion-spinner>
      <div>加载数据中...</div>
    </div>
    <div *ngIf="!hasData"  class="tc p10">
      抱歉！没有找到数据
    </div>
  </div>

  <ion-infinite-scroll   (ionInfinite)="doInfinite($event)" >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div *ngIf="all&&hasData" class="sTips">已加载全部
  </div>
  <!--</ion-grid>-->

</ion-content>

<div class="popLocation">
  <!-- 客户来源 -->
  <div class="lists houseType" [@animation]="states[1]">
    <ion-list radio-group class="scrollC">
      <ion-item  *ngFor=" let item of customerSrcList | reversePipe:'val';let i = index">
        <ion-label>{{item.name}}</ion-label>
        <ion-radio value="{{item.val}}" (ionSelect)="selectCustomerSrc(item)"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <!-- 排序-->
  <div class="lists houseType" [@animation]="states[2]">
    <ion-list radio-group class="scrollC">
      <ion-item *ngFor="let item of sortJson" >
        <ion-label>{{item.name}}</ion-label>
        <ion-radio value="{{item.val}}" (ionSelect)="selectSort(item)"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</div>
<div class="pop" *ngIf="pop" (click)="allClose()"></div>


