<ion-header>

    <ion-navbar>
      <ion-title>客户详情</ion-title>
    </ion-navbar>

  </ion-header>
  <ion-content>
    <form [formGroup]="form">
      <ion-list>
        <ion-item class="pl12 hdRightInfo1">
          <ion-label>客户姓名</ion-label>
          <ion-input type="text" placeholder="请输入" formControlName="customerName">
          </ion-input>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>客户性别</ion-label>
          <ion-select okText="确定" cancelText="关闭" [placeholder]="'请选择'" formControlName="customerGender">
            <ion-option value="1">男</ion-option>
            <ion-option value="2">女</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12 hdRightInfo1">
          <ion-label>客户手机</ion-label>
          <ion-input type="text" placeholder="请输入手机号" formControlName="customerPhone">
          </ion-input>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>客户来源</ion-label>
          <ion-select okText="确定"    [placeholder]="'请选择'" cancelText="关闭" formControlName="customerSrc">
            <ion-option [value]="item.value"  *ngFor="let item of customerSrcList  "> {{item.label}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>客户归属</ion-label>
          <ion-select okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="agentId">
            <ion-option [value]="item.id" *ngFor="let item of agentList  ">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="pl12">
          <ion-label>客户等级</ion-label>
          <ion-select  okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="customerGrade">
            <ion-option [value]="item.value" *ngFor="let item of customeroGrageInfoList  ">{{item.label}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list style="margin-top: 10px" (click)="clickIntention()">
        <button ion-item class="pl12" *ngIf="right">
          <font color="#5A8FC5">客户意向</font>
        </button>
        <ion-item class="pl12" *ngIf="down" >
            <font color="#5A8FC5">客户意向</font>
            <i class="iconfont icon-xia"></i>
          </ion-item>
      </ion-list>
      <ion-list *ngIf="showIntention">
          <ion-item class="pl12">
            <ion-label>意向区域</ion-label>
            <ion-select okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="intentionDiviCode">
              <ion-option [value]="item.code" *ngFor="let item of area  ">{{item.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="pl12">
            <ion-label>意向商圈</ion-label>
            <ion-select okText="确定"   [placeholder]="'请选择'" cancelText="关闭" formControlName="intentionTradeCode">
              <ion-option [value]="item.code" *ngFor="let item of tradingArea  ">{{item.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="pl12">
            <ion-label>意向楼盘</ion-label>
            <!--formControlName="intentionEstate"-->
            <ion-select okText="确定"    [placeholder]="'请选择'" cancelText="关闭"  formControlName="intentionEstate"
                        <!--[formControl]="form.controls['intentionEstate']"-->
                        (ngModelChange)="estateChange($event)">
              <ion-option [value]="item.id"  *ngFor="let item of estateList  "> {{item.estateName}}</ion-option>
            </ion-select>
          </ion-item>
            <div class="hdRightInfo">
              <ion-item class="pl12">
                <ion-label>面积要求</ion-label>
                <ion-input type="text">
                </ion-input>
              </ion-item>
              <span class="hdRightInfo">平</span>
            </div>
            <div class="hdRightInfo">
              <ion-item class="pl12">
                <ion-label>价格要求</ion-label>
                <ion-input type="text" placeholder="例如：100-30000">
                </ion-input>
              </ion-item>
              <span class="hdRightInfo">万</span>
            </div>
            <ion-item class="pl12">
              <ion-label>楼层要求</ion-label>
              <ion-select>
                <ion-option value="change" selected>请选择</ion-option>
                <ion-option value="nes">1栋</ion-option>
                <ion-option value="n64">2栋</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="pl12">
              <ion-label>居室要求</ion-label>
              <ion-select>
                <ion-option value="change" selected>请选择</ion-option>
                <ion-option value="nes">1栋</ion-option>
                <ion-option value="n64">2栋</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="pl12">
              <ion-label>客厅要求</ion-label>
              <ion-select>
                <ion-option value="change" selected>请选择</ion-option>
                <ion-option value="nes">1栋</ion-option>
                <ion-option value="n64">2栋</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="pl12">
              <ion-label>装修要求</ion-label>
              <ion-select>
                <ion-option value="change" selected>请选择</ion-option>
                <ion-option value="nes">1栋</ion-option>
                <ion-option value="n64">2栋</ion-option>
              </ion-select>
            </ion-item>
      </ion-list>
      <ion-list class="m10">
        <ion-item class="pl12">
          <ion-label>其他</ion-label>
          <ion-select>
            <ion-option value="change" selected>请选择</ion-option>
            <ion-option value="nes">1栋</ion-option>
            <ion-option value="n64">2栋</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row class="p10">
          <ion-col col-4>
          <button ion-button color="danger" full type="button" (click)="save()" class="radius">确认修改</button>
          </ion-col>
          <ion-col col-4>
              <button class="radius updateBtn" (click)="passengerLook()">约看</button>
          </ion-col>
          <ion-col col-4>
              <button class="radius updateBtn" (click)="passengerFollow()">跟进</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
