<ion-header  class="white-header">
  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bgWhite">
  <form [formGroup]="form" (ngSubmit)="update()">
    <ion-list class="m10">
      <ion-item class="pl12">
        <ion-label>旧密码</ion-label>
        <ion-input type="password" placeholder="请输入旧密码" clearInput formControlName="plainPassword"></ion-input>
      </ion-item>
      <ion-item class="pl12">
        <ion-label>新密码</ion-label>
        <ion-input type="password" placeholder="6-21字母和数字组成" clearInput formControlName="newPassword" (ionChange)="checkes()"></ion-input>
      </ion-item>
      <!--<ion-item class="pl12">-->
        <!--<ion-label>确认新密码</ion-label>-->
        <!--<ion-input type="password" placeholder="请确认新密码" formControlName="verifyPassword"></ion-input>-->
      <!--</ion-item>-->
      <ion-item *ngIf="lengthTips" class="pl12"> <font color="red">* 密码长度不能大于21位</font></ion-item>
      <ion-item *ngIf="tips" class="pl12"> <font color="red">* 请填写6-21位字母或数字填写</font></ion-item>

    </ion-list>

    <div padding>
      <button ion-button block color="danger" [disabled]="form.invalid || lengthTips || tips">确认提交</button>
    </div>
  </form>

</ion-content>
