<ion-header>
    <ion-navbar>
      <ion-title>房源实勘</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <!-- 没有实勘-->
    <!--<form>-->
      <!--<div class="bgWhite p10">-->
        <!--<font color="red">-->
          <!--<ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>-->
          <!--&nbsp;达成实勘标准为：最先上传室厅厨卫各一张</font>-->
      <!--</div>-->
      <!--<ion-list class="m10">-->

        <!--<div class="attorneyPic bgWhite" (click)="presentActionSheet()">-->
          <!--<span>门牌号</span>-->
          <!--<div class="bgWrapper m10" *ngIf="!path"></div>-->
          <!--<div *ngIf="path">-->
            <!--<img [src]="path"/>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="attorneyPic bgWhite" (click)="presentActionSheet()">-->
          <!--<span>户型图</span>-->
          <!--<div class="bgWrapper m10" *ngIf="!path"></div>-->
          <!--<div *ngIf="path">-->
            <!--<img [src]="path"/>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="attorneyPic bgWhite" (click)="presentActionSheet()">-->
          <!--<span>室内图</span>-->
          <!--<div class="bgWrapper m10" *ngIf="!path"></div>-->
          <!--<div *ngIf="path">-->
            <!--<img [src]="path"/>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="attorneyPic bgWhite" (click)="presentActionSheet()">-->
          <!--<span>卧室图</span>-->
          <!--<div class="bgWrapper m10" *ngIf="!path"></div>-->
          <!--<div *ngIf="path">-->
            <!--<img [src]="path"/>-->
          <!--</div>-->
        <!--</div>-->
        <!--</ion-list>-->
      <!--<ion-grid>-->
        <!--<ion-row class="p10">-->
          <!--<button ion-button full color="danger" class="radius">提交</button>-->
        <!--</ion-row>-->
      <!--</ion-grid>-->
    <!--</form>-->

    <!-- 有实勘 -->
    <!--<form>-->
      <!--<ion-list>-->
        <!--<ion-item class="pl12 hdRightInfo1">-->
          <!--<ion-label>实勘人</ion-label>-->
          <!--<ion-input type="text" value="里都是实打实打算" class="p0">-->
          <!--</ion-input>-->
        <!--</ion-item>-->
        <!--<ion-item class="pl12 hdRightInfo1">-->
          <!--<ion-label>实勘时间</ion-label>-->
          <!--<ion-input type="text" value="里都是实打实打算" class="p0">-->
          <!--</ion-input>-->
        <!--</ion-item>-->
      <!--</ion-list>-->
      <!--<ion-list class="m10">-->

        <!--<div class="attorneyPic bgWhite" (click)="presentActionSheet()">-->
          <!--<span>门牌号</span>-->
          <!--<div class="bgWrapper m10" *ngIf="!path"></div>-->
          <!--<div *ngIf="path">-->
            <!--<img [src]="path"/>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="attorneyPic bgWhite" (click)="presentActionSheet()">-->
          <!--<span>户型图</span>-->
          <!--<div class="bgWrapper m10" *ngIf="!path"></div>-->
          <!--<div *ngIf="path">-->
            <!--<img [src]="path"/>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="attorneyPic bgWhite" (click)="presentActionSheet()">-->
          <!--<span>室内图</span>-->
          <!--<div class="bgWrapper m10" *ngIf="!path"></div>-->
          <!--<div *ngIf="path">-->
            <!--<img [src]="path"/>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="attorneyPic bgWhite" (click)="presentActionSheet()">-->
          <!--<span>卧室图</span>-->
          <!--<div class="bgWrapper m10" *ngIf="!path"></div>-->
          <!--<div *ngIf="path">-->
            <!--<img [src]="path"/>-->
          <!--</div>-->
        <!--</div>-->
      <!--</ion-list>-->
      <!--<ion-grid>-->
        <!--<ion-row class="p10">-->
          <!--<button ion-button full color="danger" class="radius">提交</button>-->
        <!--</ion-row>-->
      <!--</ion-grid>-->
    <!--</form>-->

    <!-- 实勘审核中不能修改 -->
    <form>
      <div class="bgWhite p10">
        <font color="red">
          <ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon>
          &nbsp;实勘图正在审核，审核期间不允许删除图片</font>
      </div>
      <ion-list class="m10">

        <div class="attorneyPic bgWhite">
          <span>门牌号:</span>
          <upload [useDir]="useDir" [desc]="'门牌'" [position]="''" (successEvent)="menPai($event)"></upload>
        </div>

        <div class="attorneyPic bgWhite">
          <span>户型图</span>
          <upload [useDir]="useDir" [desc]="'户型'" [position]="''" (successEvent)="huXin($event)"></upload>
        </div>

        <div class="attorneyPic bgWhite" (click)="presentActionSheet()">
          <span>室内图</span>
          <div class="bgWrapper m10" *ngIf="!path"></div>
          <div *ngIf="path">
            <img [src]="path"/>
          </div>
        </div>
        <div class="attorneyPic bgWhite" (click)="presentActionSheet()">
          <span>卧室图</span>
          <div class="bgWrapper m10" *ngIf="!path"></div>
          <div *ngIf="path">
            <img [src]="path"/>
          </div>
        </div>
        </ion-list>
    </form>
  </ion-content>
