.wtPic img{
  margin: 0 10px;
}
.attorneyPic{
    padding: 10px 12px;
}
.bgWrapper{
    background: url(assets/imgs/uoloadbg.png) no-repeat center ;
    height: 96px;
    width: 120px;
    border: 1px solid #f8f8f8;

}
.bgWrapper input{
    width: 100%;
    height: 100%;
    opacity: 0;
}
